{# Location: Europe #}

<div id="modal--europe-01" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/agrii@3x.png') }}" alt="Agrii logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-01; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Poland</h2>

		<p>Agrii Polska is a provider of specialist agronomy services directly to arable and grassland farm enterprises in Poland.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-02" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/agrii@3x.png') }}" alt="Agrii logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-02; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Romania</h2>

		<p>Agrii Romania is a provider of specialist agronomy services directly to arable and grassland farm enterprises in Ukriane.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-03" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/agrii@3x.png') }}" alt="Agrii logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-03; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Ukraine</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-04" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/pillaert@3x.png') }}" alt="Pillaert logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-04; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Belgium</h2>

		<p>Pillaert-Mekoson provides standard and prescription fertilisers in Belgium and the surrounding regions.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-05" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rhiza-bm-st-black-rgb-aw@3x.png') }}" alt="Rhiza logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-05; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Poland</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-06" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rhiza-bm-st-black-rgb-aw@3x.png') }}" alt="Rhiza logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-06; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Romania</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--europe-07" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rhiza-bm-st-black-rgb-aw@3x.png') }}" alt="Rhiza logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--europe-07; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Ukraine</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>