{# Location: UK #}

<div id="modal--uk-01" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/agrii@3x.png') }}" alt="Agrii logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-01; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Agrii, is the leading provider of specialist agronomy services directly to arable, fruit and vegetable growers in the UK.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-02" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/goulding-logo@3x.png') }}" alt="Goulding logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-02; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Ireland</h2>

		<p>Gouldings, is Irelands leading manufacturer and distributer of complete range of fertilisers and granulated lime for over 160 years.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>

<div id="modal--uk-03" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/origin-logo@3x.png') }}" alt="Origin logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-03; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Origin Fertiliser, is the premium manufacturer and distributor of blended and straight fertilisers to the UK market.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-04" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/humber-palmers-logo-700-x-122@3x.png') }}" alt="Humber Palmers logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-04; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-05" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/origin-ni-logo@3x.png') }}" alt="Origin NI logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-05; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Northern Ireland</h2>

		<p>Origin Northern Ireland Limited is a leading provider of seed, chemicals, fencing wire, feed supplements and granulated lime.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-06" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rigby-taylor@3x.png') }}" alt="Rigby Taylor logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-06; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Based in the United Kingdom, the company is a leading service provider, supplying innovative products and technical solutions to the professional sports turf, landscape and amenity industry.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-07" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/headland-logo@3x.png') }}" alt="Headland logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-07; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-08" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/main-logo@3x.png') }}" alt="PB Kent logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-08; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>PB Kent is the leading independent manufacturer of specialist fertiliser for a wide range of customers engaged in the marketing and distribution of specialist products.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-09" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/logo@3x.png') }}" alt="Linemark logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-09; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-10" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/symbio@3x.png') }}" alt="Symbio logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-10; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-11" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/ag-space@3x.png') }}" alt="Ag-Space logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-11; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-12" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rhiza-bm-st-black-rgb-aw@3x.png') }}" alt="Rhiza logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-12; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-13" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/download@3x.png') }}" alt="Turfkeeper logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-13; cls: uk-open;"></a>

		<h2 class="uk-modal-title">United Kingdom</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--left"></span>

	</div>

</div>

<div id="modal--uk-14" class="modal--location">

	<div class="uk-modal-dialog uk-modal-body">

		<img src="{{ url('assets/img/rh-hall-logo@3x.png') }}" alt="R&H Hall logo">

		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #modal--uk-14; cls: uk-open;"></a>

		<h2 class="uk-modal-title">Ireland</h2>

		<p>R&H Hall, jointly owned by Origin and W&R Barnett Limited, is Ireland's leading importer and supplier of raw material ingredients to the Irish animal feed manufacturing and flour milling industry, through the operation of an extensive trading, shipping and logistics capability.</p>

		<a href="#" class="uk-button">Visit Website</a>

		<span class="arrow arrow--right"></span>

	</div>

</div>