{# Banner #}

{% if entry.banner|length %}

	{% for block in entry.banner.all() %}

		{% switch block.type %}

			{# Banner with Background Image #}

			{% case "bannerBgImg" %}

				{% include '_inc/_banner/_bannerBgImg' %}

			{# Banner Inner Page #}

			{% case "bannerInner" %}

				{% include '_inc/_banner/_bannerInner' %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}