{# Inner Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--inner temp--corp-news" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('corporateNews')
    .slug(craft.app.request.getSegment(2))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# Banner #}

    <section class="hero-secondary-section">

        <div class="uk-container">

            <div class="infoblock-el">

                <div uk-grid class="uk-child-width-1-2@m uk-grid-collapse uk-flex-middle">

                    <div>

                        <div class="text-block">

                            {# Heading #}

                            <h1>{{ entry.title }}</h1>

                            {# Date #}

                            <p>{{ entry.postDate|date('jS M Y') }}</p>

                        </div>

                    </div>

                    {# Image #}

                    {% if entry.img|length %}

                        <div>

                            <div class="image-container">

                                <div class="image-wrapper">

                                    <div class="image-block">

                                        <div class="uk-cover-container">

                                            {% set asset = entry.img.one %}

                                            {% set transformedImages = craft.imager.transformImage(asset, [
                                                { width: 1200, jpegQuality: 100 }, 
                                                { width: 960, jpegQuality: 100 },
                                                { width: 768, jpegQuality: 70 }, 
                                                { width: 640, jpegQuality: 65 }, 
                                                { width: 480, jpegQuality: 65 }
                                            ], { position: 'center-center', jpegQuality: 100 }) %}

                                            <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </section>

    {# Copy #}

    <section class="simple-text-section">

        <div class="uk-container">

            <div class="text-block">

                {{ entry.copy }}

                <p class="uk-margin-large-top"><a href="{# {{ url(craft.app.request.getSegment(1) ~ '/' ~ craft.app.request.getSegment(2)) }} #}{{ url('news/corporate-news') }}" class="uk-button uk-button-news"><span uk-icon="icon: chevron-double-left; ratio: 1.35;"></span>Back to news</a></p>

            </div>

        </div>

    </section>

    <div class="uk-padding"></div>

{% endblock %}