{# Menu - Footer Bottom #}

{% set nodes = craft.navigation.nodes()
    .handle('footerBottom')
    .all()
%}

{% if nodes|length %}

	<ul id="menu-footer-menu" class="">

		{% nav node in nodes %}

			<li class="menu-item"><a href="{{ node.url }}">{{ node.title }}</a></li>

		{% endnav %}

	</ul>

{% endif %}