{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}

<div class="nav">

	<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

		<div class="uk-navbar-right">

			<ul id="menu-menu" class="uk-navbar-nav">

				{% nav node in nodes %}

					<li class="menu-item{% if node.classes %} {{ node.classes }}{% endif %}{% if node.active %} current-menu-item{% endif %}{% if node.hasDescendants %} menu-item-has-children{% endif %}{% if node.hasActiveChild %} current-menu-parent{% endif %}">

						<a href="{{ node.url }}"{% if node.newWindow == 1 %} target="_blank"{% endif %}>{{ node.title }}</a>

						{% ifchildren %}

		                	<ul class="sub-menu">

				                {% children %}

				            </ul>

			            {% endifchildren %}

			        </li>

				{% endnav %}
			
			</ul>

		</div>

	</nav>

</div>