{# Menu - Mobile #}

{% set nodesMobile = craft.navigation.nodes()
    .handle('socialMedia')
    .all()
%}

<ul class="social-links">

	{% nav node in nodesMobile %}

		<li>

			<a href="{{ node.url }}" title="{{ node.title }}"{% if node.newWindow == 1 %} target="_blank"{% endif %}>

				{% if node.img|length %}

					{% set asset = node.img.one() %}
					
					<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

				{% else %}
					
					{{ node.title }}

				{% endif %}

			</a>

		</li>

	{% endnav %}

</ul>