{# Animated Arrows #}

{% set type = 'regular' %}

{% if arrowType is defined %}

	{% set type = arrowType %}

{% endif %}

<div class="block--animated-arrows">

	<div class="inner--animated-arrows">
	
		<div class="arrow arrow--1">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--1-2">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--2">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--2-2">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--3">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--3-2">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--4 uk-visible@s">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>

		<div class="arrow arrow--4-2 uk-visible@s">
		
			<img src="{{ url('assets/img/banner-arrow-' ~ type ~ '.svg') }}" alt="arrow">
		
		</div>
	
	</div>

</div>