{# Block - Resources #}

<section class="section--news-events section--resources hide--element" uk-scrollspy="cls: animated show--element fadeInUp; delay: 500;">

	<div class="uk-container">
	
		<div class="grid--news-events--content uk-grid-collapse uk-flex" uk-grid>

			{# News/Events List #}

			{% set listType = 'faqs' %}

			{% if block.whichList == 'downloads' %}

				{% set articlesQuery = craft.entries()
				    .section('downloads')
				    .limit(10) %}

				{% set listType = 'downloads' %}
				
			{% else %}
				
				{% set articlesQuery = craft.entries()
				    .section('faqs')
				    .limit(10) %}

			{% endif %}

			{% paginate articlesQuery as pageInfo, articles %}

			{% if listType == 'faqs' %}

				{# FAQs List #}

				<div class="block--faqs--list uk-width-1-1 uk-width-2-3@s uk-width-2-3@m">
				
					<div class="inner--faqs--list">
					
						{% if articles|length %}

							{% for article in articles %}

								<div class="block--faq">
								
									<ul class="accordion--level-1" uk-accordion>

									    <li>

									        <a class="uk-accordion-title uk-accordion-title--level-1" href="#">{{ loop.index  }}. <span>{{ article.title }}</span></a>

									        <div class="uk-accordion-content">

									        	<div class="block--faq--level-1">
									        	
									        		{% if article.faqs|length %}

										        		{% set faqs = article.faqs.all() %}

										        		<ul class="accordion--level-2" uk-accordion>

										        			{% for faq in faqs %}

										        				<li>

															        <a class="uk-accordion-title uk-accordion-title--level-2" href="#">{{ faq.heading }}</a>

															        <div class="uk-accordion-content">

															        	<div class="block--faq--level-2">
															        	
															        		{{ faq.copy }}
															        	
															        	</div>

															        </div>

															    </li>
										        				
										        			{% endfor %}

														</ul>

										        	{% endif %}
									        	
									        	</div>

									        </div>

									    </li>

									</ul>
								
								</div>
								
							{% endfor %}

						{% else %}
							


						{% endif %}
					
					</div>
				
				</div>

			{% else %}
				
				{# Downloads List #}

				<div class="block--news-events--list uk-width-1-1 uk-width-2-3@s uk-width-2-3@m">
				
					<div class="inner--news-events--list" uk-height-match=".article--list-item--img">

						{% if articles|length %}

							{% for article in articles %}

								<div class="block--article--list-item">
								
									<div class="grid--article--list-item" uk-grid>

										{# Article Image #}

										{% set assetUrl = url('assets/img/download-resource.svg') %}

										{% if article.img|length %}

											{% set assetUrl = article.img.one().getUrl() %}

										{% endif %}

										<div class="article--list-item--img uk-width-1-1 uk-width-1-3@m uk-width-2-5@l">
										
											<div class="inner--list-item--img">

												{% if article.file|length %}

													{% set download = article.file.one() %}

													<a href="{{ download.getUrl() }}"><img src="{{ assetUrl }}" alt="{{ article.title }}"></a>

												{% else %}
													
													<img src="{{ assetUrl }}" alt="{{ article.title }}">

												{% endif %}
											
											</div>
										
										</div>
									
										{# Artcile Copy #}

										<div class="article--list-item--copy uk-width-1-1 uk-width-2-3@m uk-width-3-5@l">
										
											<div class="inner--list-item--copy uk-height-1-1">

												<div class="list-item--copy--category">

													<p>Download</p>
												
												</div>

												{# Heading #}

												<h3>{{ article.title }}</h3>

												<p>{{ article.postDate|date('F j, Y') }}</p>

												{% if article.file|length %}

													{% set download = article.file.one() %}

													<div class="list-item--copy--button">
													
														<a href="{{ download.getUrl() }}" class="uk-button button--transparent button--sm">Download</a>
													
													</div>

												{% endif %}
													
											</div>
										
										</div>
									
									</div>
								
								</div>
								
							{% endfor %}

							{% if pageInfo.totalPages > 1 %}

								<div class="block--news-events--pagination">
								
									<ul class="uk-pagination">

										{% if pageInfo.prevUrl %}

											<li><a href="{{ pageInfo.prevUrl }}">Newer {{ listType }}</a></li>

										{% endif %}

										{% if pageInfo.nextUrl %}

											<li><a href="{{ pageInfo.nextUrl }}">Older {{ listType }}</a></li>

										{% endif %}

									</ul>
								
								</div>

							{% endif %}

						{% else %}
							
							<div class="grid--article--list-item" uk-grid>

								<div class="article--list-item--copy uk-width-1-1 empty">
									
									<div class="inner--list-item--copy">

										<p>There are currnetly no {{ listType }}.</p>

									</div>

								</div>

							</div>

						{% endif %}
					
					</div>
				
				</div>

			{% endif %}

			{# Sidebar #}

			<div class="block--sidebar uk-width-1-1 uk-width-1-3@s uk-width-1-3@m uk-flex-first@s">
			
				<div class="inner--sidebar">

					{# Nav #}
					
					{% include "_inc/_sidebar/_nav" with { listType : listType, parent : 'resources' } %}
			
				</div>
			
			</div>
		
		</div>
	
	</div>

</section>