{# Block - Service Copy #}

<section class="section--service--copy">

	<div class="uk-container">

		<div class="block--service--copy">
		
			<div class="inner--service--copy">

				{{ entry.copy }}

			</div>
		
		</div>

	</div>

</section>