{# Block - Testimonial #}

{% if block.testimonials|length %}

	{% set testimonials = block.testimonials.all() %}

	<section class="section--testimonials">

		<div uk-slider="finite: false">

			<div class="uk-slider-items uk-child-width-1-1">

				{% for testimonial in testimonials %}

					<div class="slide--testimonial">

						<div class="container--testimonial{% if loop.first %} hide-element{% endif %}"{% if loop.first %} uk-scrollspy="cls: animated show--element fadeInUp; delay: 100"{% endif %}>
			
							{# Image #}

							{% if testimonial.img|length %}

								<div class="block--testimonial--img">
								
									<div class="inner--testimonial--img">
									
										{% set asset = testimonial.img.one() %}

										<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}"{% if loop.first %} class="hide--element" uk-scrollspy="cls: animated show--element fadeInLeft; delay: 600"{% endif %}>
									
									</div>
								
								</div>

							{% endif %}

							{# Copy #}

							<div class="block--testimonial--copy">
							
								<div class="inner--testimonial--copy">

									{# Quote #}

									{% if testimonial.quote|length %}
									
										<div class="testimonial--quote">
										
											{{ testimonial.quote }}
										
										</div>

									{% endif %}

									{# Author #}

									{% if testimonial.author|length or testimonial.jobTitle|length %}

										<div class="testimonial--author">
										
											{% if testimonial.author|length %}

												<p class="author">{{ testimonial.author }}</p>

											{% endif %}

											{% if testimonial.jobTitle|length %}

												<p class="job-title">{{ testimonial.jobTitle }}</p>

											{% endif %}
										
										</div>

									{% endif %}

									{# Navigation #}

									<div class="testimonial--nav">
									
										<a href="#" uk-slidenav-next uk-slider-item="next">

											More testimonials <img src="{{ url('assets/img/icon-testimonial-arrow.svg') }}" alt="More testimonials arrow">

										</a>
									
									</div>
								
								</div>
							
							</div>

						</div>

					</div>
					
				{% endfor %}
				
			</div>

		</div>

	</section>

{% endif %}