{# Block: Banner Share Price #}

<section class="shared-price-section hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 500;"> 

	<div class="uk-container">

		{% set sharesQuery = craft.entries()
		    .section('sharePrice')
		    .orderBy('title desc')
		%}

		{% set shares = sharesQuery.all() %}

		{% if shares|length %}

			<div class="shared-price-block">

			<div uk-grid class="uk-grid-small uk-flex-middle uk-grid-collapse">

				<div class="uk-width-1-4 uk-width-1-3@s">

					<div class="share-price-switcher">

						<ul uk-switcher="connect: .switcher-container; animation: uk-animation-fade;">

							{% for share in shares %}

								<li><a href="#">{{ share.title }}</a></li>
								
							{% endfor %}

						</ul>

					</div>

				</div>

				<div class="uk-width-1-2 uk-width-1-3@s">

					<div class="share-price-cost">

						<ul class="uk-switcher switcher-container uk-margin">

							{% for share in shares %}

								<li>

									<div class="cost-block">

										{# Price #}

										<p class="price">{{ share.price|currency('EUR') }}</p>

										{# Label #}

										{% set dateNow = now|atom %}
										{% set currentDate = dateNow|date('d/m/Y H:i') %}
										{% set shareDate = share.dateUpdated|date('d/m/Y H:i') %}
										{# {% set shareDate = share.postDate|date('d/m/Y') %} #}

										<div class="" hidden>
										
											{{ currentDate }} - {{ shareDate }}
										
										</div>

										{% if currentDate < shareDate %}

											{% set timeLabel = "Share price yesterday" %}

										{% else %}
											
											{# {% set timeLabel = "Share price " ~ share.time.diff(now)|duration(false) ~ " ago" %} #}

											{% set timeLabel = "Share price " ~ share.dateUpdated.diff(now)|duration(false) ~ " ago" %}

										{% endif %}
										
										<p class="desc">{{ timeLabel }}</p>

									</div>

							    </li>
								
							{% endfor %}

						</ul>

					</div>

				</div>

				<div class="uk-width-1-4 uk-width-1-3@s">

					<div class="share-price-updates">

						<ul class="uk-switcher switcher-container uk-margin">

							{% for share in shares %}

								<li>

							    	<div class="updates-block">

							    		{# Percent #}

							    		{% set percentDirection = "zero" %}

							    		{% if share.percentage starts with '-' %}

							    			{% set percentDirection = "down" %}

							    		{% elseif share.percentage starts with '+' %}

							    			{% set percentDirection = "up" %}

										{% endif %}

										{% set percentage = share.percentage|replace({'-': '', '+': ''}) %}

							    		<p class="update-percent {{ percentDirection }}">{{ percentage }}%</p>

							    		{# Point #}

							    		{% set pointDirection = "zero" %}

							    		{% if share.point starts with '-' %}

							    			{% set pointDirection = "down" %}

							    		{% elseif share.point starts with '+' %}

							    			{% set pointDirection = "up" %}

										{% endif %}

										{% set point = share.point|replace({'-': '', '+': ''}) %}

							    		<p class="update-price {{ pointDirection }}">{{ point }}</p>

							    	</div>	

							    </li>

							{% endfor %}

						</ul>

					</div>

				</div>

			</div>

		</div>

		{% endif %}

		{# Button #}

		{% if sharePrices.defaultLink|length %}

			{% set attributes = {
				class: 'uk-button goto'
            } %}

            {{ sharePrices.defaultLink.link(attributes) }}

		{% endif %}

	</div>

</section>