{# Block: Background Image CTAs #}

{% if block.ctas|length %}

	{% set ctas = block.ctas.all() %}

	<section class="list-section {{ block.size }}"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		{% if block.size == "small" %}<div class="uk-container">{% endif %}

		<ul class="type-list uk-flex uk-flex-middle" uk-scrollspy="target: > li; cls:uk-animation-slide-bottom-small; delay: 200">

			{% for cta in ctas %}

				{% set link = "javascript: return false;" %}

				{% if cta.ctaLink|length %}

					{% set link = cta.ctaLink.url %}

				{% endif %}

				<li class="type-list-el">

					<a href="{{ link }}" class="uk-cover-container{% if cta.includeButton == 1 %} add--button{% endif %}">

						{% if cta.img|length %}

							{% set asset = cta.img.one() %}

							{% set transformedImages = craft.imager.transformImage(asset, [
								{ width: 1200, jpegQuality: 100 }, 
								{ width: 960, jpegQuality: 100 },
								{ width: 768, jpegQuality: 70 }, 
								{ width: 640, jpegQuality: 65 }, 
								{ width: 480, jpegQuality: 65 }
							], { position: 'center-center', jpegQuality: 100 }) %}

						    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>
							
							{# <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover> #}
							
						{% endif %}

						{% if cta.heading|length %}

							<span class="text uk-position-center">{{ cta.heading|raw }}</span>

						{% endif %}

					</a>

				</li>
				
			{% endfor %}

		</ul>

		{% if block.size == "small" %}</div>{% endif %}

	</section>

{% endif %}