{# Block: Contact #}

<section class="contact-section"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

	<div class="uk-container">

		<div uk-grid class="uk-child-width-1-2@m">

			<div>

				<div class="left-side hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					{# Form Copy #}

					{% if block.formCopy|length %}

						<div class="text-block">

							{{ block.formCopy }}

						</div>

					{% endif %}

					{# Form #}

					{% if block.form|length %}

						<div class="contact-form">

							<div class="form-container">

								{{ craft.freeform.form(block.form.handle).render() }}

								{# <?php echo do_shortcode( '[contact-form-7 id="6" title="Contact form 1"]', false ); ?> #}

							</div>

						</div>

					{% endif %}

				</div>

			</div>

			<div>

				<div class="right-side hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

					{# Address #}

					{% if block.address|length %}

						<div class="text-block">

							{{ block.address }}

						</div>

					{% endif %}

					{# Map #}

					{% if block.map|length %}

						<div class="map-wrapper">

							{{ block.map|raw }}

						</div>

					{% endif %}

				</div>

			</div>

		</div>

	</div>

</section>