{# Block: Figures #}

<section class="key-figures-section{% if block.overlapBlockAbove == 1 %} overlap{% endif %}"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

	<div class="uk-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;" id="key-figures-block--{{ currentLoop }}">

		<div class="key-figures-block">

			{# Heading #}

			{% if block.heading|length %}

				<div class="title">

					<h2>{{ block.heading }}</h2>

				</div>

			{% endif %}

			{# Columns #}

			{% if block.cols|length %}

				{% set cols = block.cols.all() %}

				<div uk-grid class="uk-child-width-1-3@m">

					{% for col in cols %}

						<div>

							<div class="key-figures-el">

								{% if col.figure|length %}

									<h3>
										{% spaceless %}

											{{ col.symbolBefore }}{% if col.countNumberAnimation == 1 %}<span data-count="{{ col.figure }}" class="stat--amount">0.0</span>{% else %}{{ col.figure }}{% endif %}{{ col.symbolAfter }}

										{% endspaceless %}
									</h3>

								{% endif %}

								{% if col.label|length %}

									<p>{{ col.label }} </p>

								{% endif %}

							</div>

						</div>
						
					{% endfor %}

				</div>

			{% endif %}

		</div>

		{% if block.button|length %}

			{% set attributes = {
				class: 'uk-button uk-text-uppercase'
            } %}

            {{ block.button.link(attributes) }}

		{% endif %}

	</div>

</section>

{# JavaScript #}

{% js %}


    UIkit.util.on('#key-figures-block--{{ currentLoop }}', 'inview', function () {

        $('#key-figures-block--{{ currentLoop }} .stat--amount').each(function() {

            var $this = $(this),
            countTo = $this.attr('data-count');
            
            $({ countNum: $this.text()}).animate({
                countNum: countTo
            },

                {
                    duration: 1500,
                    easing:'linear',
                    step: function() {
                    $this.text(commaSeparateNumber(Math.floor(this.countNum)));
                },
                    complete: function() {
                    $this.text(commaSeparateNumber(this.countNum));
                }

            });

        });

 	});

	function commaSeparateNumber(val) {

		while (/(\d+)(\d{3})/.test(val.toString())) {

			val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');

		}

		return val;

	}

{% endjs %}