{# Block: History Timeline #}

{# Heading #}

{% if block.heading|length %}

	<section class="section--timeline--heading hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>
	
		<div class="uk-container">
		
			<div class="block--heading">
			
				<h2>{{ block.heading }}</h2>
			
			</div>
		
		</div>
	
	</section>

{% endif %}

{# Timneline #}

{% if block.years|length %}

	{% set years = block.years.all() %}

	{% for year in years %}

		<section class="section--timeline--entry{% if loop.first %} first{% endif %}{{ cycle(['', ' bg--grey'], loop.index0) }} hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 0;">
			
			<div class="uk-container">

				{# Year Heading #}

				{% if year.year|length %}

					<div class="block--timeline--year hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 500;">
					
						<h3>{{ year.year }}</h3>

						<div class="timeline"></div>
					
					</div>

				{% endif %}

				{# Lines #}

				{% if year.lines|length %}

					{% set lines = year.lines.all() %}

					{% for line in lines %}

						<div class="grid--timeline-entry uk-grid-collapse" uk-grid>

							<div class="uk-width-1-1 uk-width-1-2@m block--timeline--event {% if line.size == "medium" and line.desktoplayout == "left" and line.img|length and line.imageCopyLayout == "left" %}event--1897-01{% elseif line.size == "large" and line.desktoplayout == "right" and line.img|length %}event--1897-02{% elseif line.img|length == 0 and line.desktoplayout == "left" and line.size == "medium" and line.imageCopyLayout == "center" %}event--1988-02{% elseif line.img|length == 1 and line.desktoplayout == "right" and line.size == "medium" and line.imageCopyLayout == "left" %}event--1988-01{% elseif line.img|length == 1 and line.size == "small" and line.imageCopyLayout == "center" and line.desktoplayout == "left" %}event--1997-01{% elseif line.imageCopyLayout == "center" and line.desktoplayout == "right" and (line.size == "medium" or line.size == "small") %}event--2006-01{% elseif line.desktoplayout == "left" and line.size == "medium" and line.imageCopyLayout == "center" %}event--2007-01{% elseif line.desktoplayout == "left" and line.size == "small" and line.imageCopyLayout == "center" %}event--2007-03{% elseif line.desktoplayout == "right" and line.size == "small" and line.imageCopyLayout == "left" %}event--2007-04{% endif %}">

								<div class="uk-grid-collapse" uk-grid>

									{# Image #}

									{% if line.img|length %}

										{% set asset = line.img.one() %}

										{% set transformedImages = craft.imager.transformImage(asset, [
											{ width: 1200, jpegQuality: 100 }, 
											{ width: 960, jpegQuality: 100 },
											{ width: 768, jpegQuality: 70 }, 
											{ width: 640, jpegQuality: 65 }, 
											{ width: 480, jpegQuality: 65 }
										], { position: 'center-center', jpegQuality: 100 }) %}

										{% if line.img|length == 1 and line.size == "small" and line.imageCopyLayout == "center" and line.desktoplayout == "left" %}

											<div class="uk-width-1-2@m uk-visible@m"></div>

										{% endif %}

										<div class="uk-width-1-1 uk-width-1-2@s {% if line.img|length == 1 and line.size == "small" and line.imageCopyLayout == "center" %}uk-width-1-2@m{% elseif line.imageCopyLayout == "center" and line.size == "medium" %}uk-width-1-1@m{% elseif line.desktoplayout == "right" and line.size == "small" and line.imageCopyLayout == "left" %}uk-width-1-4@s{% else %}uk-width-1-3@m{% endif %}{% if line.imageCopyLayout == "right" %} uk-flex-last@s{% endif %} uk-flex uk-flex-middle">
										
											<div class="block--event--img hide-element uk-width-1-1{% if (line.imageShadow == "img-bg img-bg--bottom-left img-bg--bottom-left--sm" or line.imageShadow == "img-bg img-bg--bottom-right img-bg--bottom-right--sm") and line.imageCopyLayout == "center" %} shadow-padding{% endif %}
											" uk-scrollspy="cls: show-element animated fadeIn; delay: 750;">

												<div class="inner--event--img {{ line.imageShadow }}">
												
													<img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">
												
												</div>
											
											</div>
										
										</div>

									{% endif %}

									{# Copy #}

									{% if line.copy|length %}

										{% if line.img|length == 1 and line.size == "small" and line.imageCopyLayout == "center" and line.desktoplayout == "left" %}

											<div class="uk-width-1-2@m uk-visible@m"></div>

										{% endif %}

										<div class="uk-width-1-1 {% if line.img|length == 1 and line.size == "small" and line.imageCopyLayout == "center" and line.desktoplayout == "left" %}uk-width-1-2@s uk-width-1-2@m{% elseif line.imageCopyLayout == "center" and line.size == "medium" %}uk-width-1-1@m{% elseif line.desktoplayout == "right" and line.size == "small" and line.imageCopyLayout == "left" %}uk-width-1-4@s{% elseif line.img|length == 1 %}uk-width-1-2@s uk-width-2-3@m{% endif %} uk-flex uk-flex-middle">
									
											<div class="block--event--copy uk-width-1-1">

												<div class="inner--event--copy hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 1000;">
											
													{{ line.copy }}

													{# <p>elseif line.img|length == {{ line.img|length }} and line.desktoplayout == "{{ line.desktoplayout }}" and line.size == "{{ line.size }}" and line.imageCopyLayout == "{{ line.imageCopyLayout }}"</p> #}

												</div>
											
											</div>

										</div>

									{% endif %}
								
								</div>
							
							</div>

							<div class="uk-width-1-2@m uk-visible@m{% if line.desktoplayout == "right" %} uk-flex-first{% endif %}"></div>
					
						</div>

					{% endfor %}

				{% endif %}

			</div>
		
		</section>
		
	{% endfor %}

{% endif %}