{# BLock: Image & Copy (home) #}

{% set layoutClassCopy = "uk-width-2-5@m" %}
{% set layoutClassImg = "uk-width-3-5@m" %}
{% set sectionClass = "learn-more-section" %}

{% if block.imageRatio == "square" %}

	{% set layoutClassCopy = "uk-width-1-2@m" %}
	{% set layoutClassImg = "uk-width-1-2@m" %}
	{% set sectionClass = "infoblock-section" %}

{% endif %}

{% if block.smallImg|length %}

	{% set layoutClassCopy = "uk-width-3-5@m" %}
	{% set layoutClassImg = "uk-width-2-5@m" %}

	{% if block.imageRatio == "square" %}

		{% set layoutClassCopy = "uk-width-1-2@m" %}
		{% set layoutClassImg = "uk-width-1-2@m" %}

	{% endif %}

{% endif %}

<section class="learn-more-section"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

	<div class="uk-container">

		<div class="learn-more-block{% if block.layoutPosition|length and block.layoutPosition == "right" %} reverse{% endif %}">

			<div uk-grid class="uk-grid-collapse uk-flex">

				{# Image #}

				{% if block.img|length %}

					<div class="{{ layoutClassImg }}{% if block.layoutPosition|length and block.layoutPosition == "right" %} uk-flex-last@m{% endif %}">

						<div class="image-block hide-element {{ block.imageShadow }}" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

							<div class="uk-cover-container">

								{% set asset = block.img.one() %}

								{% set transformedImages = craft.imager.transformImage(asset, [
									{ width: 1200, jpegQuality: 100 }, 
									{ width: 960, jpegQuality: 100 },
									{ width: 768, jpegQuality: 70 }, 
									{ width: 640, jpegQuality: 65 }, 
									{ width: 480, jpegQuality: 65 }
								], { position: 'center-center', jpegQuality: 100 }) %}

							    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>
							
								{# <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover> #}

							</div>

						</div>

					</div>

				{% endif %}

				{# Copy #}

				{% if block.copy|length %}

					<div class="{{ layoutClassCopy }}{% if not block.smallImg|length %} uk-flex uk-flex-middle{% endif %}">

						<div class="text-block hide-element"{% if not block.img|length %} style="max-width: none;"{% endif %} uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

							{{ block.copy }}

							{# Button #}

							{% if block.button|length %}

								{% set attributes = {
									class: 'uk-button uk-text-uppercase'
					            } %}

					            {{ block.button.link(attributes) }}

							{% endif %}

						</div>

						{% if block.smallImg|length %}

							<div class="image-block-small hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

								<div class="uk-cover-container">

									{% set asset = block.smallImg.one() %}

									{% set transformedImages = craft.imager.transformImage(asset, [
										{ width: 1200, jpegQuality: 100 }, 
										{ width: 960, jpegQuality: 100 },
										{ width: 768, jpegQuality: 70 }, 
										{ width: 640, jpegQuality: 65 }, 
										{ width: 480, jpegQuality: 65 }
									], { position: 'center-center', jpegQuality: 100 }) %}

								    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>
							
									{# <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover> #}

								</div>

							</div>

						{% endif %}

					</div>

				{% endif %}

			</div>

		</div>

	</div>

</section>