{# Block: Map Locations Call to Action #}

<section class="section--map-cta">

	<div class="uk-container">

		{# Heading #}
	
		{% if block.heading|length %}

			<div class="simple-text-section hide-element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">
			
				<div class="text-block">

					<h2>{{ block.heading }}</h2>

				</div>
			
			</div>

		{% endif %}

		{# Image #}

		{% if block.img|length %}

			<div class="map-cta--img hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
			
				{% if block.ctaLink %}

					<a href="{{ block.ctaLink.url }}">

				{% endif %}

				{% set asset = block.img.one() %}
			
				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

				{% if block.ctaLink %}

					</a>

				{% endif %}
			
			</div>

		{% endif %}
	
	</div>

</section>