{# Block: News List #}

<section class="simple-tab-section"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

	<div class="uk-container">

		<div class="title">

			<h3>Latest News</h3>

		</div>

		<div class="switcher-tabs" uk-switcher="animation: uk-animation-fade; toggle: > *">

				<button class="uk-button" type="button">2019</button>

				<button class="uk-button" type="button">2018</button>

				<button class="uk-button" type="button">2017</button>

		</div>



		<ul class="uk-switcher uk-margin">

		    <li>

		    	<section class="row-table-section analyst two-row">

		    		<div class="uk-container">

		    			<div class="table-block uk-overflow-auto">

		    				<table class="uk-table">

		    				    <thead>

		    				        <tr>

		    				            <th><p>Title</p></th>

		    				            <th><p>Date</p></th>

		    				        </tr>

		    				    </thead>

		    				    <tbody>

		    				        <tr>

		    				            <td><a href="http://www.originenterprises.com/template/pdf/Conditional_Agreement_to_dispose_of_Cork_Docklands_Landholding.pdf" class="attachment-link pdf" target="_blank">Conditional Agreement to Dispose of Cork Docklands Landholding</a></td>

		    				            <td class="news-date"><p>9 July 2019</p></td>

		    				        </tr>

		    				        <tr>

		    				            <td><a href="http://www.originenterprises.com/template/pdf/Origin_Trading_Update_19_06_2019.pdf" class="attachment-link pdf" target="_blank">Trading update</a></td>

		    				            <td class="news-date"><p>19 June 2019</p></td>

		    				        </tr>

		    				        <tr>

		    				            <td><a href="http://www.originenterprises.com/template/pdf/2019_Capital_Markets_Day_Announcement.pdf" class="attachment-link pdf" target="_blank">2019 Capital Markets Day Announcement</a></td>

		    				            <td class="news-date"><p>8 May 2019</p></td>

		    				        </tr>

		    				        <tr>

		    				            <td><a href="http://www.originenterprises.com/template/pdf/2019_Interim_Results_Announcement.pdf" class="attachment-link pdf" target="_blank">2019 Interim Results Announcement</a></td>

		    				            <td class="news-date"><p>6 March 2019</p></td>

		    				        </tr>

		    				    </tbody>

		    				</table>

		    			</div>

		    		</div>

		    	</section>

		    </li>

		    <li>

		    	<section class="row-table-section analyst two-row">

		    		<div class="uk-container">

		    			<div class="table-block uk-overflow-auto">

		    				<table class="uk-table">

		    				    <thead>

		    				        <tr>

		    				            <th><p>Title</p></th>

		    				            <th><p>Date</p></th>

		    				        </tr>

		    				    </thead>

		    				    <tbody>

		                      

		                        <tr>

		                           <td><p><a href="http://www.originenterprises.com/template/pdf/Q1_Origin_Trading_Update_2019.pdf" class="attachment-link pdf" target="_blank">Trading Update</a></p></td>

		                           <td><p class="news-date">23 November 2018</p></td>

		                       </tr>

		                       <tr>

		                           <td><p><a href="http://www.originenterprises.com/template/pdf/2018_Preliminary_Results_Announcement.pdf" class="attachment-link pdf" target="_blank">2018 Preliminary Results Announcement</a></p></td>

		                           <td><p class="news-date">26 September 2018</p></td>

		                       </tr>



		                       <tr>

		                           <td><p><a href="http://www.originenterprises.com/template/pdf/Origin-Organisational-Announcement-260918.pdf" class="attachment-link pdf" target="_blank">Organisational Announcement</a></p></td>

		                           <td><p class="news-date">26 September 2018</p></td>

		                       </tr>

		                       

		                       <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/origin-completion-of-acquisition-14-august-2018.pdf" class="attachment-link pdf" target="_blank">Completion of Acquisition</a></p></td>

		                        <td><p class="news-date">14 August 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Origin-Organisational-Announcement-310718.pdf" class="attachment-link pdf" target="_blank">Organisational Announcement</a></p></td>

		                        <td><p class="news-date">31 July 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Q3_Origin_Trading_Update_2018.pdf" class="attachment-link pdf" target="_blank">Trading Update</a></p></td>

		                        <td><p class="news-date">19 June 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Geographical_Expansion_into_South_America.pdf" class="attachment-link pdf" target="_blank">Geographical Expansion into South America</a></p></td>

		                        <td><p class="news-date">19 June 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Appointment_of_Chief_Financial_Officer.pdf" class="attachment-link pdf" target="_blank">Appointment of Chief Financial Officer</a></p></td>

		                        <td><p class="news-date">7 June 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/2018_Interim_Results_Announcement.pdf" class="attachment-link pdf" target="_blank">2018 Interim Results Announcement</a></p></td>

		                        <td><p class="news-date">8 March 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Origin_Organisational_Announcement_March_2018.pdf" class="attachment-link pdf" target="_blank">Organisational Announcement</a></p></td>

		                        <td><p class="news-date">8 March 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/Origin_Organisational_Announcement_2018.pdf" class="attachment-link pdf" target="_blank">Organisational Announcement</a></p></td>

		                        <td><p class="news-date">14 February 2018</p></td>

		                    </tr>



		                    <tr>

		                        <td><p><a href="http://www.originenterprises.com/template/pdf/2018_Announcement_of_Acquisition.pdf" class="attachment-link pdf" target="_blank">Announcement of Acquisition</a></p></td>

		                        <td><p class="news-date">23 January 2018</p></td>

		                    </tr>

		                    

		                </tbody>

	    				</table>

	    			</div>

	    		</div>

	    		</section>

	   		</li>

            <li>

		    	<section class="row-table-section analyst two-row">

		    		<div class="uk-container">

		    			<div class="table-block uk-overflow-auto">

		    				<table class="uk-table">

		    				    <thead>

		    				        <tr>

		    				            <th><p>Title</p></th>

		    				            <th><p>Date</p></th>

		    				        </tr>

		    				    </thead>

		    				    <tbody>

                  

                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/2018_AGM_Results.pdf" class="attachment-link pdf" target="_blank">Results of AGM</a></p></td>

                                        <td><p class="news-date">24 November 2017</p></td>

                                    </tr>  



                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/Q1_Origin_Trading_Update_2018.pdf" class="attachment-link pdf" target="_blank">Trading update</a></p></td>

                                        <td><p class="news-date">24 November 2017</p></td>

                                    </tr>          



                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/2017_Preliminary_Results_Announcement.pdf" class="attachment-link pdf" target="_blank">2017 Preliminary Results Announcement</a></p></td>

                                        <td><p class="news-date">27 September 2017</p></td>

                                    </tr>



                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/Q3_Origin_Trading_Update_2017.pdf" class="attachment-link pdf" target="_blank">Trading Update</a></p></td>

                                        <td><p class="news-date">25 May 2017</p></td>

                                    </tr>



                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/2017_Interim_Results_Announcement.pdf" class="attachment-link pdf" target="_blank">2017 Interim Results Announcement</a></p></td>

                                        <td><p class="news-date">9 March 2017</p></td>

                                    </tr>





                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/2017_Completion_of_Acquisition.pdf" class="attachment-link pdf" target="_blank">Acquisition of Resterra Group</a></p></td>

                                        <td><p class="news-date">9 March 2017</p></td>

                                    </tr>

                                    

                                    <tr>

                                        <td><p><a href="http://www.originenterprises.com/template/pdf/Expansion_of_Nutrition_Services_and_Distribution_Footprint.pdf" class="attachment-link pdf" target="_blank">Expansion of Nutrition Services and Distribution Footprint</a></p></td>

                                        <td><p class="news-date">7 March 2017</p></td>

                                    </tr>



                                    

                                </tbody>

		    				</table>

		    			</div>

		    		</div>

		    	</section>

		    </li>

		</ul>

	</div>

</section>