{# Block: Our Businesses Map #}

{# Intro #}

{% if block.intro|length %}

	<section class="map-section hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

		<div class="uk-container">

			<div class="title">

				{{ block.intro }}

			</div>

		</div>

	</section>

{% endif %}

{# Map #}

{% if block.showMap == 1 and ourBusinessesMap.businessesMap|length %}

	{% set regions = ourBusinessesMap.businessesMap.all() %}

	{% set modals = "" %}

	<section class="map-section map-section-new hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		{# Region Headings #}

		<div class="block--map-nav">
	
			<div class="uk-container uk-flex uk-flex-center">

				<ul class="nav--map-regions uk-child-width-1-1 uk-child-width-1-3@s" uk-switcher="connect: .switcher--locations; animation: uk-animation-fade;" uk-grid>

					{% for region in regions %}

						<li><a href="#">{{ region.regionHeading }}<span></span></a></li>
						
					{% endfor %}

				</ul>

			</div>

		</div>

		<div class="uk-container">

			<div class="block--map-locations">

				{# Regions #}

				<ul class="uk-switcher uk-margin switcher--locations">

					{% for region in regions %}

						{% if region.businessCategories|length %}

							{% set categories = region.businessCategories.all() %}

							<li>
						    	
						    	<div class="grid--location" uk-grid>

						    		{# Categories #}

						    		{% for category in categories %}

						    			<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-5@l block--location">
							    		
							    			<div class="inner--location">

							    				{# Heading #}

							    				{% if category.heading|length %}

							    					<h3>{{ category.heading }}</h3>

							    				{% endif %}

							    				{# Businesses #}
							    			
							    				{% if category.businesses|length %}

							    					{% set businesses = category.businesses.all() %}

						    						<ul>

						    							{% for business in businesses %}

						    								<li class="{{ business.elementId }} modal--links" uk-toggle="target: .{{ business.elementId }}; cls: uk-active;" data-modal-id="{{ business.elementId }}"><a href="#" uk-toggle="target: #{{ business.elementId }}; cls: uk-open;">{{ business.title }}</a></li>

						    								{% set modals %}

						    									{{ modals }}

						    									<div id="{{ business.elementId }}" class="modal--location uk-flex-top">

																	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

																		{# Logo #}

																		{% if business.logo|length %}

																			{% set asset = business.logo.one() %}
																			
																			<img src="{{ asset.getUrl() }}" alt="{{ business.title }} logo">

																		{% endif %}

																		{# Close #}

																		<a href="#" class="uk-modal-close-default uk-close" uk-icon="close" uk-toggle="target: #{{ business.elementId }}; cls: uk-open;"></a>

																		{# Location #}

																		{% if business.location|length %}

																			<h2 class="uk-modal-title">{{ business.location }}</h2>

																		{% endif %}

																		{# Copy #}

																		{{ business.copy }}

																		{# Website Link Button #}

																		{% if business.website|length %}

																			<a href="{{ business.website }}" class="uk-button" target="_blank">Visit Website</a>

																		{% endif %}

																		{# Modal Arrow #}

																		<span class="arrow arrow--{{ business.arrowDirection }}"></span>

																	</div>

																</div>

						    								{% endset %}
						    								
						    							{% endfor %}
							    				
							    					</ul>

							    				{% endif %}
							    			
							    			</div>
							    		
							    		</div>
						    			
						    		{% endfor %}
						   
						    	</div>

						    </li>

						{% endif %}
						
					{% endfor %}

				</ul>
			
			</div>

			<div class="map-wrapper">

				<div class="map uk-visible@m">
				
					<img src="{{ url('assets/img/world_map.svg') }}" alt="Map">
				
				</div>

				{# Office Location Modals #}
				
				{{ modals }}

			</div>

		</div>
	
	</section>

{% endif %}