{# Block: Our Businesses Map #}

{% set divisions = block.divisions.all() %}

{% set modals = "" %}

{% if block.divisions|length %}

	<div class="map--section-n hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		{# Divisions #}

		<div class="map-nav--block uk-visible@m">
	
			<div class="uk-container uk-flex uk-flex-center" uk-height-match=".switcher--button--container">

				<ul class="map-regions--nav uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-5@m uk-grid-margin-small" uk-switcher="connect: .locations--switcher; animation: uk-animation-fade;" uk-grid uk-height-match=".switcher--button">

					{% for division in divisions %}

						<li><a href="#" class="switcher--button"><div class="uk-flex uk-flex-middle switcher--button--container">{{ division.heading }}</div></a></li>
						
					{% endfor %}

				</ul>

			</div>

		</div>

		{# Regions #}

		<div class="uk-container">

			<div class="map-locations--block">

				<ul class="uk-switcher uk-margin locations--switcher">

					{% for division in divisions %}

						<li>

							{# Intro #}

							<div class="region--intro">

								{# Mobile Controls #}

								<a href="#" class="uk-hidden@m switcher-control switcher-control--left" uk-switcher-item="previous" uk-icon="icon: chevron-left; ratio: 2"></a>

								<a href="#" class="uk-hidden@m switcher-control switcher-control--right" uk-switcher-item="next" uk-icon="icon: chevron-right; ratio: 2"></a>
									
								{{ division.intro }}
								
							</div>

							{# Map #}

							<div class="region--map">
							
								{% if division.mapImage|length %}

									{% set asset = division.mapImage.one() %}
									
									<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="element--map">

								{% endif %}

								{# Businesses #}

								{% if division.businesses|length %}

									{% set businesses = division.businesses.all() %}

									{% for business in businesses %}

										<a href="#" class="business--pin" id="{{ business.elementId }}" data-modal-id="business--modal-{{ business.elementId }}">

											<img src="{{ url('assets/img/map--pin.svg') }}" alt="{{ business.title }}" class="pin--img">

											{# Logo #}

											{% if business.logo|length %}

												{% set asset = business.logo.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="pin--logo">
												
											{% endif %}

										</a>

										<div class="business--modal" id="business--modal-{{ business.elementId }}">
										
											<div class="business--modal-block">

												{# Close #}

												<a href="#" class="business--modal-close" data-modal-id="business--modal-{{ business.elementId }}" uk-icon="icon: close; ratio: 1.5;"></a>

												{# Business Image #}

												{% if business.img|length %}

													{% set asset = business.img.one() %}
													
													<div class="business--modal-block--img">

														<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

													</div>

												{% endif %}
											
												{# Business Copy #}

												<div class="business--modal-block--copy">
												
													<h3>{{ business.title }}</h3>

													{% if business.location|length %}

														<h4>{{ business.location }}</h4>

													{% endif %}

													{# Copy #}

													{{ business.copy }}

													{# Website Link Button #}

													{% if business.website|length %}

														<a href="{{ business.website }}" class="uk-button" target="_blank">Visit Website</a>

													{% endif %}			
												
												</div>
												
												{# Modal Arrow #}

												<span class="arrow arrow--{{ business.arrowDirection }}"></span>	
											
											</div>
										
										</div>
										
									{% endfor %}

								{% endif %}
							
							</div>

							{# Modals #}

						</li>
						
					{% endfor %}

				</ul>

			</div>

		</div>

	</div>

	{# Javascript #}

	{% js %}
		
		$('body').on('click', '.business--pin', function(e) {
		
			e.preventDefault();

			var strModalId = '#' + $(this).attr('data-modal-id');

			$('body').toggleClass('business--modal--open');

			$('.business--modal').removeClass('modal--open');

			$(strModalId).addClass('modal--open');

		});

		$('body').on('click', '.business--modal-close', function(e) {
		
			e.preventDefault();

			$('body').toggleClass('business--modal--open');

			$('.business--modal').removeClass('modal--open');

		});

	{% endjs %}

{% endif %}