{# Block: Page Call to Action #}

{% if block.stylingType == "ourLeadershipTeam" %}

	{# Our Leadership Team #}

	<section class="leadership-team-section"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		<div class="uk-container">

			<div uk-grid class="uk-grid-large">

				{% if block.copy|length %}

					<div class="uk-width-1-3@m">

						<div class="text-block hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

							{{ block.copy }}

							{# Button #}

							{% if block.button|length %}

								{% set attributes = {
									class: 'uk-button uk-text-uppercase'
					            } %}

					            {{ block.button.link(attributes) }}

							{% endif %}

						</div>

					</div>

				{% endif %}	

				{% if block.img|length %}

					{% set asset = block.img.one() %}

					<div class="uk-width-2-3@m">

						<div class="image-block hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

							<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

						</div>

					</div>

				{% endif %}

			</div>

		</div>

	</section>

{% elseif block.stylingType == "ourHistory" %}

	{# Our History #}
	
	<section class="section--about--our-history hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 0;">
			
		<div class="uk-container">
		
			<div class="grid--our-history" uk-grid>

				{# Image #}

				{% if block.img|length %}

					{% set asset = block.img.one() %}

					<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l block--our-history--img">
					
						<div class="inner--our-history--img hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
						
							<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
						
						</div>
					
					</div>

				{% endif %}

				{# Copy #}
			
				{% if block.copy|length %}

					<div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-width-3-4@l uk-flex uk-flex-middle">

						<div class="block--our-history--copy">
						
							<div class="inner--our-history--copy hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

								{{ block.copy }}

								{# Button #}

								{% if block.button|length %}

									{% set attributes = {
										class: 'uk-button uk-text-uppercase'
						            } %}

						            {{ block.button.link(attributes) }}

								{% endif %}

							</div>
						
						</div>

					</div>

				{% endif %}
			
			</div>
		
		</div>
	
	</section>

{% endif %}