{# Block: Plain Text #}

{% if block.copy|length %}

	<section class="simple-text-section hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		<div class="uk-container">

			<div class="text-block{% if block.position == "center" %} uk-margin-auto{% endif %}">

				{{ block.copy }}

			</div>

		</div>

	</section>

{% endif %}