{# Block: Reports & Presentations #}

{% if block.tabs|length %}

	{% set tabs = block.tabs.all() %}
	{% set tabContent = "" %}

	<section class="simple-tab-section reports hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		<div class="uk-container">

			{# Tab Controls #}

			<div class="switcher-tabs" uk-switcher="animation: uk-animation-fade; toggle: > *">

				{% for tab in tabs %}

					<button class="uk-button" type="button">{{ tab.tabHeading }}</button>

					{% set tabContent %}

						{{ tabContent }}

						{% if tab.articles|length %}

							{% set articles = tab.articles.all() %}

							<li>

						    	<section class="row-table-section analyst">

						    		<div class="uk-container">

						    			<div class="table-block uk-overflow-auto">

						    				<table class="uk-table">

						    					{# Headings #}

						    				    <thead>

						    				        <tr>

						    				            <th><p>Date</p></th>

						    				            <th><p>Title</p></th>

						    				            <th class="uk-text-center"><p>Statement</p></th>

						    				            <th class="uk-text-center"><p>Presentation</p></th>

						    				            <th class="uk-text-center"><p>Webcast</p></th>

						    				        </tr>

						    				    </thead>

						    				    {# Rows #}

						    				    <tbody>

						    				    	{% for article in articles %}

						    				    		<tr>

						    				    			{# Date #}

							    				            <td>

							    				            	{% if article.dateOverride|length %}

							    				            		<p>{{ article.dateOverride|date("m/d/Y") }}</p>

							    				            	{% endif %}

							    				            </td>

							    				            {# Title #}

							    				            <td>

							    				            	{% if article.heading|length %}

							    				            		<p>{{ article.heading }}</p>

							    				            	{% endif %}

							    				            </td>

							    				            {# Statement #}

							    				            <td class="uk-text-center">

							    				            	{% if article.statement|length %}

							    				            		{% set asset = article.statement.one() %}

							    				            		<a href="{{ asset.getUrl() }}" target="_blank"><img src="{{ url('assets/img/icon-statement.png') }}" alt="Statement icon"></a>

							    				            	{% endif %}

							    				            </td>

							    				            {# Presentation #}

							    				            <td class="uk-text-center">

							    				            	{% if article.presentation|length %}

							    				            		{% set asset = article.presentation.one() %}

							    				            		<a href="{{ asset.getUrl() }}" target="_blank"><img src="{{ url('assets/img/icon-presentation.png') }}" alt="Presentation icon"></a>

							    				            	{% endif %}

							    				            </td>

							    				            {# Webcast #}

							    				            <td class="uk-text-center">

							    				            	{% if article.webcast|length %}

							    				            		<a href="{{ article.webcast }}" target="_blank"><img src="{{ url('assets/img/icon-webcast.png') }}" alt="Webcast icon"></a>

							    				            	{% endif %}

							    				            </td>

							    				        </tr>
						    				    		
						    				    	{% endfor %}

						    				    </tbody>

						    				</table>

						    			</div>

						    		</div>

						    	</section>

						    </li>

						{% endif %}

					{% endset %}
					
				{% endfor %}

			</div>

			{# Tabs #}

			<ul class="uk-switcher uk-margin">

				{{ tabContent }}

			</ul>

		</div>

	</section>

{% endif %}