{# Block: Stats (with background images) #}

<section class="section--about--stats"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>
			
	<div class="uk-container">

		<div class="grid--stats--outer uk-grid-small" uk-grid>

			{# Left Block #}

			{% if block.leftBlock|length %}

				{% set leftBlock = block.leftBlock.one() %}

				{% if leftBlock.stats|length %}

					{% set stats = leftBlock.stats.all() %}

					<div class="uk-width-1-1 uk-width-1-2@l">
					
						<div class="grid--stats--inner uk-grid-small" uk-grid>

							{% for stat in stats %}

								{# First Block #}

								{% if loop.first %}

									<div class="uk-width-1-1 uk-width-1-2@s">

										<div class="block--stats block--stats--01 uk-flex uk-flex-center uk-flex-middle uk-cover-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

											{# Background Image #}

											{% if stat.img|length %}

												{% set asset = stat.img.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
												
											{% endif %}

											<span></span>
										
											<div class="inner--stats uk-text-center hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

												{# Icon #}

												{% if stat.icon|length %}

													{% set asset = stat.icon.one() %}
													
													<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
													
												{% endif %}

												{# Stat #}

												{% if stat.stat|length %}

													<h3>{{ stat.stat }}</h3>

												{% endif %}

												{# Label #}

												{% if stat.label|length %}

													<p>{{ stat.label }}</p>

												{% endif %}
											
											</div>
										
										</div>
									
									</div>

								{% else %}

									{# Second & Third Blocks #}
									
									{% if loop.index == 2 %}

										<div class="uk-width-1-1 uk-width-1-2@s">

									{% endif %}

											<div class="block--stats block--stats--0{{ loop.index }} uk-flex uk-flex-center uk-flex-middle uk-cover-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

												{# Background Image #}

												{% if stat.img|length %}

													{% set asset = stat.img.one() %}
													
													<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
													
												{% endif %}

												<span></span>
											
												<div class="inner--stats uk-text-center hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

													{# Icon #}

													{% if stat.icon|length %}

														{% set asset = stat.icon.one() %}
														
														<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
														
													{% endif %}

													{# Stat #}

													{% if stat.stat|length %}

														<h3>{{ stat.stat }}</h3>

													{% endif %}

													{# Label #}

													{% if stat.label|length %}

														<p>{{ stat.label }}</p>

													{% endif %}
												
												</div>
											
											</div>

									{% if loop.last %}

										</div>

									{% endif %}

								{% endif %}
								
							{% endfor %}

						</div>
					
					</div>

				{% endif %}

			{% endif %}
		
			{# Right Block #}

			{% if block.rightBlock|length %}

				{% set rightBlock = block.rightBlock.one() %}

				{% if rightBlock.stats|length %}

					{% set stats = rightBlock.stats.all() %}

					<div class="uk-width-1-1 uk-width-1-2@l">
					
						<div class="grid--stats--inner uk-grid-small" uk-grid>

							{% for stat in stats %}

								{# First Block #}

								{% if loop.first %}

									<div class="uk-width-1-1">
									
										<div class="block--stats block--stats--04 uk-flex uk-flex-center uk-flex-middle uk-cover-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

											{# Background Image #}

											{% if stat.img|length %}

												{% set asset = stat.img.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
												
											{% endif %}

											<span></span>
										
											<div class="inner--stats uk-text-center hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

												<div class="uk-grid-collapse" uk-grid>
											
													<div class="uk-width-1-1 uk-width-1-3@s">

														{# Icon #}

														{% if stat.icon|length %}

															{% set asset = stat.icon.one() %}
															
															<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
															
														{% endif %}

													</div>

													<div class="uk-width-1-1 uk-width-2-3@s">

														{# Stat #}

														{% if stat.stat|length %}

															<h3>{{ stat.stat }}</h3>

														{% endif %}

														{# Label #}

														{% if stat.label|length %}

															<p>{{ stat.label }}</p>

														{% endif %}

													</div>

												</div>
											
											</div>
										
										</div>
									
									</div>

								{% else %}

									{# Second & Third Blocks #}
									
									<div class="uk-width-1-1 uk-width-1-2@s">

										<div class="block--stats block--stats--0{{ loop.index + 3 }} uk-flex uk-flex-center uk-flex-middle uk-cover-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
										
											{# Background Image #}

											{% if stat.img|length %}

												{% set asset = stat.img.one() %}
												
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
												
											{% endif %}

											<span></span>

											<div class="inner--stats uk-text-center hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

												{# Icon #}

												{% if stat.icon|length %}

													{% set asset = stat.icon.one() %}
													
													<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
													
												{% endif %}

												{# Stat #}

												{% if stat.stat|length %}

													<h3>{{ stat.stat }}</h3>

												{% endif %}

												{# Label #}

												{% if stat.label|length %}

													<p>{{ stat.label }}</p>

												{% endif %}
											
											</div>
										
										</div>

									</div>

								{% endif %}

							{% endfor %}

						</div>
					
					</div>

				{% endif %}

			{% endif %}
		
		</div>

	</div>

</section>