{# Block: Stats (at a glance) #}

{% if block.intro|length or block.stats|length %}

	<section class="facts-section"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

		<div class="uk-container">

			{# Intro #}

			{% if block.intro|length %}

				<div class="text-block hide-element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 250;">

					{{ block.intro }}

				</div>

			{% endif %}

			{# Stats #}

			{% if block.stats|length %}

				{% set stats = block.stats.all() %}

				<div class="facts-block">

					<div uk-grid class="uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-3@m uk-flex-top">

						{% for stat in stats %}

							<div>

								<div class="facts-el-wrapper hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

									<div class="facts-el">

										{# Icon #}

										{% if stat.icon|length %}
											
											{% set asset = stat.icon.one() %}

											<div class="icon">
											
												<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
												
											</div>

										{% endif %}

										<div class="facts-text">

											{# Label #}

											{% if stat.label|length %}

												<p class="desc">{{ stat.label }}</p>

											{% endif %}

											{# Stat #}
											
											{% if stat.stat|length %}

												<p class="number">{{ stat.stat }}</p>

											{% endif %}

										</div>

									</div>

								</div>

							</div>
							
						{% endfor %}

					</div>

				</div>

			{% endif %}

		</div>

	</section>

{% endif %}

{# Graphs #}

{% if block.graphs|length %}

	{% set graphs = block.graphs.all() %}

	<section class="profit-facts-section">

		<div class="uk-container">

			<div uk-grid>

				{% for graph in graphs %}

					<div class="uk-width-1-2@m">

						<div class="image-wrapper">

							<div class="uk-grid-collapse" uk-grid>

								{# Graph Image #}

								{% if graph.graph|length %}

									{% set asset = graph.graph.one() %}
							
									<div class="uk-width-1-2 block--graph--img">
									
										<div class="inner--graph--img">

											{% if graph.heading|length %}

												<div class="text-block hide-element" uk-scrollspy="cls: show-element animated fadeInDown; delay: 500;">

													<p>{{ graph.heading|raw }}</p>

												</div>

											{% endif %}

											<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">
										
										</div>
									
									</div>

								{% endif %}

								{# Legend #}

								{% if graph.legend|length %}

									{% set legends = graph.legend.all() %}

									<div class="uk-width-1-2 block--graph--legend uk-flex uk-flex-bottom">
									
										<div class="inner--graph--legend hide-element" uk-scrollspy="cls: show-element animated fadeInRight; delay: 750;">

											<ul>

												{% for legend in legends %}
													{% spaceless %}
														
														<li>

															{% if legend.label|length %}

																<span class="legend legend--blue"{% if legend.colour|length %} style="background-color: {{ legend.colour }};"{% endif %}></span>{{ legend.label }}</li>

															{% endif %}

														</li>

													{% endspaceless %}													
												{% endfor %}
											
											</ul>

										</div>
									
									</div>

								{% endif %}
							
							</div>

						</div>

					</div>

				{% endfor %}

			</div>

		</div>

	</section>

{% endif %}