{# Block: Video, Image & Copy #}

<section class="learn-more-extra-section section--video hide-element{% if block.backgroundStyle == "white" %} bg--white{% endif %}" uk-scrollspy="cls: show-element animated fadeIn; delay: 0;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

	<div class="uk-container">

		<div class="learn-more-block grid--video">
		
			<div uk-grid class="uk-grid-collapse uk-flex">

				{# Video #}

				{% if block.video|length %}

					<div class="uk-width-1-2@m uk-flex uk-flex-middle{% if block.layoutPosition == "right" %} uk-flex-last@m{% endif %}">

						<div class="block--video image-block hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

							<div class="uk-cover-container">

								{# Image #}

								{% set asset = block.img.one() %}

								{% set transformedImages = craft.imager.transformImage(asset, [
									{ width: 1200, jpegQuality: 100 }, 
									{ width: 960, jpegQuality: 100 },
									{ width: 768, jpegQuality: 70 }, 
									{ width: 640, jpegQuality: 65 }, 
									{ width: 480, jpegQuality: 65 }
								], { position: 'center-center', jpegQuality: 100 }) %}

							    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

							    <div uk-lightbox="video-autoplay: true;">

							    	<a class="uk-button uk-button-default uk-button-video" href="https://vimeo.com/{{ block.video }}"><span>Watch video</span></a>

									{# <a href="#modal-media-video--{{ currentLoop }}" uk-toggle class="uk-button uk-button-default uk-button-video"><span>Watch video</span></a> #}

								</div>

							</div>

							{# Video

							<div id="modal-media-video--{{ currentLoop }}" class="uk-flex-top" uk-modal>

							    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">

							        <button class="uk-modal-close-outside" type="button" uk-close></button>

							        <iframe src="https://player.vimeo.com/video/{{ block.video }}" width="1280" height="720" frameborder="0" uk-video uk-responsive></iframe>

							    </div>

							</div> #}
						
						</div>

					</div>

				{% endif %}

				{# Copy #}

				{% if block.copy|length %}

					<div class="uk-width-1-2@m uk-flex uk-flex-middle">

						<div class="block--text text-block hide-element{% if block.layoutPosition == "right" %} uk-margin-remove{% endif %}" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

							{{ block.copy }}

						</div>

					</div>

				{% endif %}

			</div>
		
		</div>

	</div>

</section>