{# Block: Test #}

{% if block.copy|length %}

	<section class="simple-text-section hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;"{% if block.blockId is defined and block.blockId|length %} id="{{ block.blockId }}"{% endif %}>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
<form action="https://originenterprises.us2.list-manage.com/subscribe/post?u=fda03f8fc9b5ca4b473c74c57&amp;id=c15c0d7df9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group input-group">
    <strong>Terms and Conditions  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="Read and agreed" name="TANDCS" id="mce-TANDCS-0"><label for="mce-TANDCS-0">Read and agreed</label></li>
<li><input type="radio" value="Not agreed" name="TANDCS" id="mce-TANDCS-1"><label for="mce-TANDCS-1">Not agreed</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Alerts </strong>
    <ul><li><input type="checkbox" value="1" name="group[66910][1]" id="mce-group[66910]-66910-0"><label for="mce-group[66910]-66910-0">RNS and News Alerts</label></li>
<li><input type="checkbox" value="2" name="group[66910][2]" id="mce-group[66910]-66910-1"><label for="mce-group[66910]-66910-1">Daily Closing Prices (ESM)</label></li>
<li><input type="checkbox" value="4" name="group[66910][4]" id="mce-group[66910]-66910-2"><label for="mce-group[66910]-66910-2">Daily Closing Prices (AIM)</label></li>
<li><input type="checkbox" value="8" name="group[66910][8]" id="mce-group[66910]-66910-3"><label for="mce-group[66910]-66910-3">Webcasts/Presentations</label></li>
<li><input type="checkbox" value="16" name="group[66910][16]" id="mce-group[66910]-66910-4"><label for="mce-group[66910]-66910-4">Annual, Interim &amp; Preliminary Results Releases</label></li>
<li><input type="checkbox" value="32" name="group[66910][32]" id="mce-group[66910]-66910-5"><label for="mce-group[66910]-66910-5">Results and Financial Releases</label></li>
</ul>
</div>
<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
    <div class="content__gdpr">
        <label>Marketing Permissions</label>
        <p>Please select all the ways you would like to hear from Origin Enterprises plc:</p>
        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
		<label class="checkbox subfield" for="gdpr_10262"><input type="checkbox" id="gdpr_10262" name="gdpr[10262]" value="Y" class="av-checkbox "><span>Email</span> </label><label class="checkbox subfield" for="gdpr_10266"><input type="checkbox" id="gdpr_10266" name="gdpr[10266]" value="Y" class="av-checkbox "><span>Direct Mail</span> </label><label class="checkbox subfield" for="gdpr_10270"><input type="checkbox" id="gdpr_10270" name="gdpr[10270]" value="Y" class="av-checkbox "><span>Customized Online Advertising</span> </label>
        </fieldset>
        <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
    </div>
    <div class="content__gdprLegal">
        <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
    </div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fda03f8fc9b5ca4b473c74c57_c15c0d7df9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='ADDRESS';ftypes[3]='address';fnames[5]='TANDCS';ftypes[5]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

	</section>

{% endif %}