{# Footer #}

<footer class="footer">

	<section class="pre-footer">

		<div class="uk-container hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

			<div uk-grid class="uk-grid small uk-flex-middle">

				<div class="uk-width-1-5@m">
					
					<div class="logo">

						<a href="{{ siteUrl() }}"><img src="{{ url('assets/img/logo_white_4x.png') }}" alt="Origin logo"></a>

					</div>
					
				</div>

				<div class="uk-width-3-5@m">

					{% include '_inc/_menus/_footer-top' %}

				</div>

				<div class="uk-width-1-5@m">

					{% include '_inc/_menus/_social-media' %}

				</div>

			</div>

		</div>

	</section>

	<section class="basic-footer">

		<div class="uk-container hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

			<div uk-grid class="uk-grid-small uk-child-width-1-2@m uk-flex-middle">

				{% if copyright.text|length %}

					<div>

						<div class="copyright-text">

							<p>{{ copyright.text }}</p>

						</div>

					</div>

				{% endif %}

				<div>

					<div class="footer-menu">

						{% include '_inc/_menus/_footer-bottom' %}

					</div>

				</div>

			</div>

		</div>

	</section>

</footer>