{# Header #}

<header class="header hide-element" uk-sticky="top: 0; cls-active: sticky" uk-scrollspy="cls: show-element animated fadeInDown; delay: 0;">

	<div class="uk-container">

		<div class="header-wrapper uk-flex uk-flex-middle uk-flex-between">

			<div class="logo">

				<a href="{{ siteUrl() }}">

					<img src="{{ url('assets/img/logo_white_4x.png') }}" alt="Origin logo">

					<img src="{{ url('assets/img/logo_green.png') }}" alt="Origin logo">

				</a>

			</div>

			<div id="mobile-wrapper" class="mobile-wrapper uk-flex uk-flex-between uk-flex-middle uk-flex-wrap-middle">

				{% include '_inc/_menus/_main' %}

			</div>

			<button id="hamburger" class="hamburger" uk-toggle="target: #hamburger, #mobile-wrapper; cls: opened;">

				<span></span>

				<span></span>

				<span></span>

			</button>

		</div>

	</div>

</header>