{# Banner: Banner Inner Page #}

{% set heading = entry.title %}

{% if block.headingOverride|length %}

	{% set heading = block.headingOverride %}

{% endif %}

<section class="hero-secondary-section">

	<div class="uk-container">

		<div class="infoblock-el">

			<div uk-grid class="uk-child-width-1-2@m uk-grid-collapse uk-flex-middle">

				<div{% if not block.img|length %} class="uk-margin-large-top"{% endif %}>

					<div class="text-block hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 250;">

						{# Heading #}

						<h1>{{ heading }}</h1>

						{# Copy #}

						{{ block.copy }}

						{# Quote #}

						{% if block.quote|length %}

							<p class="quote">{{ block.quote }}</p>

						{% endif %}

					</div>

				</div>

				{# Image #}

				{% if block.img|length %}

				    <div>

						<div class="image-container">

							<div class="image-wrapper">

								<div class="image-block hide-element" uk-scrollspy="cls: show-element animated fadeIn; delay: 250;">

									<div class="uk-cover-container">

										{% set asset = block.img.one %}

										{% set transformedImages = craft.imager.transformImage(asset, [
											{ width: 1200, jpegQuality: 100 }, 
											{ width: 960, jpegQuality: 100 },
											{ width: 768, jpegQuality: 70 }, 
											{ width: 640, jpegQuality: 65 }, 
											{ width: 480, jpegQuality: 65 }
										], { position: 'center-center', jpegQuality: 100 }) %}

									    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" uk-cover>

									</div>

								</div>

							</div>

						</div>

					</div>

				{% endif %}

			</div>

		</div>

	</div>

</section>