{# Banner: Banner with Background Image #}

{# Banner Background Image #}

{% set bgImg = "" %}

{% if block.img|length %}

	{% set asset = block.img.one() %}

	{% set bgImg = asset.getUrl() %}

{% endif %}

{# Heading #}

{% set heading = entry.title %}

{% if block.heading|length %}

	{% set heading = block.heading %}

{% endif %}

{# Banner Class #}

{% set bannerClass = "hero-section" %}

{% if not block.copy|length %}

	{% set bannerClass = "hero-section-regular" %}

{% endif %}

<section class="{% if block.addOverlay == 1 %}hero-section hero-section-regular hero-section-regular-overlay{% else %}{{ bannerClass }}{% endif %} hide-element banner--{{ templateName }}" style="background-image: url('{{ bgImg }}')" uk-parallax="bgy: -100" uk-scrollspy="cls: show-element animated fadeIn; delay: 0;">

	{# Background Video #}

	{% if block.bgVideo|length %}

		{% set videoLoop = "1" %}

		{% if block.loopBackgroundVideo == 0 %}

			{% set videoLoop = "0" %}

		{% endif %}

		<div class="uk-cover-container">

			<iframe src="https://player.vimeo.com/video/{{ block.bgVideo }}?autoplay=1&background=1&loop={{ videoLoop }}&transparent=1&byline=0&title=0" width="1920" height="1080" frameborder="0" allowfullscreen uk-cover></iframe>

		</div>

	{% endif %}

	<div class="uk-container">

		<div class="text-wrapper hide-element" uk-scrollspy="cls: show-element animated fadeInUp; delay: 500;">

			<div class="text-block">

				{# Heading #}

				<h1>{{ heading }}</h1>

				{{ block.copy }}

			</div>

			{# Video Button #}

			{% if block.addVideoButton|length %}

				<div uk-lightbox="video-autoplay: true;">

					<a href="https://vimeo.com/{{ block.addVideoButton }}" class="uk-button uk-button-default"><span>Watch video</span></a>

				</div>

				{# <a href="#modal-media-video-{{ loop.index }}" uk-toggle class="uk-button uk-button-default"><span>Watch video</span></a> #}

			{% endif %}

			
		</div>

	</div>

</section>

{# Share Banner Block #}

{% if block.includeSharePrices == 1 %}

	{% include "_inc/_blocks/_banner-share-price" %}

{% endif %}

{# Video Modal

{% if block.addVideoButton|length %}

	<div id="modal-media-video-{{ loop.index }}" class="uk-modal-full" uk-modal>

	    <div class="uk-modal-dialog uk-cover-container uk-height-1-1">

	        <button class="uk-modal-close-full" type="button" uk-close></button>

	        <video src="http://originenterprisetest.com/wp-content/themes/origin-enterprise/img/origin_video.mp4" controls playsinline uk-video uk-cover></video>

	    </div>

	</div>

{% endif %} #}