%heading {
	font-family: $playfair;
	font-weight: 700;
}

%heading-regular {
	font-family: $playfair;
	font-weight: 700;
	font-size: 24px;
	color: $c-black;
}

%text-regular {
	font-family: $hk-grotesk;	
	font-weight: 600;
	line-height: 1.2;
}

%text {
	font-size: 16px;
	font-family: $hk-grotesk;	
	font-weight: 400;
	line-height: 1.5;
	color: $c-gray;

}

%btn-basic {
	font-family: $hk-grotesk;
	font-weight: 700;
	letter-spacing: 2.625px;
	font-size: 14px;
	height: 50px;
	min-width: 224px;
	border-radius: 0;
	background: none;
} 

%btn-green {
	font-family: $hk-grotesk;
	font-weight: 700;
	letter-spacing: 2.625px;
	font-size: 14px;
	height: 50px;
	min-width: 224px;
	border-radius: 0;
	background: none;
	color: $c-green;
	border: 1px solid $c-green;
	line-height: 50px;
}

%shadow {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 80%;
	height: 100px;
	max-width: 1200px;
	box-shadow: 0px 3px 90px rgba(0, 0, 0, 0.4);
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

/* General */

.post, body {
	margin: 0 !important;
}

body {
	overflow-x: hidden;
}

body.page-template-about-page:not(.home),  
body.page-template-our-business-page:not(.home),
body.page-template-investor-relations-page:not(.home),
body.page-template-sustainability-page:not(.home),
body.page-template-news-page:not(.home), 
body.page-template-contact-page:not(.home),
body.page-template-innovation-page:not(.home),
body.temp--default:not(.home),
body.temp--home:not(.home) {

	.header {

		.logo {

			img {
				
				&:first-child {
					opacity: 1;
				}

				& + img {
					opacity: 0;
				}
			}
		}

		.uk-navbar-nav > li > a, 
		.login-signup-block a {
			color: $c-white;
		}

		.uk-navbar-nav > li.current-menu-parent {
			
			.current-menu-item {
				a {

					&:before {
						width: 50px !important;
					}
				}	
			}
		}


		.uk-navbar-nav > li.menu-item:hover,
		.uk-navbar-nav > li.menu-item.current-menu-item,
		.uk-navbar-nav > li.current-menu-parent {
			& > a {
				color: $c-white;
				
				@media screen and (min-width: 640px) {
					&:before {
						width: 50px;
						background-color: $c-white;
					}
				}
			}
		}

		&.uk-sticky-below {

			&:before {
				top: 0;
			}

			.logo {

				img {
					
					&:first-child {
						opacity: 0;
					}

					& + img {
						opacity: 1;
					}
				}
			}

			.uk-navbar-nav > li > a, 
			.login-signup-block a {
				color: $c-black;
			}


			.uk-navbar-nav > li.menu-item:hover,
			.uk-navbar-nav > li.menu-item.current-menu-item, 
				.uk-navbar-nav > li.current-menu-parent {
				& > a {
					color: $c-black;
					
					@media screen and (min-width: 640px) {
						&:before {
							width: 50px;
							background-color: $c-black;
						}
					}
				}
			}
		}

		&:before {
			content: '';
			display: block;
			position: fixed;
			width: 100%;
			left: 0;
			top: -80px;
			height: 80px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
			background: rgba(255, 255, 255, 0.85);
			backdrop-filter: blur(27.1828px);
			transition: top .3s ease; 
		}
	}
}

body:not(.home) {

	.hamburger {

		span {
			background-color: $c-green;
		}
	}

	.header {

		.logo {

			img {
				
				&:first-child {
					opacity: 0;
				}

				& + img {
					opacity: 1;
				}
			}
		}

		.uk-navbar-nav > li > a, 
		.login-signup-block a {
			color: $c-black;
		}

		.uk-navbar-nav > li.current-menu-parent {
			
			.current-menu-item {
				a {

					&:before {
						width: 50px !important;
					}
				}	
			}
		}


		.uk-navbar-nav > li.menu-item:hover,
		.uk-navbar-nav > li.menu-item.current-menu-item,
		.uk-navbar-nav > li.current-menu-parent {
		 & > a {
				color: $c-black;
				
				@media screen and (min-width: 640px) {
					&:before {
						width: 50px;
						background-color: $c-black;
					}
				}
			}
		}

		&:before {
			content: '';
			display: block;
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			height: 80px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
			background: rgba(255, 255, 255, 0.85);
			backdrop-filter: blur(27.1828px);
			transition: top .3s ease; 
		}
	}
}

/* Header */

.header {
	width: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	padding: 13px 0;
	height: 80px;

	@media screen and (max-width: 1199px) {
		padding: 11px 0;
	}

	& + .uk-sticky-placeholder {
		display: none;
	}

	&:before {
		content: '';
		display: block;
		position: fixed;
		width: 100%;
		left: 0;
		top: -80px;
		background: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(27.1828px);
		height: 80px;
		transition: top .3s ease; 
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	}

	&.uk-sticky-below:before {
		top: 0;
	}

	&.uk-sticky-below {

		.hamburger {

			span {
				background-color: $c-green;
			}
		}
	}

	.hamburger {
		background: none;
		border: none;
		width: 29px;
		display: none;
		outline: none;
		padding: 0;
		position: relative;
		cursor: pointer;

		&.opened {

			span {

				&:first-child {
					transform: translateY(8px) rotate(45deg);
				}

				&:nth-child(2) {
					margin: 6px 0;
					transform: rotate(45deg);
				}

				&:last-child {
					transform: translateY(-8px) rotate(-45deg);
				}
			}
		} 

		@media screen and (max-width: 959px) {
			display: inline-block;
		}
		
		span {
			display: block;
			height: 2px;
			background-color: $c-white;
			transition: transform .3s ease, background-color .3s ease;

			&:first-child {
				
			}

			&:nth-child(2) {
				margin: 6px 0;
			}

			&:last-child {
			}
		}
	}

	&.uk-sticky-below {

		.logo {

			img {
				
				&:first-child {
					opacity: 0;
				}

				& + img {
					opacity: 1;
				}
			}
		}
	}

	.logo {
		position: relative;
		line-height: 0;
		z-index: 100;

		img {
			width: 140px;
			transition: opacity .3s ease;

			@media screen and (max-width: $mq-large) {
				width: 120px;
			}

			&:first-child {
				
			}

			& + img {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				width: 84px;
			}
		}
	}

	.logo.opened {

		img {
			
			&:first-child {
				opacity: 0 !important;
			}

			& + img {
				opacity: 1 !important;
			}
		}
	}

	.nav {
		width: 100%;
	}

	.mobile-wrapper {
		width: calc(100% - 84px);

		@media screen and (max-width: 959px) {
			position: fixed;
			background: rgba(255, 255, 255, 0.95);
			backdrop-filter: blur(27.1828px);
			width: 50%;
			height: 100%;
			left: 0;
			top: -200%;
			flex-wrap: wrap;
			transition: top .3s ease;
			opacity: 0;

			&.opened {
				top: 0;
				height: 100vh;
				opacity: 1;
				z-index: 110;
			}

			.nav {
				width: 100%;
				height: 100%;
				box-sizing: border-box;

				.uk-navbar {
					height: 100%;
					overflow: scroll;
				}
			}

			.uk-navbar-right {
				width: 100%;
				justify-content: center;
				display: block;
				padding-bottom: 50px;
			}

			.uk-navbar-nav {
				display: block;
			}

			.login-signup-block {
				width: 100%;
				text-align: center;
				margin-top: 85px;
			}

			.uk-navbar-nav > li > a,
			.login-signup-block a {
				font-size: 18px;
				line-height: 2.45;
				font-weight: 400;
			}

			.login-signup-block a {
				display: block;
				width: 100%;
				max-width: 305px;
				margin-left: auto !important;
				margin-right: auto;
				padding: 5px 30px;
				margin-bottom: 15px;
			}
		}

		@media screen and (max-width: 959px) {
			align-content: space-between;

			.nav {
				margin-top: 0;

				.uk-navbar {
					padding-top: 80px;
					padding-bottom: 50px;
					box-sizing: border-box;
					position: absolute;
					top: 0;
				}
			}

			.uk-navbar-right {
				width: 100%;
				margin: 0 0 0 15px;
				display: block;
			}

			.uk-navbar-nav {
				width: 100%;
				padding-bottom: 50px;
			}

			.uk-navbar-nav > li > a {
				display: block;

				@media screen and (max-width: 1199px) {
					color: $c-dark !important;
				}
			}

			.login-signup-block {
				margin-top: 0;
			}
		}

		@media screen and (max-width: 640px) {
			width: calc(100% - 84px);
		}

		@media screen and (max-width: 375px) {
			.nav {
				margin-top: 0;

				.uk-navbar {
					padding-top: 80px;
					padding-bottom: 40px;
					box-sizing: border-box;
				}
			}

			.uk-navbar-nav > li > a,
			.login-signup-block a {
				font-size: 18px;
			}
		}
	}

	&.uk-sticky-below {
		.uk-navbar-nav > li.menu-item:hover,
		.uk-navbar-nav > li.menu-item.current-menu-item,
		.uk-navbar-nav > li.current-menu-parent {
			& >	a {
				color: $c-black !important;
				
				@media screen and (min-width: 640px) {
					&:before {
						width: 50px;
						background-color: $c-black !important;
					}
				}
			}
		}
	}

	.uk-navbar-nav > li.menu-item:hover,
	.uk-navbar-nav > li.menu-item.current-menu-item,
	.uk-navbar-nav > li.current-menu-parent {
		& > a {
			color: $c-white;
			@media screen and (max-width: 959px) {
				color: $c-dark;

				&:before {
					width: 50px;
					background-color: $c-dark;
				}
			}
			
			@media screen and (min-width: 640px) {
				&:before {
					width: 50px;
					background-color: $c-white;
				}
			}
		}
	}

	&.uk-sticky-below {
		.uk-navbar-nav > li.menu-item > a {
			&:hover {
				&:before {
					background-color: $c-black;
				}
			}
			&:before {
				background-color: $c-black;
			}
		}
	}

	.menu-item {
		position: relative;

		&:hover {

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 215px;
				height: 300px;
				top: 0;
			}
			a {

				& + .sub-menu {
					top: 49px;
					opacity: 1;
					pointer-events: all;
					transition: opacity .3s .3s ease, pointer-events .3s .3s ease, top .3s .3s ease;
				}
			}
		}
	}

	.sub-menu {
		margin: 0;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
		background: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(27.1828px);
		list-style: none;
		font-family: $hk-grotesk;
		font-size: 12px;
		font-weight: 500;
		position: absolute;
		left: 15px;
		padding: 15px;
		width: 200px;
		top: 55px;
	    box-sizing: border-box;
	    opacity: 0;
	    transition: opacity .3s ease, pointer-events .3s ease, top .3s ease;
	    pointer-events: none;

	    @media screen and (max-width: 959px) {
	    	position: initial;
	    	background: none;
	    	box-shadow: none;
	    	font-size: 14px;
	    	padding: 0 25px;
	    	opacity: 1;
	    	pointer-events: all;
	    	backdrop-filter: none;
	    	width: 100%;
	    	font-weight: 400;

	    	li {

	    		a {
	    			display: inline-block;
	    		}
	    	}
	    }

		li {
			margin: 5px 0;

			a {
				color: $c-dark;
				position: relative;
				padding: 5px 0;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {

					&:before {
						width: 50px;
						background-color: $c-dark;
					}
				}
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: 2px;
					left: 0;
					width: 0;
					height: 1px;
					background-color: $c-dark;
					transition: width .3s ease, background-color .3s ease;

					@media screen and (max-width: 959px) {
						bottom: 2px;
						transform: none;
					}
				}
			}
		}
	}


	.uk-navbar-nav > li.menu-item > a {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		margin-left: 7px;
		margin-right: 5px;

		@media screen and (min-width: 1024px) {
			margin-left: 10px;
			margin-right: 10px;
		}

		@media screen and (min-width: 1200px) {
			margin-left: 15px;
			margin-right: 15px;
		}

		&:hover {

			&:before {
				width: 50px;
				background-color: $c-white;
			}
		}
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -5px;
			left: 50%;
			width: 0;
			height: 1px;
			transform: translateX(-50%);
			background-color: $c-white;
			transition: width .3s ease, background-color .3s ease;

			@media screen and (max-width: 959px) {
				bottom: 5px;
				left: 0;
				transform: none;
			}
		}
	}

	&.uk-sticky-below {

		.uk-navbar-nav > li > a,
		.login-signup-block a {
			color: $c-black;
		}
	}

	.uk-navbar-nav > li > a,
	.login-signup-block a {
		color: $c-white;	
		font-family: $hk-grotesk;	
		font-size: 12px;	
		font-weight: 700;	
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		min-height: auto;
		transition: color .3s ease;
	}
}

/* Hero section */

.hero-section {
	padding: 170px 0 130px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 0px 2px 45px rgba(0, 0, 0, 0.3);

	.uk-container {
		z-index: 200;
		position: relative;
	}

	.text-wrapper {
		text-align: center;

		.uk-button {
			@extend %btn-basic;
			color: $c-white;
			border: 1px solid $c-white;
			background: rgba(255, 255, 255, 0.1);

			span {
				vertical-align: middle;
				margin-right: 10px;
			}

			&:after {
				content: url('../img/play-btn.svg');
				vertical-align: middle;
			}
		}
	}

	.text-block {
		text-align: center;		
		margin-bottom: 60px;

		h1 {
			@extend %heading;
			color: $c-white;
			margin-bottom: 23px;
			font-size: 64px;

			@media screen and (max-width: 639px) {
				font-size: 54px;
			}
		}

		p {
			@extend %text-regular;
			font-size: 24px;
			color: $c-white;
			margin: 0 auto 20px;
			max-width: 840px;
			font-weight: 500;
			font-family: $playfair;

			@media screen and (max-width: 639px) {
				font-size: 16px;
			}

			@media screen and (max-width: 959px) {
				font-size: 20px;
			}
		}
	}

	.uk-cover-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Shared price section */

.shared-price-section {
	text-align: center;
	position: relative;
	z-index: 200;
	margin-top: -50px;
	margin-bottom: 50px;

	.shared-price-block {
		max-width: 580px;
		min-height: 115px;
		background-color: $c-white;
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.0841619);
		margin: 0 auto;
		padding: 25px 20px;
		box-sizing: border-box;
	}

	.goto {
		@extend %btn-basic;
		font-size: 11px;
		letter-spacing: 2.0625px;
		text-transform: uppercase;
		height: 35px;
		background-color: $c-white;
		border: 1px solid $c-green;
		color: $c-green;
		line-height: 35px;
		padding: 0 23px;
		margin-top: -25px;

		@media screen and (max-width: 350px) {
			font-size: 10px;
			padding: 0 10px;	
		}
	}

	.share-price-switcher {
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			@media screen and (max-width: 480px) {
				text-align: left;	
			}

			li {
				display: inline-block;
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}

				@media screen and (max-width: 480px) {
					margin: 0;
					display: block;
				}

				&.uk-active,
				&:hover {

					a {
						color: $c-darker;
					}
				}

				&.uk-active {

					a {
						&:before {
							width: 100%;
						}
					}
				}

				a {
					color: $c-gray-light;
					font-family: $hk-grotesk;
					font-weight: 700;
					font-size: 14px;
					text-decoration: none;
					position: relative;
					transition: color .3s ease;
					outline: none;

					@media screen and (max-width: 350px) {
						font-size: 12px;	
					}

					/*&:before {
						content: '';
						position: absolute;
						bottom: 0;
						width: 0;
						height: 1px;
						background-color: $c-darker;
						transition: width .3s ease;
					}*/
				}
			}
		}
	}

	.share-price-cost {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			.cost-block {
				text-align: center;

				p {
					margin: 0;
					color: $c-darker;
					font-family: $hk-grotesk;
				}

				.price {
					font-size: 32px;
					line-height: 1.1;
				}

				.desc {
					font-size: 10px;

					@media screen and (max-width: 350px) {
						font-size: 9px;	
					}
				}
			}
		}
	}

	.share-price-updates {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			.updates-block {
				text-align: center;

				@media screen and (max-width: 480px) {
					text-align: right;
				}

				p {
					color: $c-darker;
					font-family: $hk-grotesk;
					font-size: 14px;
					margin: 0;
					padding: 0 5px;
					display: inline-block;

					@media screen and (max-width: 350px) {
						font-size: 12px;	
					}

					@media screen and (max-width: 480px) {
						padding: 0;
						display: block;	
					}

					&.up,
					&.down {
						&:after {
							content: '';
							display: inline-block;
							position: relative;
							width: 0;
							height: 0;
							border: 4px solid transparent;
							margin-left: 4px;
						}
					}

					&.up {
						&:after {
							border-bottom: 6px solid #78BF43;
							top: -4px;
						}
					}

					&.down {
						&:after {
							border-top: 6px solid #D83130;
							top: 1px;
						}
					}
				}
			}
		}
	}
}

/* For clents section */

.for-clients-section {
	padding: 60px 0 245px;
	background-color: $c-lightgray;

	&.regular {
		padding: 50px 0 60px;
	}

	.for-clients-block {
		text-align: center;

		@media screen and (max-width: 480px) {
			margin-bottom: 25px;	
		}

		.text-block {
			max-width: 270px;
			margin: 0 auto 40px;

			@media screen and (max-width: 480px) {
				margin: 0 auto 30px;	
			}

			h2 {
				@extend %heading-regular;
				color: $c-green;
			}

			p {
				@extend %text;
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	&.bg--white {
		background-color: #fff;
	}
}

/* Key figures section */

.key-figures-section {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

	@media screen and (max-width: 959px) {
		margin-bottom: 20px;
	}

	.key-figures-block {
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.0841619);
		background-color: $c-white;
		padding: 50px 90px 75px;

		@media screen and (max-width: 480px) {
			padding-left: 40px;
			padding-right: 40px;	
		}

		.title {

			h2 {
				@extend %heading-regular;
				margin-bottom: 30px;
				color: $c-green;
			}
		}

		.key-figures-el {

			h3 {
				@extend %heading-regular;
				font-size: 70px;
				margin-bottom: 10px;
			}

			p {
				@extend %text-regular;
				font-weight: 700;
				color: $c-gray-light;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
			}
		}
	}

	.uk-button {
		@extend %btn-green;
		background-color: $c-white;
		margin-top: -25px;
	}

	&.overlap {
		margin-top: -175px;
		margin-bottom: 100px;

		@media screen and (max-width: 959px) {
			margin-bottom: 50px;
		}
	}
}

/* List section */

.list-section {
	margin-bottom: 160px;
	margin-top: 100px;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	&.small {

		&.no-button {

			.type-list {

				&-el {

					a {

						&:after {
							display: none;
						}
					}
				}
			}
		}

		.type-list {
			margin-left: -10px;
			margin-right: -10px;
			width: auto;

			@media screen and (max-width: 639px) {
				margin-left: -15px;
				margin-right: -15px;
			}

			&-el {
				padding: 0 10px;

				@media screen and (max-width: 639px) {
					padding: 0;
				}

				a {
					height: 280px;
					box-sizing: border-box;

					&.add--button {
						
						&:after {
							content: 'Learn more';
							display: block;
							position: absolute;
							z-index: 200;
							left: 50%;
							transform: translateX(-50%);
							bottom: 25px;
							@extend %btn-basic;
							color: $c-white;
							border: 1px solid $c-white;
							background: rgba(255, 255, 255, 0.1);
							height: 40px;
							line-height: 38px;
						}
					}
				}
			}
		}
	}

	.type-list {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 639px) {
			flex-wrap: wrap;	
		}

		&-el {
			width: (100% / 3);
			position: relative;

			@media screen and (max-width: 639px) {
				width: 100%;
			}

			.text {
				z-index: 200;
			}

			a {
				display: block;
				color: $c-white;
				font: 24px/2 $playfair;
				padding: 36px;
				text-align: center;
				text-decoration: none;
				transition: background .3s ease;
				height: 340px;
				text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.324587);

				.text {
					transition: transform .3s ease;
				}

				img {
					transition: transform .3s ease;
					transform: translate(-50%, -50%) scale(1.01);
				}

				&:hover {
					img {
						transform: translate(-50%, -50%) scale(1.1);
					}

					.text {
						transform: translate(-50%, -50%) scale(.9);
					}
				}
			}
		}
	}
}

/* Learn more section */

.learn-more {

	&-section {
		margin: 0;

		@media screen and (max-width: 959px) {
			//margin: 50px 0;
		}

		& + & {
			//margin-top: -100px;
			//margin-bottom: -100px;

			@media screen and (max-width: 959px) {
				//margin-top: -50px;
			}

		}

		&.sustainability {
			margin-top: -170px;
			margin-bottom: 180px;

			@media screen and (max-width: 959px) {
				margin-top: -50px;
				margin-bottom: 50px;
			}
		}
	}

	&-block {

		.uk-grid {

			& > div {

				&:first-child {
					@media screen and (max-width: 959px) {
						//order: 2;
					}
				}

				&:last-child {
					@media screen and (max-width: 959px) {
						//order: 1;
					}
				}
			}
		}

		&.sustainability {

			.text-block {
				padding-top: 130px;
				margin-left: 60px;
				max-width: 370px;

				@media screen and (max-width: 959px) {
					padding-top: 0;
					margin-left: 0;
					padding-bottom: 20px;
				}	
			}

			.image-block {
				padding-left: 30px;

				@media screen and (max-width: 959px) {
					padding-left: 0;
				}

				&:before {
					top: 30px;
					width: 100%;
				}
			}

			&.reverse {

				.text-block {
					max-width: 430px;
					padding-top: 170px;

					@media screen and (max-width: 959px) {
						margin-right: 0 !important;
					}

					h2 {
						margin-bottom: 50px;
					}
				}

				.image-block-small {
					width: 225px;
					height: 225px;
					float: none;

					@media screen and (max-width: 959px) {
						margin-top: 0;
						display: none;
					}
				}
			}
		}

		&.reverse {

			.uk-grid {

				& > div {

					&:first-child {
						@media screen and (max-width: 959px) {
							//order: 1;

							display: flex;
							flex-wrap: wrap;

							& > div {
								
								&:first-child {
									//order: 2;
									width: 100%;
									max-width: 100%;	
									padding-top: 50px;
									padding-bottom: 50px;								

								}

								&:last-child {
									//order: 1;
									margin-left: auto;
									margin-right: -30px;
									margin-top: 0;
								}
							}
						}

						@media screen and (max-width: 639px) {
							& > div {

								&:last-child {
									margin-right: -15px;
								}
							}
						}
					}

					&:last-child {
						@media screen and (max-width: 959px) {
							//order: 2;
						}
					}
				}
			}
			

			.image-block {
				//height: 400px;
				height: 480px;
				padding-left: 0;
				//padding-right: 30px;
				padding-right: 0;

				@media screen and (max-width: 959px) {
					padding-right: 0;
				}


				&:before {
					width: calc(100% - 30px);
					top: 30px;
					left: 30px;

					@media screen and (max-width: 959px) {
						left: 0;
					}
				}
			}

			.text-block {
				margin-left: 40px;
				float: left;
				//padding-top: 105px;
				padding-top: 30px;

				@media screen and (max-width: 639px) {
					margin-left: 0;
				}
			}

			.image-block-small {
				height: 250px;
				width: 250px;
				float: right;

				@media screen and (max-width: 959px) {
					margin-top: 50px;
					margin-right: -30px;
				}

				@media screen and (max-width: 639px) {
					margin-right: -15px;
				}

				.uk-cover-container {
					height: 100%;
				}
			}
		}

		.image-block {
			height: 460px;
			padding-left: 30px;
			position: relative;

			@media screen and (max-width: 959px) {
				padding-left: 0;
				margin-left: -30px;
				margin-right: -30px;
				height: 350px;
			}

			@media screen and (max-width: 639px) {
				margin-left: -15px;
				margin-right: -15px;
			}

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 40px;
				left: 0;
				width: calc(100% - 40px);
				height: 100%;
				background: rgba($c-green, .1);
				z-index: -1;
			}

			.uk-cover-container {
				height: 100%;
			}
		}

		.text-block {
			margin-left: 95px;
			padding: 30px 0 30px;
			max-width: 340px;

			@media screen and (max-width: 959px) {
				padding: 0 0 50px;
			}

			@media screen and (max-width: 639px) {
				margin-left: 0;
			}

			h2 {
				@extend %heading-regular;
			}

			p {
				@extend %text;
				margin-bottom: 30px;

				em {
					font-style: normal;
					font-weight: 600;
					color: $c-gray;
				}
			}

			.uk-button {
				@extend %btn-green;
			}
		}
	}
}

/* Footer */

.footer {
	
	.pre-footer {
		background: $c-green;
		padding: 30px 0;

		.logo {

			@media screen and (max-width: 959px) {
				text-align: center;
			}

			img {
				width: 100px;
			}
		}

		.links,
		.social-links {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
			}
		}

		.links {
			text-align: center;

			li {
				margin: 0 8px;

				@media screen and (max-width: 959px) {
					margin-top: 20px;
					&:first-child {
						margin-top: 0;
					}
				}

				a {
					@extend %btn-green;
					color: $c-white;
					border: 1px solid $c-white;
					height: 42px;
					line-height: 42px;
					width: 274px;
					max-width: 100%;
				}
			}
		}

		.social-links {
			text-align: right;

			@media screen and (max-width: 959px) {
				text-align: center;
			}

			li {
				margin: 0 5px;

				a {
					transition: opacity .3s ease;

					&:hover {
						opacity: .8;
					}
					
					img {
						max-width: 31px;
					}
				}
			}
		}
	}

	.basic-footer {
		background-color:  $c-dark;
		padding: 9px 0;

		@media screen and (max-width: 959px) {
			padding: 30px 0;
		}

		.copyright-text {

			@media screen and (max-width: 959px) {
				text-align: center;
			}

			p {
				font-family: $hk-grotesk;
				font-weight: 400;
				margin: 0;
				font-size: 11px;
				line-height: 16px;
				color: $c-white;
			}
		}

		.footer-menu {
			text-align: right;

			@media screen and (max-width: 959px) {
				text-align: center;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;

					&:last-child {

						&:after {
							display: none;
						}
					}

					&:after {
						content: '|';
						font-family: $hk-grotesk;
						font-weight: 400;
						margin: 0 5px 0 10px;
						font-size: 12px;
						line-height: 16px;
						color: $c-gray-light;
						text-decoration: none;
					}
					
					a {
						font-family: $hk-grotesk;
						font-weight: 400;
						margin: 0;
						font-size: 12px;
						line-height: 16px;
						color: $c-gray-light;
						text-decoration: none;
					}
				}
			}
		}
	}
}

/* Hero section regular */

.hero-section-regular {
	padding: 225px 0 270px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 0px 2px 45px rgba(0, 0, 0, 0.3);

	.uk-container {
		z-index: 200;
		position: relative;
	}

	.text-wrapper {
		text-align: center;
	}

	.text-block {
		text-align: center;		

		h1 {
			@extend %heading;
			color: $c-white;
			margin-bottom: 0;
			font-size: 64px;
			text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.324587);

			@media screen and (max-width: 639px) {
				font-size: 44px;
			}
		}
	}

	.uk-cover-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&.banner--temp--home {
		padding: 170px 0 130px;
	}
}

/* Facts section */

.facts-section {
	margin: 100px 0;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	.text-block {
		margin-bottom: 50px;

		h2 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			margin-bottom: 30px;
			max-width: 730px;
		}
	}

	.facts-block {

		.uk-grid {

			& > div {

				.facts-el-wrapper {
					border-right: 1px solid #E0E0E0;

					@media screen and (max-width: 959px) {
						border-right: 1px solid #E0E0E0 !important;
					}

					@media screen and (max-width: 639px) {
						border-right: none !important;
						border-top: 1px solid #E0E0E0 !important;
					}
				}

				&:first-child {
					.facts-el-wrapper {
						@media screen and (max-width: 639px) {
							border-top: none!important;
						}
					}
				}

				&:nth-child(3n) {
					.facts-el-wrapper {
						border-right: none;

						@media screen and (max-width: 959px) {
							border-right: 1px solid #E0E0E0;
						}

						@media screen and (max-width: 639px) {
							border-right: none;
						}
					}
				}

				&:nth-child(n+3) {

					.facts-el-wrapper {
						@media screen and (max-width: 959px) {
							border-top: 1px solid #E0E0E0 !important;
						}

						@media screen and (max-width: 639px) {
							border-top: none;
						}
					}
				}

				&:nth-child(2n) {
					.facts-el-wrapper {

						@media screen and (max-width: 959px) {
							border-right: none !important;
						}
					}
				}

				&:nth-child(n+4) {
					.facts-el-wrapper {
						border-top: 1px solid #E0E0E0;

						@media screen and (max-width: 959px) {
							border: none;
						}
					}
				}
			}
		}

		.facts-el-wrapper {
			padding: 45px 0 55px;
			max-height: 258px;

			@media screen and (max-width: 639px) {
				max-height: initial;
			}
			
			.facts-el {
				text-align: center;

				.icon {
					height: 84px;
					margin-bottom: 18px;

					img {
						max-height: 84px;
						width: auto;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.facts-text {

					p {
						margin: 0;
						line-height: 1;
					}

					.desc {
						font-family: $hk-grotesk;
						font-weight: 400;
						font-size: 22px;
						text-align: center;
						color: $c-green;
					}

					.number {
						font-family: $playfair;
						font-weight: 700;
						font-size: 34px;
						text-align: center;
						color: $c-green;
					}
				}
			}
		}
	}
}

/* Profit facts section */

.profit-facts-section {
	margin: 100px 0;
	padding-bottom: 35px;
	position: relative;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	&:after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1200px;
		border-bottom: 1px solid #E0E0E0;
	}

	.image-wrapper {
		@media screen and (max-width: 959px) {
			text-align: center;
			margin-bottom: 50px;
		}
	}

	.text-block {
		margin-bottom: 40px;

		@media screen and (max-width: 959px) {
			text-align: center;
		}

		h2 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			margin-bottom: 30px;
			max-width: 730px;
		}
	}

	.facts-block {
		padding-left: 80px;

		@media screen and (max-width: 639px) {
			padding-left: 0;
		}

		.facts-el-wrapper {
			margin-bottom: 65px;

			@media screen and (max-width: 959px) {
				margin-bottom: 45px;
			}
			
			.facts-el {
				text-align: left;

				.icon {
					width: 60px;
					margin-bottom: 18px;
					margin-right: 20px;

					img {
						max-width: 100%;
					}
				}

				.facts-text {
					width: calc(100% - 80px);

					p {
						margin: 0;
						line-height: 1;
					}

					.desc {
						font-family: $hk-grotesk;
						font-weight: 400;
						font-size: 20px;
						color: $c-green;
						line-height: 1.1;
					}

					.number {
						font-family: $playfair;
						font-weight: 700;
						font-size: 32px;
						color: $c-green;
						margin-bottom: 11px;
					}
				}
			}
		}
	}
}

/* Leadership team section */

.leadership-team-section {
	margin: 100px 0;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	.text-block {
		padding: 30px 0 30px;
		max-width: 340px;

		@media screen and (max-width: 959px) {
			padding: 0;
		}

		h2 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			margin-bottom: 30px;
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	.image-block {
		text-align: right;
	}
}

/* About more section */

.about-more {

	&-section {
		padding: 65px 0;
		background: $c-lightgray;

		@media screen and (max-width: 959px) {
			padding: 50px 0;
		}

		&.full {

			.about-more-block {
				max-width: initial;
			}
		}
	}

	&-block {
		max-width: 660px;
		margin: 0 auto;

		&.three-col {
			max-width: 990px;

			.about-more-el {

				.text-block {
					max-width: 180px;
				}
			}
		}

		&.four-col {
			max-width: none;

			.about-more-el {

				.text-block {
					max-width: 180px;
					margin-bottom: 0;
				}
			}
		}
	}

	&-el {
		text-align: center;

		@media screen and (max-width: 959px) {
			margin-bottom: 15px;
		}

		a {

			.image-block {

				img {
					opacity: 1;
					transition: opacity .3s ease;
				}
			}

			.text-block {

				h2 {
					color: $c-green;
					text-decoration: none;
					transition: opacity .3s ease;
				}
			}

			&:hover {
				text-decoration: none;

				.image-block {

					img {
						opacity: 0.85;
					}
				}

				.text-block {

					h2 {
						color: $c-green;
						text-decoration: none;
						opacity: 0.85;
					}
				}
			}
		}

		.image-block {
			margin-bottom: 25px;

			img {
				max-height: 100%;
			}
		}

		.text-block {
			max-width: 260px;
			margin: 0 auto 30px;

			h2 {
				@extend %heading-regular;
				color: $c-green;
			}

			p {
				@extend %text;
				color: $c-green;
				max-width: 250px;
				margin: 0 auto;
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}
}

/* Map section */

.map-section {
	margin-top: 60px;
	margin-bottom: 100px;

	.title {
		max-width: 670px;
		margin-bottom: 50px;

		h2 {
			@extend %heading-regular;
			line-height: 1.33;
		}
	}
}

/* Companies section */

.companies-section {
	padding: 50px 0 100px;
	background-color: $c-lightgray;

	.switcher-card {
		height: 300px;
		position: relative;
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.0841619);

		.switcher-wrapper {
			background: $c-white;
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;
		}

		&:hover {

			&:before {
				opacity: 1;
			}
		}

		&:before {
			@extend %shadow; 
			opacity: 0;
			transition: opacity .3s ease;
		}

		.front-card {
			width: 100%;
			height: 100%;
			position: relative;
			cursor: pointer;
			z-index: 10;
			background: $c-white;

			.additional-info {
				@extend %text;
				color:  $c-gray;
				font-size: 14px;
				position: absolute;
				text-align: center;
				width: 100%;
				left: 0;
				bottom: 30px;
			}
 
			&.clicked + .back-card {

				top: 0;
			}

			.logo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.back-card {
			position: absolute;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: $c-white;
			transition: top .3s ease;
			z-index: 20;

			.card-wrapper {
				position: relative;
				width: 100%;
				height: 100%;

				.close-btn {
					position: absolute;
					top: 30px;
					right: 30px;
					cursor: pointer;

					& span {
						display: block;
						width: 19px;
						height: 3px;
						transform: rotate(45deg);
						background-color: $c-gray-light;

						&:last-child {
							margin-top: -3px;
							transform: rotate(-45deg);
						}
					}
				}

				.text-block {
					padding: 30px 40px 100px 40px;

					h3 {
						@extend %heading-regular;
					}

					p {
						@extend %text;
						color:  $c-gray;
					}

					.uk-button {
						position: absolute;
						left: 40px;
						bottom: 30px;
						@extend %btn-green;
					}
				}
			}
		}
	}

	.companies-switcher {
		text-align: center;
		margin-bottom: 50px;

		.uk-button {
			color: #111;	
			font-family: $hk-grotesk;	
			font-size: 14px;	
			font-weight: 700;	
			letter-spacing: 1.17px;
			text-transform: uppercase;
			text-decoration: none;
			min-height: auto;
			transition: color .3s ease;
			padding: 0;
			margin: 0 40px;
			border-radius: 0;
			border: none;
			position: relative;

			&:hover,
			&.uk-active {

				&:before {
					width: 50px;
					background-color: #111;
				}
			}
			
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 1px;
				transform: translateX(-50%);
				background-color: #111;
				transition: width .3s ease, background-color .3s ease;
			}
		}
	}
}

/* Learn more section 2 */

.news-section {

	.learn-more {

		&-extra-section {

			& + .learn-more-extra-section.normal {
				margin-top: -140px;

				@media screen and (max-width: 959px) {
					margin-top: -30px;
				}

				&.small {
					margin-top: -100px !important;

					@media screen and (max-width: 959px) {
						margin-top: -50px !important;
					}

					& .learn-more-extra-block.another-one {

						.image-block {
							width: 300px;
							height: 300px;
							margin-left: -40px;
							padding: 0;
							
							&:before {
								top: 30px;
								left: 30px;
								width: 100%;

								@media screen and (max-width: 959px) {
									left: 0;
								}
							}
						}

						.text-block {
							margin-left: 0 !important;
						}
					}
				}

				& + .learn-more-extra-section.normal {
					
					& .learn-more-extra-block.another-one {
						.text-block {
							margin-left: 20px;

							@media screen and (max-width: 959px) {
								margin-left: 0;
								padding-top: 50px;
								padding-bottom: 70px;
							}		
						}
					}
				}
			}

			& + .learn-more-extra-section + .learn-more-extra-section {
				margin-top: -40px;

				& .learn-more-extra-block.another-one {

					.image-block {
						
						&:before {
							top: -30px;
							left: -30px;
						}
					}
				}
			}
		}

		&-extra-block {
			
			&.another {

				.image-block {
					padding: 0;
					&:before {
						top: 30px;
					}
				}

				.text-block {
					margin-left: 60px;

					@media screen and (max-width: 959px) {
						margin-left: 0;
					}
				}
			}

			&.another-one {

				&.reverse {
					.uk-grid {

						& > div {

							&:first-child {
								@media screen and (max-width: 959px) {
									//order: 2;
								}
							}

							&:last-child {
								@media screen and (max-width: 959px) {
									//order: 1;
								}
							}
						}
					}
				}

				.image-block {
					height: 400px;

					@media screen and (max-width: 959px) {
						height: 300px;
					}
				}

				.text-block {
					margin-left: 0;
				}
			}
		}
	}
}

.learn-more {

	&-extra-section {
		margin: 100px 0;

		@media screen and (max-width: 959px) {
			margin: 50px 0;
		}

		& + & {
			margin-top: -145px;

			&.normal {
				margin-top: -100px;

				@media screen and (max-width: 959px) {
					margin-top: -50px;
				}
			}

			& + .learn-more-extra-section {
				margin-top: -100px;

				@media screen and (max-width: 959px) {
					margin-top: -50px;
				}
			}
		}
	}

	&-extra-block {

		&.another {

			.uk-grid {
				& > div {

					&:first-child {
						@media screen and (max-width: 959px) {
							//order: 2;
						}
					}

					&:last-child {
						@media screen and (max-width: 959px) {
							//order: 1;
						}
					}
				}
			}

			.image-block {
				@media screen and (max-width: 639px) {
					height: 250px;
				}

				&:before {
					left: -30px;
					top: -30px;
				}
			}

			.text-block {
				padding: 30px 0;
				margin-left: 40px;

				@media screen and (max-width: 959px) {
					padding: 0 0 50px;
					margin-left: 0;
				}
			}
		}

		&.another-one {

			.image-block {

				&:before {
					left: 30px;
					top: 30px;

					@media screen and (max-width: 959px) {
						left: 0;
					}
				}
			}

			.text-block {
				padding: 30px 0;
				margin-left: 40px;

				@media screen and (max-width: 959px) {
					padding: 50px 0;
					margin-left: 0;
				}
			}
		}

		&.reverse {

			.uk-grid {

				& > div {

					&:first-child {
						@media screen and (max-width: 959px) {
							//order: 2;
						}
					}

					&:last-child {
						@media screen and (max-width: 959px) {
							//order: 1;
						}
					}
				}
			}

			.image-block {
				height: 400px;
				padding-right: 0;

				&:before {
					width: 100%;
					top: 30px;
					left: 30px;

					@media screen and (max-width: 959px) {
						left: 0;
					}
				}
			}

			.text-block {
				margin-left: 100px;
				float: left;
				padding-top: 115px;

				@media screen and (max-width: 959px) {
					margin-left: 0;
					padding-bottom: 50px;
					padding-top: 140px;
				}
			}

			.image-block-small {
				height: 250px;
				width: 250px;
				float: right;

				.uk-cover-container {
					height: 100%;
				}
			}
		}

		&.small {

			.image-block {
				max-width: 390px;
				height: 270px;
				padding-right: 0;

				&:before {
					top: 20px;
					left: 20px;
					width: 100%;

					@media screen and (max-width: 959px) {
						left: 0;
					}
				}
			}

			.text-block {
				padding-top: 80px;
				margin-left: 30px;

				@media screen and (max-width: 959px) {
					margin-left: 0;
				}
			}
		}

		.image-block {
			height: 460px;
			padding-right: 40px;
			position: relative;

			@media screen and (max-width: 959px) {
				padding-right: 0;
				margin-left: -30px;
				margin-right: -30px;
				height: 350px;
			}

			@media screen and (max-width: 639px) {
				margin-left: -15px;
				margin-right: -15px;
			}


			&:before {
				content: '';
				position: absolute;
				display: block;
				top: -40px;
				left: 40px;
				width: calc(100% - 40px);
				height: 100%;
				background: rgba($c-green, .1);
				z-index: -1;
			}

			.uk-cover-container {
				height: 100%;
			}
		}

		.text-block {
			padding: 90px 0 30px;
			max-width: 340px;

			@media screen and (max-width: 959px) {
				padding: 0 0 70px;
			}

			h2 {
				@extend %heading-regular;
			}

			p {
				@extend %text;
				margin-bottom: 30px;
			}

			.uk-button {
				@extend %btn-green;
			}
		}
	}
}

/* Contact small section */

.contact-small {

	&-section {
		margin: 130px 0 100px;

		@media screen and (max-width: 959px) {
			margin: 60px 0 50px;
		}
	}

	&-block {

		.uk-grid {

			& > div {

				&:first-child {
					@media screen and (max-width: 959px) {
						//order: 2;
					}
				}

				&:last-child {
					@media screen and (max-width: 959px) {
						//order: 1;
					}
				}
			}
		}

		.image-block {
			height: 200px;
			width: 290px;
			position: relative;
			float: right;

			@media screen and (max-width: 959px) {
				float: none;
				margin-left: -30px;
				margin-right: -30px;
				width: calc(100% + 60px);
				margin-top: 30px;
			}	

			@media screen and (max-width: 639px) {
				margin-left: -15px;
				margin-right: -15px;
				width: calc(100% + 30px);
			}

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: -20px;
				left: -20px;
				width: 100%;
				height: 100%;
				background: rgba($c-green, .1);
				z-index: -1;

				@media screen and (max-width: 959px) {
					left: 0;
				}
			}

			.uk-cover-container {
				height: 100%;
			}
		}

		.text-block {
			padding: 0 0 30px 115px;
			max-width: 340px;

			@media screen and (max-width: 959px) {
				padding: 0 0 30px 0px;
			}

			h2 {
				@extend %heading-regular;
			}

			p {
				@extend %text;
			}

			ul.contacts {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					
					a,
					span {
						@extend %text;
						text-decoration: none;

						@media screen and (max-width: 350px) {
							font-size: 14px;	
						}
					}
				}
			}

			.uk-button {
				@extend %btn-green;
			}
		}
	}
}

/* Signup section */

.signup-section {
	padding: 50px 0;
	background-color: $c-lightgray;

	.text-block {
		max-width: 230px;
		margin: 0 auto;
		text-align: center;

		h2 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			margin-bottom: 30px;
		}

		.uk-button {
			@extend %btn-green;
		}
	}

}

/* News section */

.news-section {
	margin: 100px auto;
	max-width: 1080px;

	@media screen and (max-width: 959px) {
		margin: 50px auto;
	}
}

/* Contact section */

.contact-section {
	margin: 100px 0;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	.text-block {
		max-width: 340px;

		h2 {
			@extend %heading-regular;
			margin-bottom: 40px;
		}

		p {
			@extend %text;
			margin-bottom: 25px;

			em {
				font-weight: 400;
				color: $c-gray;
				font-size: 12px;
			}
		}

		ul {
			margin: 0 0 25px;
			padding: 0;
			list-style: none;

			li {

				a,
				span {
					@extend %text;
				}
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	.map-wrapper {
		position: relative;
		margin: 50px 0 0;

		iframe {
			position: relative;
			width: 100%;
			height: 320px;
			z-index: 100;
		}

		&:before {
			@extend %shadow; 
			opacity: 1;
			transition: opacity .3s ease;
		}
	}
}

/* Contact-section */

.contact-section {

		.contact-form {

			.form-container {
				max-width: 380px;

				@media screen and (max-width: 480px) {
					max-width: 100%;
				}

				.wpcf7-form {
					position: relative;

					&.sent {
						
						*:not(.wpcf7-mail-sent-ok) {
							display: none;
						}
					}
				}

				.wpcf7-response-output {
					border: none;
					margin: 15px 0 0;
					padding: 0 0 0 18px;
					text-align: center;
					font-family: $hk-grotesk;
	 				font-size: 12px;
	 				line-height: 1.57;
	 				color: $c-gray;
	 				background-image: url('../img/x-error.svg');
	 				background-size: 17px 17px;
	 				background-position: 0 0;
	 				background-repeat: no-repeat;

	 				&.wpcf7-mail-sent-ok {
	 					position: relative;
	 					right: auto;
	 					bottom: auto;
	 					padding-left: 0;
	 					padding-top: 45px;
	 					margin-top: 55px;
	 					background-image: url('../img/Check.svg');
	 					background-position: 50% 0;
	 				}
				}
			}

			p {
				margin: 0;
			}

			div.form-element {
				@media screen and (max-width: 959px) {
					text-align: center;

					.ajax-loader {
						display: none;
					}
				}
			}

			.form-element {
				margin: 12px 0;
				display: block;

				br {
					display: none;
				}

				.wpcf7-form-control-wrap {

					&.checkbox {
						margin-right: 15px;
						vertical-align: top;
						display: inline-block;

						& + span {
							display: inline-block;
							color: $c-gray;
							font-family: $hk-grotesk;
							font-size: 16px;
							line-height: 1.5;
							width: calc(100% - 32px);
							vertical-align: top;
						}
					}

					span {
						display: none;

						&.uk-checkbox {
							display: inline-block;
							position: relative;
							border-radius: 2px;
							border: 1px solid #9B9B9B;

							&.wpcf7-not-valid {
								border: 1px solid #C7220A;
							}

							input {
								opacity: 0;
								position: absolute;
								top: 0;
								left: 0;

								&:checked {
									
									& + .wpcf7-list-item-label {

										&:before {
											content: '✓';
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
											color: #9B9B9B;
											font-size: 14px;
											font-family: $hk-grotesk;
											font-weight: 700;
										}
									}
								}
							}

							span {
								display: inline-block;

								&.wpcf7-list-item-label {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									color: transparent;
								}
							}
						}
					}
				}

				.uk-input,
				.uk-textarea {
					border: none;
					border-radius: 0;
					border-bottom: 1px solid $c-gray-light;
					color: $c-gray;
					font-family: $hk-grotesk;
					font-size: 16px;
					padding-left: 0;

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $c-gray;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: $c-gray;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: $c-gray;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: $c-gray;
					}
				}

				.uk-input,
				.uk-textarea {
					&.wpcf7-not-valid {
						border-bottom-color: #C7220A;
					}
				}

				input[type="submit"], button[type="submit"] {
					margin-top: 25px;
					@extend %btn-green;
					outline: none;
					line-height: 1;
					cursor: pointer;
				}
			}
		}
}

/* Infoblock section */

.infoblock-section {
	//margin: 100px 0;

	@media screen and (max-width: 959px) {
		//margin: 50px 0;
	}

	.infoblock-el {
		.uk-grid {

			& > div {

				&:first-child {
					@media screen and (max-width: 959px) {
						//order: 2;
					}
				}

				&:last-child {
					@media screen and (max-width: 959px) {
						//order: 1;
					}
				}
			}
		}
	}

	&.about {

		&.small {

			&.two-images {
				margin-top: 130px;

				@media screen and (max-width: 959px) {
					margin-top: 50px;
				}

				.infoblock-el {
					@media screen and (max-width: 959px) {
						.uk-grid {

							& > div {

								&:first-child {
									@media screen and (max-width: 959px) {
										//order: 2 !important;
									}
								}

								&:last-child {
									@media screen and (max-width: 959px) {
										//order: 1 !important;
									}
								}
							}
						}		
					}		
				}
			}
		}

		.uk-container {
			max-width: 1200px;
		}

		.two-small-images {
			max-width: 519px;

			.image-block {

				@media screen and (max-width: 959px) {
					margin-left: -30px;
				}
				
				@media screen and (max-width: 639px) {
					margin-left: -15px;
				}

				&:before {
					left: -30px;
				}

				&.small {
					margin-top: -50px;

					@media screen and (max-width: 959px) {
						margin-top: 0;
					}	
				}
			}
		}

		.image-block {
			height: 420px;

			@media screen and (max-width: 959px) {
				height: 320px;
			}
		}

		&.small {
			//margin-top: -100px;

			@media screen and (max-width: 959px) {
				//margin-top: -50px;
			}

			.text-block {
				@media screen and (max-width: 959px) {
					margin-top: 50px !important;
				}
			}

			.infoblock-el {

				.uk-grid {

					& > div {

						&:first-child {
							@media screen and (max-width: 959px) {
								//order: 1 !important;
							}
						}

						&:last-child {
							@media screen and (max-width: 959px) {
								//order: 2 !important;
							}
						}
					}
				}
			}

			&.short {

				&.mirrored {

					.uk-container {
						max-width: 1100px;
					}

					.image-block {
						width: 245px;
						height: 245px;
						float: left;
						margin-left: -77.5px;
						margin-right: 0;

						@media screen and (max-width: 959px) {
							margin-left: -30px;
						}

						@media screen and (max-width: 639px) {
							margin-left: -15px;
						}	
					}

					.text-block {
						margin-left: 0;
						margin-right: 177.5px;

						@media screen and (max-width: 959px) {
							margin-right: 0;
						}
					}
				}

				.image-block {
					width: 245px;
					height: 245px;
					float: right;
					margin-right: -77.5px;

					@media screen and (max-width: 959px) {
						margin-right: -30px;
					}

					@media screen and (max-width: 639px) {
						margin-right: -15px;
					}
				}

				.text-block {
					margin-left: 177.5px;

					@media screen and (max-width: 959px) {
						margin-left: 0;
					}
				}
			}

			.image-block {
				margin-left: 0;
				width: 345px;
				height: 345px;
				float: left;

				@media screen and (max-width: 959px) {
					margin-left: -30px;
					margin-right: -30px;
					width: calc(100% + 60px);
				}

				@media screen and (max-width: 639px) {
					margin-left: -15px;
					margin-right: -15px;
					width: calc(100% + 30px);
				}

				&.small {
					width: 175px;
					max-width: 100%;
					height: 175px;

					&:before {
						display: none;
					}
				}

				&:before {
					top: 30px;
					left: 30px;

					@media screen and (max-width: 959px) {
						left: 0;
					}
				}
			}
		}
	}

	.uk-container {
		//max-width: 1100px;
	}

	&.reverse {
		margin-top: -160px;

		@media screen and (max-width: 959px) {
			margin-top: 0;
		}

		.infoblock-el {
			@media screen and (max-width: 959px) {
				.uk-grid {

					& > div {

						&:first-child {
							@media screen and (max-width: 959px) {
								//order: 1;
							}
						}

						&:last-child {
							@media screen and (max-width: 959px) {
								//order: 2;
							}
						}
					}
				}
			}
		}

		.text-block {
			margin-top: 80px;
			margin-left: 80px;
			max-width: 430px;

			@media screen and (max-width: 959px) {
				margin: 0 0 50px;
			}
		}

		.image-block {
			margin-left: 0;
			margin-right: 30px;
			height: 430px;

			@media screen and (max-width: 959px) {
					margin-left: -30px;
					margin-right: -30px;
			}

			@media screen and (max-width: 639px) {
					margin-left: -15px;
					margin-right: -15px;
			}

			&:before {
				top: 30px;
				left: 30px;

				@media screen and (max-width: 959px) {
					left: 0;
				}
			}
		}
	}

	&.small {
		//margin-top: -20px;

		@media screen and (max-width: 959px) {
			margin-top: 0;
		}

		&.reverse {

			.text-block {
				margin-top: 0;
				margin-left: 0;
			}
		}

		&.wide {

			.image-block {
				width: 100%;
				height: 460px;

				@media screen and (max-width: 959px) {
					height: 350px;
				}				
			}
		}

		&.small-wide {

			.image-block {
				width: calc(100% - 45px);
				height: 365px;

				@media screen and (max-width: 959px) {
					width: calc(100% + 60px);
				}

				@media screen and (max-width: 639px) {
					width: calc(100% + 30px);
				}
			}
		}

		.image-block {
			margin-left: 0;
			margin-right: 45px;
			width: 410px;
			height: 360px;
			//float: right;

			@media screen and (max-width: 959px) {
					margin-left: -30px;
					margin-right: -30px;
					width: calc(100% + 60px);
			}

			@media screen and (max-width: 639px) {
					margin-left: -15px;
					margin-right: -15px;
					width: calc(100% + 30px);
			}

			&:before {
				top: 30px;
			}
		}

		.text-block {
			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	.text-block {
		max-width: 460px;
		margin-left: 50px;
		padding: 30px 0;

		@media screen and (max-width: 959px) {
			margin-bottom: 50px;
			margin-left: 0;
			padding: 0;
		}

		h2 {
			@extend %heading-regular;
			margin-bottom: 30px;
		}

		p {
			@extend %text;
			margin-bottom: 25px;

			em {
				font-style: normal;
				font-weight: 600;
				color: $c-gray;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	.image-block {
		//height: 500px;
		height: 460px;
		margin-left: 30px;
		position: relative;

		@media screen and (max-width: 959px) {
			margin-left: -30px;
			margin-right: -30px;
		}

		@media screen and (max-width: 639px) {
			margin-left: -15px;
			margin-right: -15px;
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: -30px;
			left: -30px;
			width: 100%;
			height: 100%;
			background: rgba($c-green, .1);
			z-index: -1;
		}

		.uk-cover-container {
			height: 100%;
		}
	}

	&.about.small.small--center {

		.image-block {
			margin-left: 0;
			margin-right: 45px;
			width: 410px;
			height: 360px;
			float: right;
		}
	}
}

/* Hero secondary section */

.hero-secondary-section {
	margin-bottom: 100px;
	position: relative;

	@media screen and (max-width: 959px) {
		margin-bottom: 50px;
	}

	&.no-quotes {

		.text-block {

			p {
				padding: 0;
				font-style: normal;
				line-height: 1.5;

				&:before,
				&:after {
					display: none;
				}
			}
		}
	}

	.text-block {
		max-width: 520px;
		padding-top: 80px;

		@media screen and (max-width: 959px) {
			max-width: 100%;
			padding-top: 120px;
			padding-bottom: 30px;
		}

		h1 {
			@extend %heading-regular;
			margin-bottom: 40px;
			color: $c-black;
			font-size: 64px;

			@media screen and (max-width: 959px) {
				font-size: 55px;
			}

			@media screen and (max-width: 480px) {
				font-size: 40px;
			}
		}

		p {
			@extend %text;
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 25px;
			color: $c-gray;
			position: relative;
			padding: 0;
			font-style: normal;
			line-height: 1.5;

			a {
				@extend %text;
				font-size: 20px;
				font-weight: 500;
				color: $c-gray;
				line-height: 1.2;
				text-decoration: underline;
			}

			&.quote {
				line-height: 1.2;
				padding: 52px 20px;
				font-style: italic;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 53px;
					height: 47px;
					background-size: 52px 46px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					z-index: -1;
					opacity: .1;
				}

				&:before {
					top: 0;
					left: 0;
					background-image: url('../img/quote-left.png');
				}

				&:after {
					bottom: 0;
					right: 0;
					background-image: url('../img/quote-right.png');
				}
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	.image-container {
		height: 570px;

		@media screen and (max-width: 959px) {
			margin-left: -30px;
			margin-right: -30px;
			height: 450px;
		}

		@media screen and (max-width: 639px) {
			margin-left: -15px;
			margin-right: -15px;
			height: 300px;
		}
	}

	.image-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		/* height: 100%; */

		@media screen and (max-width: 959px) {
			position: initial;
			width: 100%;
		}	
	}

	.image-block {
		height: 570px;
		margin-left: 30px;
		position: relative;

		@media screen and (max-width: 959px) {
			margin-left: 0;
			height: 450px;
		}

		@media screen and (max-width: 639px) {
			height: 300px;
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 40px;
			left: 40px;
			width: calc(100% - 40px);
			height: 100%;
			background: rgba($c-green, .1);
			z-index: -1;
		}

		.uk-cover-container {
			height: 100%;
		}
	}
}

/* Companies section */

.our-team-section {
	padding: 50px 0 100px;
	background-color: $c-lightgray;

	.uk-container {
		max-width: 1100px;
	}

	.our-team-el {
		max-width: 300px;

		.image-block {
			width: 220px;
			height: 210px;
			background-image: url('../img/unknown_person.jpg');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

			& .uk-cover-container {
				width: 100%;
				height: 100%;
			}
		}

		.info {
			padding: 20px 0 15px;

			h3 {
				@extend %heading-regular;
				margin-bottom: 5px;
				line-height: 1;
			}

			p {
				@extend %text;
				margin: 0;

				em {
					font-style: normal;
					font-weight: 600;
					color: $c-gray;
				}
			}

			.uk-button {
				@extend %btn-green;
			}
		}

		.desc {
			overflow: hidden;
			transition: max-height 0.4s ease 0s;
			margin-bottom: 15px;
			max-height: 96px;
			height: 100%;

			p {
				@extend %text;
				margin-bottom: 0;

				em {
					font-style: normal;
					font-weight: 600;
					color: $c-gray;
				}
			}
		}

		.show-more-btn {
			font-family: $hk-grotesk;
			font-weight: 700;
			font-size: 14px;
			color: $c-green;
			background: none;
			border: none;
			padding: 0;
			outline: none;
			cursor: pointer;
			vertical-align: middle;
			&:hover {

				&:after {
					transform: translateX(3px);
				}
			}
			
			&:after {
				content: url('../img/right-arrow-green.svg');
				display: inline-block;
				margin-left: 10px;
				vertical-align: middle;
				transition: transform .3s ease;
			}
		}

		.bt--show-more {
			font-family: $hk-grotesk;
			font-weight: 700;
			font-size: 14px;
			color: $c-green;
			background: none;
			border: none;
			padding: 0;
			outline: none;
			cursor: pointer;
			vertical-align: middle;

			.less {
				display: none;
			}

			&:hover {

				&:after {
					transform: translateX(3px);
				}
			}
			
			&:after {
				content: url('../img/right-arrow-green.svg');
				display: inline-block;
				margin-left: 10px;
				vertical-align: middle;
				transition: transform .3s ease;
			}
		}
	}

	.switcher-card {

		&.clicked {

			.desc {
				max-height: 100vh;
			}

			.our-team-el {

				.bt--show-more {

					.less {
						display: inline-block;
					}

					.more {
						display: none;
					}
				}
			}
		}
	}

	.our-team-switcher {
		text-align: center;
		margin-bottom: 50px;

		.uk-button {
			color: #111;	
			font-family: $hk-grotesk;	
			font-size: 14px;	
			font-weight: 700;	
			letter-spacing: 1.17px;
			text-transform: uppercase;
			text-decoration: none;
			min-height: auto;
			transition: color .3s ease;
			padding: 0;
			margin: 0 40px;
			border-radius: 0;
			border: none;
			position: relative;

			&:hover,
			&.uk-active {

				&:before {
					width: 50px;
					background-color: #111;
				}
			}
			
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 1px;
				transform: translateX(-50%);
				background-color: #111;
				transition: width .3s ease, background-color .3s ease;
			}
		}
	}
}

/* Simple text section */

.simple-text-section {
	margin: 0;

	@media screen and (max-width: 959px) {
		margin: 0;
	}

	.text-block {
		max-width: 850px;

		td,
		th {
			@extend %text;
			padding: 5px;
		}

		th {
			font-weight: 700;
		}

		h1, h2, h3, h4, h5, h6 {
			@extend %heading-regular;
			margin-bottom: 25px;
		}

		p,a,span {
			@extend %text;
			line-height: 1.5;
			margin-bottom: 25px;

			em {
				font-weight: 600;
				color: $c-gray;
				font-style: normal;
			}
		}

		a {
			text-decoration: underline;
		}

		.attachment-link.pdf {
			display: inline-block;
			margin-bottom: 0;

			a {
				vertical-align: top;
				margin-bottom: 0;
			}

			span {
				vertical-align: top;
				margin-bottom: 0;
			}
			&:before {
				content: url('../img/green-pdf.svg');
				margin-right: 5px;
			}
		}

		a {

			.attachment-link.pdf {
				
				&:before {
					content: url('../img/green-pdf.svg');
					margin-right: 7px;
					position: relative;
					top: 3px;
				}
			}
		}

		ul,
		ol {
			margin: 0 0 25px 16px;
			padding: 0;
			line-height: 1.5;

			li {
				@extend %text;

				a,
				span {
					@extend %text;
				}
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}
}

.attachment-link.pdf {
	display: inline-block;
	margin-bottom: 0;

	a {
		vertical-align: top;
		margin-bottom: 0;
	}

	span {
		vertical-align: top;
		margin-bottom: 0;
	}
	&:before {
		content: url('../img/green-pdf.svg');
		margin-right: 5px;
	}
}

a {

	.attachment-link.pdf {
		
		&:before {
			content: url('../img/green-pdf.svg');
			margin-right: 7px;
			position: relative;
			top: 3px;
		}
	}
}

/* Row table section */

.row-table-section {
	//margin: 100px 0;

	@media screen and (max-width: 959px) {
		//margin: 50px 0;
	}

	.title {

		h3 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			line-height: 1.5;
			margin-bottom: 25px;
			max-width: 420px;
		}
	}

	&.two-row {

		th,
		td {

			&:first-child {

				p {
					width: 150px;
					margin: 0 auto;
				}
			}
		}
	}

	&.small-width {
		max-width: 710px;
	}

	&.analyst {

		&.shareholder {

			.uk-container {
				max-width: 1200px;
			}
			
			.table-block {
				max-width: 1020px;

				td,
				th {
					width: 30%;
					padding: 10px 50px;

					@media screen and (max-width: 959px) {
						padding-left: 10px;
						padding-right: 10px;
					}

					&:first-child {
						text-align: left;

						img {
							max-height: 25px;
						}
					}

					&:nth-child(2) {
						text-align: left;
						p {
							margin: 0;
							max-width: initial;
							text-align: left;
						}
					}

					&:first-child {
						width: 40%;
					}

					&.uk-table-expand {
						width: 50% !important;
					}
					
					&:last-child {
						width: 30%;
						text-align: center;
					}
				}
			}
		}

		.uk-container {
			max-width: 1100px;
		}

		.uk-table > tr:nth-of-type(even), .uk-table tbody tr:nth-of-type(even) {
			background: none;
		}

		.table-block {

			tr {
				border-bottom: 1px solid #F8F8F8;

				&:last-child {
					border-bottom: none;
				}
			}

			td {
				p,
				a {
					font-size: 14px;
					color: $c-green;
				}
			}

			td,
			th {
				width: 50%;
				padding: 10px;

				&:first-child {
					text-align: center;

					img {
						max-height: 25px;
					}
				}

				&:nth-child(2) {
					text-align: center;
					p {
						margin: 0 auto;
						max-width: 120px;
						text-align: left;
					}
				}

				&:last-child,
				&:first-child {
					width: 25%;
				}
			}
		}
	}

	.uk-table {
		margin: 0;
	}

	.title {
		h2 {
			@extend %heading-regular;
			margin-bottom: 30px;
		}
	}

	.table-block {
		border: 1px solid #EEEEEE;

		& + p {
			font-style: italic;
			@extend %text;
			font-size: 14px;
		}

		p,
		a {
			@extend %text;
			line-height: 1.5;
			margin-bottom: 25px;

			em {
				font-weight: 600;
				color: $c-gray;
				font-style: normal;
			}
		}

		thead {
			tr {
				background: rgba($c-green, .1);

				p {
					font-weight: 700;
					color: $c-green;
					margin: 0;
					text-transform: none;


				}
			}
		}

		th,
		td {
			width: 33%;
		}

		td {
			padding: 20px 50px;

			@media screen and (max-width: 959px) {
				padding-left: 10px;
				padding-right: 10px;
			}

			*:last-child {
				margin-bottom: 0;
			}

			figure {
				margin: 0;
				text-align: center;

				@media screen and (max-width: 959px) {
					text-align: left;
				}
			}

			img {
				max-height: 25px;
				margin-bottom: 0;
			}
		}

		a {
			color: $c-green;
		}

		a.attachment-link {
			position: relative;

			@media screen and (max-width: 959px) {
				margin-left: 30px;
				display: inline-block;

				&:before {
					display: inline-block;
				}

				span {
					display: inline-block;
				}
			}

			&:before {
				content: url('../img/green-pdf.svg');
				margin-right: 12px;
				line-height: 1;
				display: block;
				position: absolute;
				right: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		th {
			padding: 10px 50px;
			min-width: 150px;

			@media screen and (max-width: 959px) {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.uk-table > tr:nth-of-type(even), .uk-table tbody tr:nth-of-type(even) {
		background: #F8F8F8;
	}
}

/* FAQ */

.faqs-section {
	margin: 100px 0;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	.uk-accordion > :nth-child(n+2) {
		margin-top: 0;
	}

	.faq-block {
		max-width: 780px;
		padding: 30px 0;
		border-bottom: 1px solid #E0E0E0;

		&:last-child {
			border-bottom: none;
		}
		
		h3 {
			@extend %heading-regular;
			margin-bottom: 20px;
		}

		p,
		ul,
		a {
			@extend %text;
			line-height: 1.5;
			margin: 0;
			margin-bottom: 15px;
		}

		ul {
			padding: 0;
			margin: 0 0 15px 16px;
		}

		a {
			text-decoration: underline;
		}

		.uk-accordion-content {
			margin: 0;
		}

		.uk-accordion-title {
			display: inline-block;
			@extend %text;
			font-size: 14px;
			font-weight: 700;
			color: $c-green;

			&:before {
				content: url('../img/right-arrow-green.svg');
				background: none;
				font-size: 15px;
				width: auto;
				height: auto;
				margin-left: 50px;
			}
		}
	}
}

/* Simple tab section */

.simple-tab-section {
	margin: 100px 0;

	@media screen and (max-width: 959px) {
		margin: 50px 0;
	}

	.title {

		h3 {
			@extend %heading-regular;
		}

		p {
			@extend %text;
			line-height: 1.5;
			margin-bottom: 25px;
			max-width: 420px;
		}
	}

	.row-table-section {
		margin: 100px 0;

		&.two-row {

			th,
			td {

				&:first-child {
					width: 65% !important;
					padding-left: 70px !important;
					padding-right: 70px !important;

					@media screen and (max-width: 959px) {
						min-width: 250px;
						padding-left: 10px !important;
						padding-right: 10px !important;
					}

					p {
						width: 100% !important;
					}
				}

				&:last-child {
					width: 35% !important;
				}
			}
		}

		&.analyst {
			margin: 0;

			.uk-container {
				max-width: 1200px;
			}

			.table-block {
				max-width: 1020px;

				td,
				th {
					width: 40%;
					padding: 10px 50px;

					@media screen and (max-width: 959px) {
						padding-left: 10px;
						padding-right: 10px;
					}

					&:first-child {
						text-align: left;

						img {
							max-height: 25px;
						}
					}

					&:nth-child(2) {
						text-align: left;
						p {
							margin: 0;
							max-width: initial;
							text-align: left;
						}
					}

					&:first-child {
						width: 25%;
					}
					&:last-child {
						width: 35%;
					}
				}

				a.attachment-link {
					position: relative;
					&:before {
						content: url('../img/green-pdf.svg');
						margin-right: 12px;
						line-height: 1;
						display: block;
						position: absolute;
						right: 100%;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	.switcher-tabs {

		.uk-button {
			padding: 0;
			height: auto;
			text-transform: none;
			font-family: $hk-grotesk;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			background: none;
			margin: 0 19px;
			color: $c-green;

			&.uk-active {
				font-weight: 700;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&.reports {

		.row-table-section {

			&.analyst {

				.table-block {
					max-width: none;

					td,
					th {
						width: 15%;
						box-sizing: border-box;

						&:first-child {
							width: 20%;
						}

						&:nth-child(2) {
							width: 35%;
						}

						/*&:last-child {
							width: 35%;
						}*/
					}

					a.attachment-link {
						position: relative;

						&:before {
							content: url('../img/green-pdf.svg');
							margin-right: 12px;
							line-height: 1;
							display: block;
							position: absolute;
							right: 100%;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}

.uk-modal {

	.uk-modal-dialog {
		box-shadow: 20px 26px 26px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
	}

	.text-block {

		h2 {
			text-align: center;
		}
	}

	.contact-section {
		margin: 0;
	}

	.left-side {
		max-width: 380px;
		margin: 0 auto;
	}

	.contact-section .text-block {
		max-width: 380px;
	}

	.contact-section .contact-form .form-element input[type="submit"] {
		display: block;
		margin: 0 auto;
	}
}

/* Share price section */

.shareprice-section {
	padding: 120px 0 70px;

	iframe {
		height: 1850px;

		@media screen and (max-width: 639px) {
			height: 2600px;
		}

		@media screen and (max-width: 374px) {
			height: 2700px;
		}
	}
}

/* Share price calculator section */

.shareprice-calculator-section {
	padding: 70px 0;

	iframe {
		height: 1600px;

		@media screen and (max-width: 639px) {
			height: 1500px;
		}

		@media screen and (max-width: 374px) {
			height: 1600px;
		}
	}
}

/* Regulatory Announcements section */

.regulatory-announcements-section {
	padding: 70px 0;

	iframe {
		height: 1000px;

		@media screen and (max-width: 639px) {
			height: 1900px;
		}

		@media screen and (max-width: 374px) {
			height: 2000px;
		}
	}
}

/* financial-calendar-iframe-section */

.financial-calendar-iframe-section {
	iframe {
		height: 1300px;

		@media screen and (max-width: 850px) {
			height: 1800px;
		}

		@media screen and (max-width: 450px) {
			height: 2500px;
		}
	}
}

/* corporate-alert-service-section */

.corporate-alert-service-section {

	iframe {
		height: 750px;

		@media screen and (max-width: 850px) {
			height: 900px;
		}

		@media screen and (max-width: 450px) {
			height: 900px;
		}
	}
}

/* historic-lookup-download-section */

.historic-lookup-download-section {

	iframe {
		height: 800px;

		@media screen and (max-width: 850px) {
			height: 1100px;
		}

		@media screen and (max-width: 450px) {
			height: 1200px;
		}
	}
}

/* share-price-table-section */

.share-price-table-section {

	iframe {
		height: 700px;

		@media screen and (max-width: 850px) {
			height: 750px;
		}

		@media screen and (max-width: 450px) {
			height: 850px;
		}
	}
}

/* dividend-calculator-section */

.dividend-calculator-section {

	iframe {
		height: 1100px;

		@media screen and (max-width: 850px) {
			height: 1200px;
		}

		@media screen and (max-width: 450px) {
			height: 2600px;
		}
	}
}