/* Maps */

.map--section-n {
	padding: 30px 0;

	.uk-container {
		padding-left: 0;
		padding-right: 0;
	}

	.map-nav--block {
		margin: 0 auto 50px;
		max-width: 1200px;

		.map-regions--nav {
			margin-left: -20px;

			li {
				padding-left: 20px;

				a {
					background: $green;
					color: $white;
					text-align: center;
					font-size: 14px;
					font-weight: bold;
					padding: 20px;
					position: relative;
					display: block;
					@include opacity(0.8);
					-webkit-transition : all 0.5s ease;
					-moz-transition : all 0.5s ease;
					-ms-transition : all 0.5s ease;
					-o-transition : all 0.5s ease;
					transition : all 0.5s ease;

					&:before {
						content: "";
						bottom: -15px;
						left: 50%;
						position: absolute;
						@include translate(-50%,0);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 15px 15px 0 15px;
						border-color: $green transparent transparent transparent;
						visibility: hidden;
						@include opacity(0);
						-webkit-transition : all 0.2s ease;
						-moz-transition : all 0.2s ease;
						-ms-transition : all 0.2s ease;
						-o-transition : all 0.2s ease;
						transition : all 0.2s ease;
					}

					&:hover {
						@include opacity(1);
						text-decoration: none;

						&:before {
							@include opacity(1);
							visibility: visible;
						}
					}
				}

				&.uk-active, &:hover {
					cursor: pointer;

					a {
						@include opacity(1);
						text-decoration: none;

						&:before {
							@include opacity(1);
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.map-locations--block {

		.locations--switcher {

			li {
				position: relative;

				.switcher-control {
					position: absolute;
					top: 50%;
					@include translate(0,-50%);
					color: #111;

					&:hover {
						color: $c-green;
					}

					&.switcher-control--left {
						left: 0;
					}

					&.switcher-control--right {
						right: 0;
					}
				}

				.region--intro {
					padding: 0 40px;
					position: relative;
					text-align: center;
					margin-bottom: 50px;

					h1, h2, h3, h4, h5, h6 {
						margin: 0 0 25px;
						font-size: 24px;
						font-family: $playfair;
						font-weight: 700;
						color: #111;
					}

					p {
						margin: 0 0 25px;
						color: #686868;
						font-size: 16px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					ol, ul {
						display: none;
					}
				}

				.region--map {
					position: relative;
					max-width: 480px;
					margin: 0 auto;

					.element--map {
						width: 100%;
						height: auto;
						position: relative;
						z-index: 1;
					}

					.business--pin {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;

						img {
							width: 30px;
							height: auto;

							&.pin--logo {
								position: absolute;
								left: 50%;
								top: 50%;
								@include translate(-50%,-55%);
								width: 80%;
								height: auto;
							}
						}
					}
				}
			}
		}
	}
}

.business--modal {
	visibility: hidden;
	@include opacity(0);
	-webkit-transition : all 0.5s ease;
	-moz-transition : all 0.5s ease;
	-ms-transition : all 0.5s ease;
	-o-transition : all 0.5s ease;
	transition : all 0.5s ease;

	.business--modal-block {
		padding: 25px;
		background: $c-white;
		border: 2px solid #E0E0E0;

		.business--modal-close {
			position: absolute;
			top: 20px;
			right: 19px;
			color: #A1A1A1;

			&:hover, &:focus {
				color: #111;
			}
		}

		.business--modal-block--img {
			margin-bottom: 25px;

			img {
				display: block;
				width: 50%;
				height: auto;
				max-width: 200px;
			}
		}

		.business--modal-block--copy {

			h3 {
				color: #686868;
				font-size: 16px;
				font-weight: bold;
				margin: 0 0 5px;
				line-height: 1.2em;
			}

			h4 {
				color: #686868;
				font-size: 16px;
				font-weight: normal;
				margin: 0 0 5px;
				line-height: 1.2em;
			}

			p {
				color: #686868;
				font-size: 13px;
				margin: 20px 0 0;
			}

			.uk-button {
				@extend %btn-green;
				margin-top: 25px;
				min-width: 140px;
				padding: 0 20px;
				font-size: 11px;
				height: 40px;
				line-height: 38px;

				&:hover {
					background: $c-green;
					color: #fff;
				}
			}

			.arrow {
				display: none;

				&.arrow--left {

				}

				&.arrow--right {

				}
			}
		}
	}

	&.modal--open {
		visibility: visible;
		@include opacity(1);
	}
}

.business--modal {
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
	width: 100%;
	z-index: 100;
}

// Map Pins

// Slide 1

// Brazil
#modal--latin-01 {
	left: 23.5%;
	top: 41%;
}

// UK
#modal--uk-01 {
	left: 47%;
	top: 14%;
}

// Poland
#modal--europe-01 {
	left: 61%;
	top: 14%;
}

// Romania
#modal--europe-02 {
	left: 65.5%;
	top: 27%;
}

// Ukraine
#modal--europe-03 {
	left: 72%;
	top: 20%;
}

$varMapWidth: 440px;
$varMapHeight: 213px;
$varPinWidth: 30px;
$varPinHeight: 33px;

// Slide 2

// Brazil - Fortgreen
#modal--latin-02 {
	left: ($varMapWidth * 0.29062) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.55357) - $varPinHeight;
}

// Ireland - Goulding 
#modal--uk-02 {
	left: ($varMapWidth * 0.42048) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.39928) - $varPinHeight;
}

// UK Origin - Fertiliser
#modal--uk-03 {
	left: ($varMapWidth * 0.55347) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.4256) - $varPinHeight;
}

// Northern Ireland - Origin
#modal--uk-05 {
	left: ($varMapWidth * 0.4479) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.29) - $varPinHeight;
}

// Belgium
#modal--europe-04 {
	left: ($varMapWidth * 0.6229) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.459) - $varPinHeight;
}

// Slide 3

// UK - AgSpace
#modal--uk-11 {
	left: ($varMapWidth * 0.171875) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.36) - $varPinHeight;
}

// UK - Rhiza
#modal--uk-12 {
	left: ($varMapWidth * 0.144097) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.1907) - $varPinHeight;
}

// Poland - Rhiza
#modal--europe-05 {
	left: ($varMapWidth * 0.49965) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.3604166) - $varPinHeight;
}

// Romania - Romania
#modal--europe-06 {
	left: ($varMapWidth * 0.664236) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.73357) - $varPinHeight;
}

// Ukraine - Rhiza
#modal--europe-07 {
	left: ($varMapWidth * 0.7479) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.48214) - $varPinHeight;
}

// Slide 4

// UK - Symbio
#modal--uk-10 {
	left: ($varMapWidth * 0.48194) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.6556) - $varPinHeight;
}

// UK - Rigby Taylor
#modal--uk-06 {
	left: ($varMapWidth * 0.44236) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.5107) - $varPinHeight;
}

// UK - PB Kent
#modal--uk-08 {
	left: ($varMapWidth * 0.50416) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.467857) - $varPinHeight;
}

// UK - LineMark
#modal--uk-09 {
	left: ($varMapWidth * 0.395138) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.325) - $varPinHeight;
}

// UK - Headland
#modal--uk-07 {
	left: ($varMapWidth * 0.5368) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.59642857) - $varPinHeight;
}

// Slide 5

// UK - Thompsons
#modal--uk-99 {
	left: ($varMapWidth * 0.32465) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.37714) - $varPinHeight;
}

// UK - R&H Hall
#modal--uk-14 {
	left: ($varMapWidth * 0.270486) - ($varPinWidth / 2);
	top: ($varMapHeight * 0.53) - $varPinHeight;
}

//@media screen and (max-width: $mq-xlarge - 1) {

	.region--map {

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99;
			visibility: hidden;
			@include opacity(0);
			-webkit-transition : all 0.25s ease;
			-moz-transition : all 0.25s ease;
			-ms-transition : all 0.25s ease;
			-o-transition : all 0.25s ease;
			transition : all 0.25s ease;
		}
	}

	body {

		&.business--modal--open {
			position: relative;

			.site-content {
				position: relative;
				z-index: 99;
			}

			.region--map {

				&:before {
					@include opacity(1);
					visibility: visible;
				}
			}
		}
	}
//}

@media screen and (max-width: $mq-large - 1) {

	body {

		&.business--modal--open {

			.region--map {

				&:before {
					position: fixed;
				}
			}
		}
	}
}

@media screen and (min-width: $mq-medium) {
	
	/* Maps */

	.map--section-n {
		padding: 35px 0;

		.map-locations--block {

			.locations--switcher {

				li {

					.switcher-control {

						&.switcher-control--left {
							left: -10px;
						}

						&.switcher-control--right {
							right: -10px;
						}
					}

					.region--intro {
						max-width: 80%;
						//padding: 0 40px;
						margin: 0 auto 50px;
					}
				}
			}
		}
	}

	// Modal

	.business--modal {

		.business--modal-block {
			padding: 25px;
			background: $c-white;
			border: 2px solid #E0E0E0;

			.business--modal-block--img {
				margin-bottom: 0;
				position: absolute;
				right: 25px;
				top: 60px;
				max-width: 150px;

				img {
					width: 100%;
				}
			}

			.business--modal-block--copy {
				max-width: 55%;
			}
		}
	}
}

@media screen and (min-width: $mq-tablet) {
	
	/* Maps */

	.map--section-n {
		padding: 40px 0;

		.map-locations--block {

			.locations--switcher {

				li {

					.region--intro {
						max-width: 600px;
					}

					.region--map {
						max-width: 700px;

						.business--pin {

							img {
								width: 40px;
							}
						}
					}
				}
			}
		}
	}

	// Modal

	.business--modal {
		max-width: 480px;
	}

	// Map Pins Slide 1

	$varMapWidth: 700px;
	$varMapHeight: 339px;
	$varPinWidth: 40px;
	$varPinHeight: 44px;

	// Brazil
	#modal--latin-01 {
		left: ($varMapWidth * 0.269) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.58928) - $varPinHeight;
	}

	// UK
	#modal--uk-01 {
		left: ($varMapWidth * 0.505) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.298) - $varPinHeight;
	}

	// Poland
	#modal--europe-01 {
		left: ($varMapWidth * 0.647569) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.2992857) - $varPinHeight;
	}

	// Romania
	#modal--europe-02 {
		left: ($varMapWidth * 0.69965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.442) - $varPinHeight;
	}

	// Ukraine
	#modal--europe-03 {
		left: ($varMapWidth * 0.740625) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.350714) - $varPinHeight;
	}

	// Slide 2

	// Brazil - Fortgreen
	#modal--latin-02 {
		left: ($varMapWidth * 0.29062) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.55357) - $varPinHeight;
	}

	// Ireland - Goulding 
	#modal--uk-02 {
		left: ($varMapWidth * 0.42048) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.39928) - $varPinHeight;
	}

	// UK Origin - Fertiliser
	#modal--uk-03 {
		left: ($varMapWidth * 0.55347) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.4256) - $varPinHeight;
	}

	// Northern Ireland - Origin
	#modal--uk-05 {
		left: ($varMapWidth * 0.4479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.29) - $varPinHeight;
	}

	// Belgium
	#modal--europe-04 {
		left: ($varMapWidth * 0.6229) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.459) - $varPinHeight;
	}

	// Slide 3

	// UK - AgSpace
	#modal--uk-11 {
		left: ($varMapWidth * 0.171875) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.36) - $varPinHeight;
	}

	// UK - Rhiza
	#modal--uk-12 {
		left: ($varMapWidth * 0.144097) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.1907) - $varPinHeight;
	}

	// Poland - Rhiza
	#modal--europe-05 {
		left: ($varMapWidth * 0.49965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.3604166) - $varPinHeight;
	}

	// Romania - Romania
	#modal--europe-06 {
		left: ($varMapWidth * 0.664236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.73357) - $varPinHeight;
	}

	// Ukraine - Rhiza
	#modal--europe-07 {
		left: ($varMapWidth * 0.7479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.48214) - $varPinHeight;
	}

	// Slide 4

	// UK - Symbio
	#modal--uk-10 {
		left: ($varMapWidth * 0.48194) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.6556) - $varPinHeight;
	}

	// UK - Rigby Taylor
	#modal--uk-06 {
		left: ($varMapWidth * 0.44236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.5107) - $varPinHeight;
	}

	// UK - PB Kent
	#modal--uk-08 {
		left: ($varMapWidth * 0.50416) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.467857) - $varPinHeight;
	}

	// UK - LineMark
	#modal--uk-09 {
		left: ($varMapWidth * 0.395138) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.325) - $varPinHeight;
	}

	// UK - Headland
	#modal--uk-07 {
		left: ($varMapWidth * 0.5368) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.59642857) - $varPinHeight;
	}

	// Slide 5

	// UK - Thompsons
	#modal--uk-99 {
		left: ($varMapWidth * 0.32465) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.37714) - $varPinHeight;
	}

	// UK - R&H Hall
	#modal--uk-14 {
		left: ($varMapWidth * 0.270486) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.53) - $varPinHeight;
	}
}

@media screen and (min-width: $mq-large) {
	
	/* Maps */

	.map--section-n {
		padding: 45px 0;

		.map-locations--block {

			.locations--switcher {

				li {

					.region--intro {
						max-width: 800px;
					}

					.region--map {
						max-width: 960px;

						.business--pin {

							img {
								width: 50px;
							}
						}
					}
				}
			}
		}
	}

	// Modal

	.business--modal {
		//max-width: 480px;
	}

	// Map Pins

	$varMapWidth: 960px;
	$varMapHeight: 465px;
	$varPinWidth: 50px;
	$varPinHeight: 55px;

	// Slide 1

	// Brazil
	#modal--latin-01 {
		left: ($varMapWidth * 0.269) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.58928) - $varPinHeight;
	}

	// UK
	#modal--uk-01 {
		left: ($varMapWidth * 0.505) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.298) - $varPinHeight;
	}

	// Poland
	#modal--europe-01 {
		left: ($varMapWidth * 0.647569) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.2992857) - $varPinHeight;
	}

	// Romania
	#modal--europe-02 {
		left: ($varMapWidth * 0.69965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.442) - $varPinHeight;
	}

	// Ukraine
	#modal--europe-03 {
		left: ($varMapWidth * 0.740625) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.350714) - $varPinHeight;
	}

	// Slide 2

	// Brazil - Fortgreen
	#modal--latin-02 {
		left: ($varMapWidth * 0.29062) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.55357) - $varPinHeight;
	}

	// Ireland - Goulding 
	#modal--uk-02 {
		left: ($varMapWidth * 0.42048) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.39928) - $varPinHeight;
	}

	// UK Origin - Fertiliser
	#modal--uk-03 {
		left: ($varMapWidth * 0.55347) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.4256) - $varPinHeight;
	}

	// Northern Ireland - Origin
	#modal--uk-05 {
		left: ($varMapWidth * 0.4479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.29) - $varPinHeight;
	}

	// Belgium
	#modal--europe-04 {
		left: ($varMapWidth * 0.6229) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.459) - $varPinHeight;
	}

	// Slide 3

	// UK - AgSpace
	#modal--uk-11 {
		left: ($varMapWidth * 0.171875) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.36) - $varPinHeight;
	}

	// UK - Rhiza
	#modal--uk-12 {
		left: ($varMapWidth * 0.144097) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.1907) - $varPinHeight;
	}

	// Poland - Rhiza
	#modal--europe-05 {
		left: ($varMapWidth * 0.49965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.3604166) - $varPinHeight;
	}

	// Romania - Romania
	#modal--europe-06 {
		left: ($varMapWidth * 0.664236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.73357) - $varPinHeight;
	}

	// Ukraine - Rhiza
	#modal--europe-07 {
		left: ($varMapWidth * 0.7479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.48214) - $varPinHeight;
	}

	// Slide 4

	// UK - Symbio
	#modal--uk-10 {
		left: ($varMapWidth * 0.48194) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.6556) - $varPinHeight;
	}

	// UK - Rigby Taylor
	#modal--uk-06 {
		left: ($varMapWidth * 0.44236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.5107) - $varPinHeight;
	}

	// UK - PB Kent
	#modal--uk-08 {
		left: ($varMapWidth * 0.50416) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.467857) - $varPinHeight;
	}

	// UK - LineMark
	#modal--uk-09 {
		left: ($varMapWidth * 0.395138) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.325) - $varPinHeight;
	}

	// UK - Headland
	#modal--uk-07 {
		left: ($varMapWidth * 0.5368) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.59642857) - $varPinHeight;
	}

	// Slide 5

	// UK - Thompsons
	#modal--uk-99 {
		left: ($varMapWidth * 0.32465) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.37714) - $varPinHeight;
	}

	// UK - R&H Hall
	#modal--uk-14 {
		left: ($varMapWidth * 0.270486) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.53) - $varPinHeight;
	}
}

@media screen and (min-width: $mq-xlarge) {
	
	/* Maps */

	.map--section-n {
		padding: 50px 0;

		.map-nav--block {

			.map-regions--nav {

				li {

					a {
						font-size: 16px;
					}
				}
			}
		}

		.map-locations--block {

			.locations--switcher {

				li {

					.region--intro {
						max-width: 880px;
					}

					.region--map {
						max-width: 1200px;

						.business--pin {

							img {
								width: 70px;
							}
						}
					}
				}
			}
		}
	}

	// Modal

	.business--modal {
		//max-width: 480px;
	}

	// Map Pins

	$varMapWidth: 1200px;
	$varMapHeight: 581px;
	$varPinWidth: 70px;
	$varPinHeight: 77px;

	// Slide 1

	// Brazil
	#modal--latin-01 {
		left: ($varMapWidth * 0.269) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.58928) - $varPinHeight;
	}

	// UK
	#modal--uk-01 {
		left: ($varMapWidth * 0.505) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.298) - $varPinHeight;
	}

	// Poland
	#modal--europe-01 {
		left: ($varMapWidth * 0.647569) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.2992857) - $varPinHeight;
	}

	// Romania
	#modal--europe-02 {
		left: ($varMapWidth * 0.69965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.442) - $varPinHeight;
	}

	// Ukraine
	#modal--europe-03 {
		left: ($varMapWidth * 0.740625) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.350714) - $varPinHeight;
	}

	// Slide 2

	// Brazil - Fortgreen
	#modal--latin-02 {
		left: ($varMapWidth * 0.29062) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.55357) - $varPinHeight;
	}

	// Ireland - Goulding 
	#modal--uk-02 {
		left: ($varMapWidth * 0.42048) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.39928) - $varPinHeight;
	}

	// UK Origin - Fertiliser
	#modal--uk-03 {
		left: ($varMapWidth * 0.55347) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.4256) - $varPinHeight;
	}

	// Northern Ireland - Origin
	#modal--uk-05 {
		left: ($varMapWidth * 0.4479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.29) - $varPinHeight;
	}

	// Belgium
	#modal--europe-04 {
		left: ($varMapWidth * 0.6229) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.459) - $varPinHeight;
	}

	// Slide 3

	// UK - AgSpace
	#modal--uk-11 {
		left: ($varMapWidth * 0.171875) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.36) - $varPinHeight;
	}

	// UK - Rhiza
	#modal--uk-12 {
		left: ($varMapWidth * 0.144097) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.1907) - $varPinHeight;
	}

	// Poland - Rhiza
	#modal--europe-05 {
		left: ($varMapWidth * 0.49965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.3604166) - $varPinHeight;
	}

	// Romania - Romania
	#modal--europe-06 {
		left: ($varMapWidth * 0.664236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.73357) - $varPinHeight;
	}

	// Ukraine - Rhiza
	#modal--europe-07 {
		left: ($varMapWidth * 0.7479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.48214) - $varPinHeight;
	}

	// Slide 4

	// UK - Symbio
	#modal--uk-10 {
		left: ($varMapWidth * 0.48194) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.6556) - $varPinHeight;
	}

	// UK - Rigby Taylor
	#modal--uk-06 {
		left: ($varMapWidth * 0.44236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.5107) - $varPinHeight;
	}

	// UK - PB Kent
	#modal--uk-08 {
		left: ($varMapWidth * 0.50416) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.467857) - $varPinHeight;
	}

	// UK - LineMark
	#modal--uk-09 {
		left: ($varMapWidth * 0.395138) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.325) - $varPinHeight;
	}

	// UK - Headland
	#modal--uk-07 {
		left: ($varMapWidth * 0.5368) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.59642857) - $varPinHeight;
	}

	// Slide 5

	// UK - Thompsons
	#modal--uk-99 {
		left: ($varMapWidth * 0.32465) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.37714) - $varPinHeight;
	}

	// UK - R&H Hall
	#modal--uk-14 {
		left: ($varMapWidth * 0.270486) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.53) - $varPinHeight;
	}
}

@media screen and (min-width: 1440px) {
	
	/* Maps */

	.map--section-n {
		padding: 55px 0;

		.uk-container {
			max-width: 1440px;
		}

		.map-locations--block {

			.locations--switcher {

				li {

					.region--map {
						max-width: 1440px;

						.business--pin {

							img {
								width: 80px;
							}
						}
					}
				}
			}
		}
	}

	// Map Pins

	$varMapWidth: 1440px;
	$varMapHeight: 698px;
	$varPinWidth: 80px;
	$varPinHeight: 88px;

	// Slide 1

	// Brazil
	#modal--latin-01 {
		left: ($varMapWidth * 0.269) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.58928) - $varPinHeight;
	}

	// UK
	#modal--uk-01 {
		left: ($varMapWidth * 0.505) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.298) - $varPinHeight;
	}

	// Poland
	#modal--europe-01 {
		left: ($varMapWidth * 0.647569) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.2992857) - $varPinHeight;
	}

	// Romania
	#modal--europe-02 {
		left: ($varMapWidth * 0.69965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.442) - $varPinHeight;
	}

	// Ukraine
	#modal--europe-03 {
		left: ($varMapWidth * 0.740625) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.350714) - $varPinHeight;
	}

	// Slide 2
	
	// Slide 2

	// Brazil - Fortgreen
	#modal--latin-02 {
		left: ($varMapWidth * 0.29062) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.55357) - $varPinHeight;
	}

	// Ireland - Goulding 
	#modal--uk-02 {
		left: ($varMapWidth * 0.42048) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.39928) - $varPinHeight;
	}

	// UK Origin - Fertiliser
	#modal--uk-03 {
		left: ($varMapWidth * 0.55347) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.4256) - $varPinHeight;
	}

	// Northern Ireland - Origin
	#modal--uk-05 {
		left: ($varMapWidth * 0.4479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.29) - $varPinHeight;
	}

	// Belgium
	#modal--europe-04 {
		left: ($varMapWidth * 0.6229) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.459) - $varPinHeight;
	}

	// Slide 3

	// UK - AgSpace
	#modal--uk-11 {
		left: ($varMapWidth * 0.171875) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.36) - $varPinHeight;
	}

	// UK - Rhiza
	#modal--uk-12 {
		left: ($varMapWidth * 0.144097) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.1907) - $varPinHeight;
	}

	// Poland - Rhiza
	#modal--europe-05 {
		left: ($varMapWidth * 0.49965) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.3604166) - $varPinHeight;
	}

	// Romania - Romania
	#modal--europe-06 {
		left: ($varMapWidth * 0.664236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.73357) - $varPinHeight;
	}

	// Ukraine - Rhiza
	#modal--europe-07 {
		left: ($varMapWidth * 0.7479) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.48214) - $varPinHeight;
	}

	// Slide 4

	// UK - Symbio
	#modal--uk-10 {
		left: ($varMapWidth * 0.48194) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.6556) - $varPinHeight;
	}

	// UK - Rigby Taylor
	#modal--uk-06 {
		left: ($varMapWidth * 0.44236) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.5107) - $varPinHeight;
	}

	// UK - PB Kent
	#modal--uk-08 {
		left: ($varMapWidth * 0.50416) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.467857) - $varPinHeight;
	}

	// UK - LineMark
	#modal--uk-09 {
		left: ($varMapWidth * 0.395138) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.325) - $varPinHeight;
	}

	// UK - Headland
	#modal--uk-07 {
		left: ($varMapWidth * 0.5368) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.59642857) - $varPinHeight;
	}
	
	// Slide 5

	// UK - Thompsons
	#modal--uk-99 {
		left: ($varMapWidth * 0.32465) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.37714) - $varPinHeight;
	}

	// UK - R&H Hall
	#modal--uk-14 {
		left: ($varMapWidth * 0.270486) - ($varPinWidth / 2);
		top: ($varMapHeight * 0.53) - $varPinHeight;
	}
}