/* 	New styles for hard coded changes 
	29/01/2020
*/

/* Mixins */

@mixin translate($x: 0, $y: 0) {
	-webkit-transform : translate($x, $y);
	-moz-transform : translate($x, $y);
	-ms-transform : translate($x, $y);
	-o-transform : translate($x, $y);
	transform : translate($x, $y);
}

@mixin rotate($deg) {
	-webkit-transform : rotate($deg);
	-moz-transform : rotate($deg);
	-ms-transform : rotate($deg);
	-o-transform : rotate($deg);
	transform : rotate($deg);
}

// .opacity(VALUE);

@mixin opacity($opacity: 0.5) {
	-webkit-opacity : $opacity;
	-moz-opacity : $opacity;
	opacity : $opacity;
}

/* Variables */

/* Global */

/*****Colour Fade Elements*****/
a, input, textarea, button, span, i, ul, li, select {
	text-decoration: none;
	-moz-transition-property: color, background-color, opacity, border-color;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: color, background-color, opacity, border-color;
	-webkit-transition-duration: 0.3s;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: 0.3s;
}

em {
	color: inherit;
}

.learn-more-section .image-block.shift-img--right-bottom::before
.learn-more-section .image-block.shift-img--left-bottom::before

/* ScrollSpy */

.hide-element {
	visibility: hidden;
	@include opacity(0);
}

.show-element {
	visibility: visible;
	@include opacity(1);
}

/* Image background shifts */

.infoblock-section {

	.image-block {
		height: 350px;

		&:before {
			display: none;
		}

		@media screen and (min-width: $mq-medium) {

			&:before {
				display: block;
			}
		}

		@media screen and (min-width: $mq-large) {
			height: 460px;
			margin-left: 0;
		}

		@media screen and (min-width: $mq-xlarge) {
			margin-left: 30px;
		}

		@media screen and (max-width: $mq-large - 1) {
			margin-left: -30px !important;
		}

		@media screen and (max-width: $mq-medium - 1) {
			margin-left: -15px !important;
		}
	}

	.text-block {
		padding-top: 30px;

		@media screen and (min-width: $mq-medium) {
			padding-top: 50px;
		}

		@media screen and (min-width: $mq-large) {
			padding-top: 0;
			margin-left: 0;
			margin-right: 40px;

			&.text-block--right {
				margin-left: 40px;
				margin-right: 0;
			}
		}

		@media screen and (min-width: $mq-xlarge) {
			margin-left: 50px;
			margin-right: 0;

			&.text-block--right {
				margin-left: 50px;
				margin-right: 0;
			}
		}
	}

	&.about {

		&.small {

			.image-block {
				margin-left: 0;
				margin-right: 0;
				width: 100%;

				@media screen and (min-width: $mq-medium) {
					margin-right: -15px;
					width: 345px;
				}

				@media screen and (min-width: $mq-large) {
					width: 345px;
				}

				@media screen and (max-width: $mq-large - 1) {
					margin-left: 0px !important;
				}
			}

			.text-block {
				margin-top: 0 !important;

				@media screen and (min-width: $mq-large) {
					margin-top: 50px !important;
				}
			}

			&.small--center {

				.image-block {
					margin-right: 0;
					max-width: 410px;
					width: 100%;
					float: none;

					@media screen and (min-width: $mq-medium) {
						width: 410px;
					}

					@media screen and (min-width: $mq-large) {
						margin-right: 45px;
						float: right;
					}
				}
			}
		}
	}
}

.shift-img--left-bottom {

	&:before {
		right: auto !important; // reset
		bottom: auto !important; // reset
		left: 30px !important;
		top: -30px !important;
	}
}

.shift-img--right-bottom {

	&:before {
		right: auto !important; // reset
		top: auto !important; // reset
		left: 30px !important;
		bottom: -30px !important;
	}
}

.shift-img--right-top {

	&:before {
		right: auto !important; // reset
		top: auto !important; // reset
		left: 30px !important;
		bottom: -30px !important;
	}
}

.shift-img--left-top {

	&:before {
		right: auto !important; // reset
		top: auto !important; // reset
		left: -30px !important;
		bottom: -30px !important;
	}
}

.no-img-shadow {

	&:before {
		display: none !important;
	}
}

.image-block {

	&.shift-img--left-bottom {

		&:before {
			right: auto !important; // reset
			top: auto !important; // reset
			left: -30px !important;
			bottom: -30px !important;
		}
	}

	&.shift-img--right-bottom {

		&:before {
			right: auto !important; // reset
			top: auto !important; // reset
			left: 30px !important;
			bottom: -30px !important;
		}
	}

	&.shift-img--right-top {

		&:before {
			right: auto !important; // reset
			bottom: auto !important; // reset
			left: 30px !important;
			top: -30px !important;
		}
	}

	&.shift-img--left-top {

		&:before {
			right: auto !important; // reset
			bottom: auto !important; // reset
			left: -30px !important;
			top: -30px !important;
		}
	}

	&.no-img-shadow {

		&:before {
			display: none !important;
		}
	}
}

.learn-more-section {

	.image-block {

		&.shift-img--left-bottom {

			&:before {
				left: 0px !important;
				bottom: -30px !important;
			}
		}

		&.shift-img--right-bottom {

			&:before {
				right: -30px !important;
				bottom: -30px !important;
				left: auto !important;
			}
		}

		&.shift-img--right-top {

			&:before {
				right: -30px !important;
				left: auto !important;
				top: -30px !important;
			}
		}

		&.shift-img--left-top {

			&:before {
				left: 0 !important;
				top: -30px !important;
			}
		}

		&.no-img-shadow {

			&:before {
				display: none !important;
			}
		}
	}
}

.learn-more-section {
	overflow: hidden;

	@media screen and (min-width: $mq-large) {
		overflow: visible;
	}
}

.learn-more-block {

	.text-block {
		padding-top: 30px;
	}

	.image-block {

		&:before {
			display: none;
		}
	}

	&.reverse {

		.uk-cover-container {
			overflow: visible;
		}

		.image-block {
			height: 350px;
		}

		.uk-grid > div:first-child > div:first-child {
			padding-bottom: 0;
			padding-top: 0;
		}

		.uk-grid > div:first-child > div:last-child {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media screen and (min-width: $mq-medium) {

		.text-block {
			padding-top: 50px;
		}

		.image-block {

			&:before {
				display: block;
			}
		}

		&.reverse {

			.text-block {
				padding-top: 50px;
				margin-left: 95px;
			}

			.image-block {
				//height: 480px;
			}

			.uk-grid > div:first-child > div:first-child {
				//padding-bottom: 50px;
				//padding-top: 50px;
			}
		}
	}

	@media screen and (min-width: $mq-large) {

		.text-block {
			margin-left: 50px;
			margin-right: 25px;
			padding-top: 0;
		}
	
		&.reverse {

			.uk-cover-container {
				overflow: hidden;
			}

			.text-block {
				margin-left: 0;
				padding-top: 30px;
			}

			.image-block {
				height: 480px;
			}
		}

	}

	@media screen and (min-width: $mq-xlarge) {

		.text-block {
			margin-left: 95px;
			margin-right: 0;
		}

		&.reverse {

			.text-block {
				margin-left: 40px;
			}

			.uk-grid > div:first-child > div:last-child {
				margin-right: -15px;
			}
		}
	}
}

.img-bg {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba($c-green, .1);
		z-index: 1;
	}
}

.img-bg--top-left {

	&:before {
		top: -20px;
		left: -20px;
	}

	&--sm {

		&:before {
			top: -10px;
			left: -10px;
		}
	}

	&--lg {

		&:before {
			top: -30px;
			left: -30px;
		}
	}
}

.img-bg--top-right {

	&:before {
		top: -20px;
		left: 20px;
	}

	&--sm {

		&:before {
			top: -10px;
			left: 10px;
		}
	}

	&--lg {

		&:before {
			top: -30px;
			left: 30px;
		}
	}
}

.img-bg--bottom-left {

	&:before {
		top: 20px;
		left: -20px;
	}

	&--sm {

		&:before {
			top: 10px;
			left: -10px;
		}
	}

	&--lg {

		&:before {
			top: 30px;
			left: -30px;
		}
	}
}

.img-bg--bottom-right {

	&:before {
		top: 20px;
		left: 20px;
	}

	&--sm {

		&:before {
			top: 10px;
			left: 10px;
		}
	}

	&--lg {

		&:before {
			top: 30px;
			left: 30px;
		}
	}
}

/* Sustainability page specific styles */

body {

	&.page-template-sustainability-page {
		overflow-x: hidden;

		.learn-more-section {
			margin-top: 80px;

			&.sustainability {
				margin-top: -170px;
				margin-bottom: 0;
			}

			@media screen and (max-width: $mq-large - 1px) {
				margin-top: 50px;

				&.sustainability {
					margin-top: -50px;
					margin-bottom: 0;
				}
			}
		}

		/*.learn-more-extra-section + .learn-more-extra-section {
			margin-top: 80px;

			@media screen and (max-width: $mq-large - 1px) {
				margin-top: 50px;
			}
		}*/

		.learn-more-block {

			.image-block {

				.uk-cover-container {
					
				}
			}

			&.reverse {

				.text-block {
					padding-bottom: 0 !important;

					@media screen and (min-width: $mq-medium) {
						padding-top: 80px !important;
					}

					@media screen and (min-width: $mq-large) {
						padding-top: 170px !important;
						padding-bottom: 0 !important;
					}
				}
			}
		}

		.learn-more-extra-block {

			.text-block {
				max-width: 400px;

				@media screen and (min-width: $mq-large) {
					max-width: 80%;
				}

				@media screen and (min-width: $mq-xlarge) {
					max-width: 400px;
				}
			}

			.image-block {

				&:before {
					top: -30px;
					left: -30px;
				}
			}

			&.reverse {

				.text-block {
					max-width: 500px;

					@media screen and (min-width: $mq-large) {
						max-width: 75%;
					}

					@media screen and (min-width: $mq-xlarge) {
						max-width: 500px;
					}
				}

				.image-block {

					&:before {
						top: 30px;
						left: 30px;
					}
				}
			}
		}

		.infoblock-section {

			&.first {
				margin-top: 150px;

				@media screen and (max-width: $mq-medium - 1px) {
					margin-top: 100px;
				}

				.text-block {

					@media screen and (max-width: $mq-large - 1px) {
						padding-top: 50px;
						margin-bottom: 25px;
					}
				}
			}
		}
	}
}

/* Spacer */

.spacer {
	padding: 0;

	@media screen and (max-width: $mq-medium - 1px) {
		padding: 0;
	}
}

/* Video block */

.uk-lightbox {
	background: rgba(0, 0, 0, 0.85);
}

.uk-lightbox-toolbar {
	background: none;
	transform: none !important;
}

.uk-lightbox-items > .uk-active {
	//max-width: 1280px;
	//margin: 0 auto;

	iframe {
		max-width: 1280px !important;
	}
}

.section--video {
	background: #F9F9F9;
	padding: 80px 0;
	margin: 0 !important;

	@media screen and (max-width: $mq-large - 1px) {
		padding: 50px 0;
		margin: 0 !important;
	}

	@media screen and (max-width: $mq-medium - 1px) {
		padding: 35px 0;
		margin: 0 !important;
	}

	.block--video {
		position: relative;

		&.image-block {
			height: 335px;
			width: 100%;
			padding: 0;

			&:before {
				display: none !important;
			}
		}

		.uk-button-video {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: 34px;
			width: 224px;
			line-height: 50px;
		}
	}

	.block--text {

		&.text-block {
			padding-top: 30px;
			padding-bottom: 30px;
			margin-left: 0;
			max-width: 100%;

			p {

				&:last-child {
					margin-bottom: 0 !important;
				}
			}

			@media screen and (min-width: $mq-medium) {
				margin-left: 0;
				padding-bottom: 40px;
				padding-top: 40px;
			}

			@media screen and (min-width: $mq-large) {
				padding-top: 30px;
				padding-bottom: 30px;
				margin-left: 60px;
			}

			@media screen and (min-width: $mq-xlarge) {
				max-width: 500px;
			}			
		}
	}

	&.bg--white {
		background: #fff;
		padding: 0;

		@media screen and (max-width: $mq-large - 1px) {
			padding: 0;
		}

		@media screen and (max-width: $mq-medium - 1px) {
			padding: 0;
		}
	}
}

/* Watch video button */

.uk-button-video {

	&.uk-button {
		@extend %btn-basic;
		color: $c-white;
		border: 1px solid $c-white;
		background: rgba(255, 255, 255, 0.1);

		span {
			vertical-align: middle;
			margin-right: 10px;
		}

		&:after {
			content: url('../img/play-btn.svg');
			vertical-align: middle;
		}
	}
}

/* Our Business (map) */

.map-section {
	margin: 40px 0 30px;
	position: relative;
	z-index: 120;

	.title {
		margin-bottom: 0;

		p {
			color: $c-gray;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.map-section-new {

	.block--map-nav {
		background: $c-green;
		padding: 20px;

		@media screen and (min-width: $mq-medium) {
			padding: 0 20px;
		}

		.nav--map-regions {
			text-align: center;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				font-size: 16px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				font-weight: 600;

				a {
					color: $c-white;

					&:hover {
						color: $c-gray-light;
						text-decoration: none;
					}
				}

				span {
					opacity: 0;
					visibility: hidden;
					background: transparent;
					border-color: transparent transparent #ffffff transparent;
				}

				&.uk-active {

					a {
						color: $c-gray-light;
						text-decoration: none;
					}
				}

				@media screen and (min-width: $mq-medium) {
					position: relative;

					a {
						padding: 20px 0;
						display: inline-block;

						&:hover {
							color: $c-white;

							span {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 17px 17px 17px;
								border-color: transparent transparent #ffffff transparent;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								margin: 0 auto;
								visibility: visible;
								opacity: 1;
								background: transparent;
							}
						}
					}

					&.uk-active {
						position: relative;

						a {
							color: $c-white;

							span {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 17px 17px 17px;
								border-color: transparent transparent #ffffff transparent;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								margin: 0 auto;
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.block--map-locations {
		padding: 25px;

		.switcher--locations {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin: 0;
				padding: 0;

				.block--location {

					.inner--location {
						max-width: 200px;
						margin: 0 auto;

						h3 {
							font-size: 16px;
							color: $c-gray;
							font-weight: bold;
							margin: 0 0 5px;
						}

						ul {
							list-style: none;
							margin: 0;
							padding: 0;

							li {
								margin: 0;
								padding: 0;
								font-size: 14px;
								line-height: 1.75em;
								font-weight: lighter;

								a {
									color: $c-gray;

									&:hover {
										color: $c-green;
										text-decoration: none;
									}
								}

								&.uk-active {

									a {
										color: $c-green;
									}
								}
							}
						}

						@media screen and (min-width: 480px) {
							
						}

						@media screen and (min-width: $mq-small) {
							
						}

						@media screen and (min-width: $mq-medium) {
							
						}
					}
				}
			}
		}
	}
}

.map-wrapper {
	position: relative;
	//padding-bottom: 40px;

	.map {

		img {
			max-width: 1120px;
			width: 100%;
			height: auto;
		}
	}
}

.contact-section {

	.map-wrapper::before {
		background: transparent;
	}
}

.modal--location {
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $modal-z-index;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: $modal-padding-vertical $modal-padding-horizontal;
    background: $modal-background;
    opacity: 0;
    transition: opacity 0.15s linear;

	.uk-modal-dialog {
	    position: relative;
	    box-sizing: border-box;
	    margin: 0 auto;
	    width: $modal-dialog-width;
	    max-width: unquote('calc(100% - 0.01px)') !important;
	    background: $modal-dialog-background;
	    opacity: 0;
	    transform: translateY(-100px);
	    transition: 0.3s linear;
	    transition-property: opacity, transform;
		-moz-transition-property: color, background-color, opacity, border-color;
		-moz-transition-duration: 0.3s;
		-webkit-transition-property: color, background-color, opacity, border-color;
		-webkit-transition-duration: 0.3s;
		transition-property: color, background-color, opacity, border-color;
		transition-duration: 0.3s;
	}

	&.uk-open {
    	opacity: 1;
    	display: block;

    	.uk-modal-dialog {
		    opacity: 1;
		    transform: translateY(-40%);
		    top: 50%;
		}
    }

	img {
		max-width: 200px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		display: block;
	}

	h2 {
		color: $c-gray;
		font-weight: normal;
		margin: 0 0 12px;
		font-size: 16px;
	}

	p {
		color: $c-gray;
		font-weight: lighter;
		font-size: 12px;
		margin: 0 0 20px;
	}

	.uk-button {
		@extend %btn-green;
	}

	@media screen and (min-width: $mq-xlarge) {
		background: transparent !important;
		width: 400px;
		position: absolute;
		padding: 25px;
		z-index: 99;

		&.uk-open {

	    	.uk-modal-dialog {
				transform: translateY(0);
				top: auto;
			}
	    }

		.uk-modal-body {
			width: 400px;
			border-radius: 0;
			border: solid 2px #e0e0e0;
			position: relative;

			.arrow {
				position: absolute;
				width: 36px;
				height: 36px;
				background: $c-white;
				top: 43%;
				@include rotate(45deg);	

				&.arrow--left {
					left: -19px;
					border-left: solid 2px #e0e0e0;
					border-bottom: solid 2px #e0e0e0;
				}

				&.arrow--right {
					right: -19px;
					border-right: solid 2px #e0e0e0;
					border-top: solid 2px #e0e0e0;
				}
			}
		}

		img {
			height: 50px;
			width: auto;
			max-width: unset;
		}

		&#modal--uk-01 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-02 {
			top: 27px;
			left: 61px;
		}

		&#modal--uk-03 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-04 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-05 {
			top: 32px;
			left: 513px;
		}

		&#modal--uk-06 {
			top: 24px;
			left: 529px;
		}

		&#modal--uk-07 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-08 {
			top: 24px;
			left: 529px;
		}

		&#modal--uk-09 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-10 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-11 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-12 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-13 {
			top: 32px;
			left: 529px;
		}

		&#modal--uk-14 {
			top: 12px;
			left: 61px;
		}

		&#modal--europe-01 {
			top: 43px;
			left: 136px;
		}

		&#modal--europe-02 {
			top: 64px;
			left: 153px;
		}

		&#modal--europe-03 {
			top: 37px;
			left: 173px;
		}

		&#modal--europe-04 {
			top: 48px;
			left: 89px;
		}

		&#modal--europe-05 {
			top: 43px;
			left: 136px;
		}

		&#modal--europe-06 {
			top: 64px;
			left: 153px;
		}

		&#modal--europe-07 {
			top: 37px;
			left: 173px;
		}

		&#modal--latin-01 {
			top: 265px;
			left: 395px;
		}

		&#modal--latin-02 {
			top: 265px;
			left: 395px;
		}
	}
}

/* Hero Banner */

.hero-section-regular {

	.text-block {

		p {
			color: $c-white;
			font-size: 16px;
			font-family: $playfair;
			margin: 20px auto 0;
		}
	}

	@media screen and (min-width: $mq-medium) {

		.text-block {

			p {
				font-size: 20px;
				max-width: 700px;
			}
		}
	}

	@media screen and (min-width: $mq-large) {

		.text-block {

			p {
				font-size: 24px;
			}
		}
	}
}

.hero-section-regular-overlay {
	position: relative;

	&::before {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: rgba(0,0,0,0.35);
		content: "";
		top: 0;
		left: 0;
		z-index: 2;
	}
}

.hero-secondary-section {

	.text-block {

		p {

			&.quote {
				padding: 55px 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and (min-width: $mq-medium) {
			
			p {

				&.quote {
					padding: 55px 20px;
				}
			}
		}

		@media screen and (min-width: $mq-xlarge) {
			
			p {

				&.quote::after {
					right: 20px;
				}
			}
		}
	}
}

.section--about--stats {
	position: relative;
	padding-bottom: 30px;

	&::after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		max-width: 1200px;
		border-bottom: 1px solid #E0E0E0;
	}

	@media screen and (min-width: $mq-medium) {
		padding-bottom: 50px;
	}

	@media screen and (min-width: $mq-large) {
		padding-bottom: 75px;
	}

	@media screen and (min-width: $mq-xlarge) {
		padding-bottom: 100px;
	}
}

.block--stats {
	height: 300px;
	position: relative;
	margin-bottom: 10px;

	span {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: rgba(0,0,0,0.35);
		content: "";
		top: 0;
		left: 0;
		z-index: 3;
	}

	.inner--stats {
		position: relative;
		z-index: 4;
		max-width: 200px;

		img {
			width: auto;
			display: inline-block;
			margin-bottom: 20px;
		}

		h3 {
			font-size: 32px;
			color: $c-white;
			margin: 0 0 10px;
			font-family: $playfair;
			font-weight: 700;
		}

		p {
			font-size: 20px;
			color: $c-white;
			margin: 0;
			font-family: $hk-grotesk;
			font-weight: 300;
		}
	}

	&.block--stats--04 {

		.inner--stats {

			img {
				height: 52px;
			}
		}
	}

	&.block--stats--05 {

		.inner--stats {

			img {
				height: 70px;
			}
		}
	}

	&.block--stats--06 {

		.inner--stats {

			img {
				height: 70px;
			}
		}
	}

	@media screen and (min-width: $mq-medium) {
		margin-bottom: 15px;

		&.block--stats--01 {
			height: 615px;
		}

		&.block--stats--02 {
			margin-bottom: 15px;

		}

		&.block--stats--03 {

		}

		&.block--stats--04 {
			height: 200px;

			.inner--stats {
				text-align: left !important;
				width: 220px;
				max-width: none;

				img {
					margin-bottom: 0;
					height: 60px;
					margin-top: 5px;
				}

				h3 {
					margin-bottom: 0;
				}
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {

		&.block--stats--01 {
			height: 615px;
		}

		&.block--stats--02 {
			height: 300px;
		}

		&.block--stats--03 {
			height: 300px;
		}

		&.block--stats--04 {
			height: 160px;

			/*.inner--stats {
				width: 220px;

				img {
					margin-bottom: 0;
					height: 60px;
					margin-top: 5px;
				}

				h3 {
					margin-bottom: 0;
				}
			}*/
		}

		&.block--stats--05 {
			height: 440px;
		}


		&.block--stats--06 {
			height: 440px;
		}
	}
}

/* About - Our History */

.section--about--our-history {
	background: #E5F0ED;
	padding: 30px 15px;
	margin-bottom: 30px;

	.block--our-history--img {

		.inner--our-history--img {

			img {
				width: 100%;
				max-width: 500px;
				height: auto;
			}
		}
	}

	.block--our-history--copy {

		.inner--our-history--copy {

			h1, h2, h3, h4, h5, h6 {
				font-size: 24px;
				font-family: $playfair;
				font-weight: 700;
				margin: 0 0 20px;
				color: #2A2A2A;
			}

			p {
				font-size: 16px;
				font-family: $hk-grotesk;
				font-weight: 300;
				margin: 0 0 30px;
				color: $c-gray;
			}

			.uk-button {
				@extend %btn-basic;
				border: 1px solid $c-green;
				color: $c-green;
				line-height: 50px;
			}
		}
	}

	@media screen and (min-width: $mq-medium) {
		padding: 30px 0;
		margin-bottom: 50px;
	}

	@media screen and (min-width: $mq-large) {
		padding: 40px 0;
		margin-bottom: 75px;

		.block--our-history--copy {

			.inner--our-history--copy {
				padding-left: 10px;
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {
		padding: 30px 0;
		max-width: 1180px;
		margin: 0 auto 100px;

		.block--our-history--img {

			.inner--our-history--img {
				position: relative;

				img {
					position: absolute;
					top: -50px;
					left: -20px;
					width: 242px;
				}
			}
		}

		.block--our-history--copy {

			.inner--our-history--copy {
				padding-left: 10px;
				max-width: 670px;
			}
		}
	}
}

/* About - Graphs & Legends */

.profit-facts-section {
	
	.uk-container {
		max-width: 1070px;
	}

	.image-wrapper {
		max-width: 500px;
	}

	.block--graph--img {

		.inner--graph--img {
			padding-left: 20px;

			.text-block {
				text-align: left;

				p {
					font-size: 14px;
					color: $c-gray;
					font-weight: 500;
				}
			}

			img {
				max-width: 252px;
				width: 100%;
				height: auto;
			}
		}
	}

	.block--graph--legend {

		.inner--graph--legend {
			text-align: left;
			padding-left: 20px;

			ul {
				list-style: none;
				margin: 0 0 30px;
				padding: 0;

				li {
					font-size: 14px;
					color: #686868;
					margin: 0;
					padding: 0;
					line-height: 18px;
					margin-bottom: 18px;
					position: relative;
					padding-left: 30px;
				}
			}
		}
	}

	.legend--label {
		line-height: 18px;
		display: inline-block;
	}

	.legend {
		border-radius: 50%;
		width: 18px;
		height: 18px;
		display: inline-block;
		background: $c-gray;
		position: absolute;
		left: 0;
		top: 0;

		&.legend--blue {
			background: #339ED1;
		}

		&.legend--orange {
			background: #E3A81D;
		}

		&.legend--light-green {
			background: #78BF43;
		}

		&.legend--green {
			background: #026950;
		}

		&.legend--yellow {
			background: #EACD0B;
		}
	}

	@media screen and (min-width: $mq-small) {

		.block--graph--legend {

			.inner--graph--legend {
				padding-left: 30px;
			}
		}
	}

	@media screen and (min-width: $mq-medium) {

		.image-wrapper {
			max-width: 540px;
			margin: 0 auto 50px;
		}
	}

	@media screen and (min-width: $mq-xlarge) {

		.image-wrapper {
			max-width: 500px;
			margin: 0 0 50px;
		}

		.block--graph--img {

			.inner--graph--img {
				padding-left: 0;
			}
		}
	}
}

/* Our History - Timeline Heading */

.section--timeline--heading {
	padding: 20px;

	.block--heading {
		max-width: 700px;
		margin: 0 auto;
		padding: 0 0 35px;
		border-bottom: 1px solid #E0E0E0;
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			font-size: 24px;
			font-family: $playfair;
			font-weight: 700;
			margin: 0;
			color: #111111;
		}
	}
}

/* Our History: Timeline Entry */

.section--timeline--entry {
	background: $c-white;
	padding: 20px 0 30px;

	&.bg--grey {
		background: #FBFBFB;
	}

	.block--timeline--year {
		text-align: center;
		padding: 0;

		h1, h2, h3, h4, h5, h6 {
			font-size: 24px;
			font-family: $playfair;
			font-weight: 700;
			margin: 0 0 15px;
			color: #111111;
		}

		.timeline {
			border-left: 1px dashed #A1A1A1;
			width: 1px;
			height: 32px;
			margin: 0 auto;
		}
	}

	.block--timeline--event {

		.block--event--copy {
			text-align: center;

			.inner--event--copy {
				margin: 0 auto;
				width: 95%;
				max-width: 380px;

				p {
					font-size: 16px;
					font-family: $hk-grotesk;
					font-weight: 300;
					margin: 0 0 30px;
					color: $c-gray;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.block--event--img {
			padding: 20px;

			.inner--event--img {
				margin: 0 auto;

				img {
					width: 100%;
					height: auto;
					position: relative;	
					z-index: 2;
				}
			}

			&.shadow-padding {
				padding-bottom: 30px;
			}
		}

		/* Event: 1897 */

		&.event--1897-01 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					width: 75%;
					max-width: 225px;
				}
			}

			.block--event--img {
				padding-top: 30px;

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		&.event--1897-02 {

			.block--event--img {
				padding-top: 0;
				padding-bottom: 30px;

				.inner--event--img {
					max-width: 120px;
				}
			}
		}

		/* Event: 1988 */

		&.event--1988-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 320px;
				}

			}

			.block--event--img {
				padding-bottom: 30px;

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 1997 */

		&.event--1997-01 {

			.block--event--copy {

				.inner--event--copy {
					width: 75%;
					max-width: 225px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 133px;
				}
			}
		}

		/* Event: 2006 */

		&.event--2006-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 350px;
				}
			}

			.block--event--img {
				//padding-bottom: 30px;

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 2007 */

		&.event--2007-01 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					max-width: 365px;
				}
			}

			.block--event--img {

				.inner--event--img {
					//max-width: 100px;
				}
			}
		}

		&.event--2007-02 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					max-width: 380px;
				}
			}
		}

		&.event--2007-03 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					max-width: 200px;
				}
			}
		}

		&.event--2007-04 {

			.block--event--copy {
				padding-bottom: 30px;
			}

			.block--event--img {
				padding-bottom: 30px;

				.inner--event--img {
					max-width: 90px;
				}
			}
		}

		&.event--2007-05 {

			.block--event--copy {
				padding-bottom: 20px;
			}
		}

		/* Event: 2008 */

		&.event--2008-01 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					max-width: 365px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 100px;
				}
			}
		}

		&.event--2008-02 {

			.block--event--copy {
				padding-bottom: 30px;

				.inner--event--copy {
					max-width: 166px;
				}
			}

			.block--event--img {
				padding-bottom: 30px;

				.inner--event--img {
					max-width: 130px;
				}
			}
		}
		
		/* Event: 2009 */

		&.event--2009-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 219px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 169px;
				}
			}
		}

		&.event--2009-02 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 252px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 109px;
				}
			}
		}
		
		/* Event: 2010 */

		&.event--2010-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 120px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 2011 */

		&.event--2011-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 219px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 128px;
				}
			}
		}

		&.event--2011-02 {
			
			.block--event--copy {

				.inner--event--copy {
					max-width: 219px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 131px;
				}
			}
		}

		&.event--2011-03 {
			
			.block--event--copy {

				.inner--event--copy {
					max-width: 120px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 2012 */

		&.event--2012-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 219px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 131px;
				}
			}
		}

		/* Event: 2014 */

		&.event--2014-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 158px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 2015 */

		&.event--2015-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 165px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}			
		}

		&.event--2015-02 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 165px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		&.event--2015-03 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 127px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 119px;
				}
			}
		}

		/* Event: 2016 */

		&.event--2016-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 139px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 120px;
				}
			}
		}

		/* Event: 2017 */

		&.event--2017-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 165px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		&.event--2017-02 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 165px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 104px;
				}
			}
		}

		&.event--2017-03 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 165px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 150px;
				}
			}
		}

		/* Event: 2018 */

		&.event--2018-01 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 151px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 151px;
				}
			}
		}

		&.event--2018-02 {

			.block--event--copy {

				.inner--event--copy {
					max-width: 151px;
				}
			}

			.block--event--img {

				.inner--event--img {
					max-width: 118px;
				}
			}
		}
	}

	@media screen and (min-width: $mq-medium) {
		padding-bottom: 40px;

		.uk-container {
			max-width: 500px
		}

		.block--timeline--event {

			.block--event--copy {
				text-align: left;

				.inner--event--copy {
					width: 100%;
				}
			}

			/* Event: 1897 */

			&.event--1897-01 {

				.block--event--copy {
					padding-top: 30px;

					.inner--event--copy {
						width: 100%;
					}
				}
			}

			&.event--1897-02 {

				.block--event--copy {
					//padding-top: 50px;
				}

				.block--event--img {
					//padding-top: 30px;
					padding-bottom: 0;
				}
			}

			/* Event: 1988 */

			&.event--1988-01 {

				.block--event--copy {

					.inner--event--copy {
						padding-left: 20px;
						padding-top: 20px;
					}
				}

				.block--event--img {
					padding-bottom: 10px;
					padding-left: 0;
				}
			}

			&.event--1988-02 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0;
						padding-top: 0;
					}
				}
			}

			/* Event: 2006 */

			&.event--2006-01 {

				.block--event--copy {
					padding-top: 30px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-top: 30px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2007 */

			&.event--2007-01 {

				.block--event--copy {
					margin: 0 auto;
					max-width: 365px;
					
					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;
					margin: 0 auto;
					max-width: 365px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2007-02 {

				.block--event--copy {
					
					.inner--event--copy {
						
					}
				}
			}

			&.event--2007-03 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0;
					}
				}
			}

			&.event--2007-04 {

				.block--event--copy {
					padding-bottom: 0;
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2007-05 {

				.block--event--copy {
					padding-bottom: 20px;
				}
			}

			/* Event: 2008 */

			&.event--2008-01 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2008-02 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2009 */

			&.event--2009-01 {

				.block--event--copy {
					padding-top: 0;
					padding-bottom: 0;
					padding-left: 20px;


					.inner--event--copy {
						
					}
				}

				.block--event--img {

					.inner--event--img {
						
					}
				}
			}

			&.event--2009-02 {

				.block--event--copy {
					padding-top: 0;
					padding-bottom: 0;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2010 */

			&.event--2010-01 {

				.block--event--copy {
					padding-top: 30px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2011 */

			&.event--2011-01 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2011-02 {
				
				.block--event--copy {
					padding-left: 20px;
					padding-bottom: 30px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 20px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2011-03 {
				
				.block--event--copy {
					padding-top: 20px;
					padding-bottom: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-top: 20px;
					padding-bottom: 20px;
					padding-left: 0;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2012 */

			&.event--2012-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2014 */

			&.event--2014-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2015 */

			&.event--2015-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 40px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 40px;

					.inner--event--img {
						
					}
				}			
			}

			&.event--2015-02 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			&.event--2015-03 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2016 */

			&.event--2016-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2017 */

			&.event--2017-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 40px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 40px;

					.inner--event--img {
						
					}
				}
			}

			&.event--2017-02 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			&.event--2017-03 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2018 */

			&.event--2018-01 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 40px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 40px;

					.inner--event--img {
						
					}
				}
			}

			&.event--2018-02 {

				.block--event--copy {
					padding-bottom: 20px;
					padding-top: 20px;
					padding-left: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-bottom: 20px;
					padding-top: 20px;

					.inner--event--img {
						
					}
				}
			}
		}
	}

	@media screen and (min-width: $mq-large) {
		padding-top: 25px;
		padding-bottom: 50px;
		position: relative;
		overflow: hidden;

		.uk-container {
			max-width: 1200px
		}

		.block--timeline--year {
			margin-bottom: 40px;

			.timeline {
				height: 100%;
				position: absolute;
				top: 70px;
				left: 0;
				right: 0;

				&:before {
					content: "";
					height: 21px;
					border-left: 1px dashed #A1A1A1;
					width: 1px;
					position: absolute;
					top: -70px;
					left: -1px;
					right: 0;
					margin: 0 auto;
				}
			}
		}

		&.first {

			.block--timeline--year {

				.timeline {

					&:before {
						display: none;
					}
				}
			}
		}

		.block--timeline--event {

			/* Event: 1897 */

			&.event--1897-01 {

				.block--event--copy {
					padding-top: 5px;
					padding-left: 20px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-top: 10px;
				}
			}

			&.event--1897-02 {

				.block--event--copy {
					//padding-top: 65px;
					padding-left: 30px;
				}

				.block--event--img {
					//padding-top: 40px;
					padding-left: 30px;
				}
			}

			/* Event: 1988 */

			&.event--1988-01 {

				.block--event--copy {

					.inner--event--copy {
						padding-left: 20px;
						padding-top: 0;
					}
				}

				.block--event--img {
					padding-bottom: 0;
					padding-left: 15px;
				}
			}

			&.event--1988-02 {

				.block--event--copy {
					//padding-top: 130px;

					.inner--event--copy {
						margin: 0 auto;
					}
				}
			}

			/* Event: 1997 */

			&.event--1997-01 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2006 */

			&.event--2006-01 {

				.block--event--copy {
					padding-left: 30px;
					padding-top: 0;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 30px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2007 */

			&.event--2007-02 {

				.block--event--copy {
					padding-left: 30px;
					
					.inner--event--copy {
						margin: 0;
					}
				}
			}

			&.event--2007-03 {

				.block--event--copy {

					.inner--event--copy {
						margin: 0 auto
					}
				}
			}

			&.event--2007-04 {

				.block--event--img {
					padding-left: 30px;
				}

				.grid--block--event--img {
					width: 140px;
				}

				.block--event--copy {
					padding-left: 20px;
				}
			}

			&.event--2007-05 {

				.block--event--copy {

					.inner--event--copy {
						max-width: 200px;
						margin: 0 auto;
					}
				}
			}

			/* Event: 2008 */

			&.event--2008-01 {

				.block--event--copy {
					margin: 0 auto;
					max-width: 365px;
				}

				.block--event--img {
					margin: 0 auto;
					max-width: 365px;
				}
			}

			&.event--2008-02 {

				.grid--block--event--img {
					max-width: 180px;
				}

				.block--event--img {
					padding-left: 30px;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2009 */

			&.event--2009-01 {

				.block--event--copy {
					padding-left: 0;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2009-02 {

				.block--event--copy {
					padding-left: 30px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 30px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2010 */

			&.event--2010-01 {

				.block--event--copy {
					width: 190px;
					padding-left: 0;
					padding-right: 40px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					width: 190px;
					padding-left: 0;
					padding-right: 40px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2011 */

			&.event--2011-02 {
				
				.block--event--copy {
					padding-left: 30px;
				}

				.block--event--img {
					padding-left: 30px;
				}
			}

			&.event--2011-03 {
				
				.block--event--copy {
					padding-top: 20px;
					padding-bottom: 20px;

					.inner--event--copy {
						
					}
				}

				.block--event--img {
					padding-top: 20px;
					padding-bottom: 20px;
					padding-left: 0;

					.inner--event--img {
						
					}
				}
			}

			/* Event: 2012 */

			&.event--2012-01 {

				.block--event--copy {
					padding-left: 30px;
					padding-bottom: 10px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 30px;
					padding-bottom: 0;
					padding-top: 40px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			/* Event: 2014 */

			&.event--2014-01 {

				.block--event--copy {
					padding-left: 0;
					padding-right: 20px;
					padding-top: 40px;
				}

				.block--event--img {
					padding-right: 40px;
					padding-left: 0;
					padding-top: 40px;
				}
			}

			/* Event: 2015 */

			&.event--2015-01 {

				.block--event--copy {
					padding-left: 20px;
				}

				.block--event--img {
					padding-left: 40px;
					padding-right: 0;
				}			
			}

			&.event--2015-02 {

				.block--event--copy {
					padding-right: 20px;
				}

				.block--event--img {
					padding-left: 0;
					padding-right: 20px;
				}
			}

			&.event--2015-03 {

				.block--event--copy {
					padding-left: 20px;
				}

				.block--event--img {
					padding-left: 30px;
					padding-right: 0;
				}
			}

			/* Event: 2016 */

			&.event--2016-01 {

				.block--event--copy {
					padding-left: 0;
					padding-right: 10px;
				}

				.block--event--img {
					padding-left: 0;
					padding-right: 30px;
				}
			}

			/* Event: 2017 */

			&.event--2017-01 {

				.block--event--copy {
					padding-left: 30px;
				}

				.block--event--img {
					padding-left: 30px;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2017-02 {

				.block--event--copy {
					padding-left: 0;
					padding-right: 20px;
				}
			}

			&.event--2017-03 {

				.block--event--copy {
					padding-left: 30px;
				}

				.block--event--img {
					padding-left: 30px;
					padding-right: 0;
				}
			}

			/* Event: 2018 */

			&.event--2018-01 {

				.block--event--copy {
					padding-left: 0;
					padding-top: 0;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2018-02 {

				.block--event--copy {
					padding-left: 30px;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 30px;
					padding-right: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {
		padding-bottom: 60px;

		.uk-container {
			max-width: 1200px
		}

		.block--timeline--event {

			/* Event: 1897 */

			&.event--1897-01 {

				.block--event--copy {
					padding-left: 30px;
				}
			}

			&.event--1897-02 {

				.block--event--copy {
					padding-left: 50px;
				}
			}

			/* Event: 1988 */

			&.event--1988-01 {

				.block--event--copy {

					.inner--event--copy {
						padding-left: 0;
						padding-top: 0;
					}
				}

				.block--event--img {
					padding-left: 55px;
					padding-top: 0;
				}
			}

			/* Event: 2006 */

			&.event--2006-01 {

				.block--event--copy {
					padding-left: 40px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}

			/* Event: 2007 */

			&.event--2007-02 {

				.block--event--copy {
					padding-left: 40px;
				}
			}

			&.event--2007-04 {

				.block--event--img {
					padding-left: 40px;
				}

				.grid--block--event--img {
					width: 150px;
				}
			}

			/* Event: 2008 */

			&.event--2008-02 {

				.block--event--copy {
					padding-left: 5px;
				}

				.block--event--img {
					padding-left: 40px;
				}

				.grid--block--event--img {
					max-width: 190px;
				}
			}

			&.event--2009-02 {

				.block--event--copy {
					padding-left: 40px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}

			/* Event: 2010 */

			&.event--2010-01 {

				.block--event--copy {
					width: 200px;
					padding-right: 50px;
				}

				.block--event--img {
					width: 200px;
					padding-right: 50px;
				}
			}

			/* Event: 2011 */

			&.event--2011-02 {
				
				.block--event--copy {
					padding-left: 40px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}

			/* Event: 2012 */

			&.event--2012-01 {

				.block--event--copy {
					padding-left: 40px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}

			/* Event: 2014 */

			&.event--2014-01 {

				.block--event--img {
					padding-right: 50px;
				}
			}

			/* Event: 2015 */

			&.event--2015-01 {

				.block--event--img {
					padding-left: 50px;
				}

				.block--event--copy {
					padding-left: 30px;
				}		
			}

			&.event--2015-02 {

				.block--event--copy {
					padding-right: 30px;
				}
			}

			&.event--2015-03 {

				.block--event--copy {
					padding-left: 20px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}

			/* Event: 2016 */

			&.event--2016-01 {

				.block--event--copy {
					padding-right: 20px;
				}

				.block--event--img {
					padding-right: 40px;
				}
			}

			/* Event: 2017 */

			&.event--2017-01 {

				.block--event--img {
					padding-left: 0;
				}

				.block--event--copy {
					padding-left: 40px;
				}
			}

			&.event--2017-02 {

				.block--event--copy {
					padding-right: 30px;
				}
			}

			&.event--2017-03 {

				.block--event--img {
					padding-left: 40px;
				}

				.block--event--copy {
					padding-left: 40px;
				}
			}

			/* Event: 2018 */

			&.event--2018-01 {

				.block--event--copy {
					padding-left: 0;
					padding-top: 0;

					.inner--event--copy {
						margin: 0;
					}
				}

				.block--event--img {
					padding-left: 0;

					.inner--event--img {
						margin: 0;
					}
				}
			}

			&.event--2018-02 {

				.block--event--copy {
					padding-left: 10px;
				}

				.block--event--img {
					padding-left: 40px;
				}
			}
		}
	}
}

/* Investor Relations */

body {

	&.page-template-investor-relations-page {

		.shared-price-section {

			.goto {
				display: none;
			}
		}
	}
}

/* Investor Relations: Stats */

.about-more-section {

	&.section--investor-stats {
		background: $c-white;

		.about-more-el {

			.image-block {

				img {
					height: 84px;
					width: auto;
				}
			}

			.text-block {
				margin-bottom: 0;

				p {
					font-size: 20px;
					margin: 0 0 5px;
				}

				h1, h2, h3, h4, h5, h6 {
					font-size: 34px;
					margin: 0;
				}
			}
		}
	}
}

/* Investor Relations: Investment Case */

.section--investment-case {
	//margin: 30px 0;

	.block--investment-case--list {
		margin-bottom: 50px;

		.inner--investment-case--list {
			max-width: 450px;
			margin: 0 auto;
			padding: 0 20px;

			h1, h2, h3, h4, h5, h6 {
				font-size: 24px;
				font-family: $playfair;
				font-weight: 700;
				margin: 0 0 10px;
				color: #111111;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					line-height: 1.35;
					padding: 20px 0;
					margin: 0;
					border-bottom: 1px solid #E0E0E0;
					font-size: 16px;
					color: $c-gray;
				}
			}
		}

		&.block--investment-case--list--left {

			.inner--investment-case--list {

			}
		}
	}

	.block--investment-case--img {

		.inner--investment-case--img {
			text-align: center;
			position: relative;
			margin: 0 auto;

			img {
				width: 100%;
				max-width: 720px;
				height: auto;
			}

			&:before {
				content: '';
				position: absolute;
				//display: block;
				display: none;
				top: 20px;
				left: 20px;
				width: 100%;
				height: 100%;
				background: rgba($c-green, .1);
				z-index: -1;
			}
		}
	}

	.uk-button {
		@extend %btn-green;
		margin-top: 30px;
	}

	@media screen and (min-width: $mq-medium) {
		//margin: 50px 0;

		.block--investment-case--img {

			.inner--investment-case--img {

				&:before {
					display: block;
				}
			}
		}

	}

	@media screen and (min-width: $mq-large) {
		//margin: 60px 0 75px;

		.block--investment-case--list {
			margin-bottom: 0;

			.inner--investment-case--list {
				margin: 0;
				padding: 30px 0;
			}

			&.block--investment-case--list--left {

				.inner--investment-case--list {
					margin-left: 30px;
				}
			}
		}

		.block--investment-case--img {
			padding-left: 30px;

			.inner--investment-case--img {
				text-align: left;
				margin: 0;
				
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {
		//margin: 60px 0 100px;

		.block--investment-case--list {

			&.block--investment-case--list--left {

				.inner--investment-case--list {
					margin-left: 50px;
				}
			}
		}

		.block--investment-case--img {
			padding-left: 0;

			.inner--investment-case--img {
				
			}
		}
	}
}

/* Innovation */

.hero-section-regular {

	&.hero-section-innovation {

		.text-block {
			max-width: 400px;
			margin: 0 auto;

			p {
				font-weight: 700;
			}
		}

		@media screen and (min-width: $mq-medium) {

			.text-block {
				max-width: 540px;
			}
		}

		@media screen and (min-width: $mq-large) {

			.text-block {
				max-width: 640px;
			}
		}
	}
}

.section--video-innovation {

	&.alpha {
		background: $c-white;
		padding-bottom: 0;

		.block--video {

			&.image-block {
				padding-bottom: 30px;
			}
		}

		.block--text {

			&.text-block {
				padding-bottom: 0;	
			}
		}
	}

	&.beta {
		background: $c-white;
		padding-bottom: 0;
		padding-top: 0;

		.block--video {

			&.image-block {
				padding-bottom: 30px;
			}
		}

		.block--text {

			&.text-block {
				padding-bottom: 0;	
			}
		}
	}

	@media screen and (min-width: $mq-medium) {

		&.alpha {

			.block--video {

				&.image-block {
					padding-bottom: 40px;
				}
			}
		}

		&.beta {

			.block--video {

				&.image-block {
					padding-bottom: 40px;
				}
			}
		}
	}

	@media screen and (min-width: $mq-large) {

		&.alpha {
			padding-top: 0;

			.block--video {

				&.image-block {
					padding-bottom: 0;
				}		
			}

			.block--text {

				&.text-block {
					margin-left: 0;
					padding-left: 40px;
				}
			}
		}

		&.beta {
			padding-top: 0;

			.block--video {

				&.image-block {
					padding-bottom: 0;
				}		
			}

			.block--text {

				&.text-block {
					margin-left: 0;
					padding-right: 40px;
				}
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {

		&.alpha {

			.block--text {

				&.text-block {
					padding-left: 60px;
				}
			}
		}

		&.beta {

			.block--text {

				&.text-block {
					padding-right: 60px;
					max-width: none;
				}
			}
		}
	}
}

.section--consus {

	.block--innovation--consus--img {

		.inner--innovation--consus--img {
			min-height: 330px;
			height: 100%;

			&.img--no-cover {
				padding: 25px 0;
			}
		}
	}

	.block--innovation--consus--copy {
		background: $c-lightgray;
		padding: 25px;

		.inner--innovation--consus--copy {

			h1, h2, h3, h4, h5, h6 {
				font-size: 24px;
				font-family: $playfair;
				color: #111111;
				margin: 0 0 25px;
				font-weight: 700;
				text-transform: uppercase;
			}

			p {
				font-family: $hk-grotesk;
				font-size: 16px;
				color: $c-gray;
				margin: 0 0 25px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&.greenFullWidth {
		background: rgba(2, 105, 80, 0.1);

		.block--innovation--consus--copy {
			background: transparent;

			.inner--innovation--consus--copy {

				h1, h2, h3, h4, h5, h6 {
					text-transform: none;
				}
			}
		}

		.block--innovation--consus--img {

			.inner--innovation--consus--img {
				
			}
		}
	}

	@media screen and (min-width: $mq-medium) {

		.block--innovation--consus--copy {
			padding: 30px;
		}

		.block--innovation--consus--img {

			.inner--innovation--consus--img {

				&.img--no-cover {
					padding: 30px 0;
				}
			}
		}
	}

	@media screen and (min-width: $mq-large) {

		block--innovation--consus--copy {
			padding: 40px;
		}

		.block--innovation--consus--img {

			.inner--innovation--consus--img {

				&.img--no-cover {
					padding: 40px 0;
				}
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {

		block--innovation--consus--copy {
			padding: 50px;
		}

		.block--innovation--consus--img {

			.inner--innovation--consus--img {

				&.img--no-cover {
					padding: 45px 0;
				}
			}
		}
	}
}

/* Video Modal */

.uk-modal {

	&.modal--video {

		.uk-modal-dialog {
			width: 100%;
			max-width: 800px !important;
		}
	}
}

/* Form */

.help-block {
	display: none;
}

/* Heading */

.section--heading {
	padding: 0;

	.block--heading {
		padding: 0 0 20px;

		h1, h2, h3, h4, h5, h6 {
			@extend %heading-regular;
		}

		@media screen and (min-width: $mq-xlarge) {
			padding: 0 0 30px;
		}
	}
}

/* Update Blocks */

.section--update-blocks {

	.uk-container {
		max-width: none;
		padding: 0;
	}

	.block--update {
		position: relative;
		min-height: 300px;

		img {
			z-index: 1;
		}

		.block--copy {
			position: relative;
			//top: 25px;
			max-width: 300px;
			margin: 0 auto;
			//left: 0;
			//right: 0;
			z-index: 10;
			padding: 25px 0 30px;

			h1, h2, h3, h4, h5, h6 {
				@extend %heading-regular;
				color: #fff;
				margin-bottom: 40px;
			}

			p, li {
				color: #fff;
			}

			a {
				color: #fff;
				text-decoration: underline;
				font-weight: 700;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			img {
				max-width: 180px;
				height: auto;
				width: 100%;
			}

			
		}

		@media screen and (min-width: $mq-large) {
			min-height: 350px;
		}

		@media screen and (min-width: $mq-xlarge) {
			min-height: 350px;
		}
	}
}

/* Grid Blocks */

.section--grid-blocks {

	.grid-block {
		position: relative;

		&:before {
			border-bottom: 1px solid #e5e5e5;
			content: "";
			position: absolute;
			//top: 0;
			bottom: 0;
			left: 30px;
			right: 0;
			//border-left: 1px solid #e5e5e5;
		}

		&:last-child {

			&:before {
				display: none;
			}
		}
	}

	.block--col {
		padding: 20px;

		.block--img {

			img {

			}
		}

		.block--copy {
			max-width: 380px;

			h1, h2, h3, h4, h5, h6 {
				color: $c-green;
				@extend %heading-regular;
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 30px;
				color: $c-green;
			}

			ul, ol {
				margin-bottom: 30px;

				li {
					color: $c-green;
				}
			}

			a {
				color: $c-green;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
					color: $c-green;
				}
			}
		}
	}

	@media screen and (min-width: $mq-large) {

		.grid-block {
			margin-top: 0;
			padding-top: 30px;

			&:before {
				left: 15px;
				width: 100%;
			}

			&:not(.uk-first-column)::after {
				border-right: 1px solid #e5e5e5;
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
			}

			&.uk-first-column.grid-last {

				&::after {
					border-right: 1px solid #e5e5e5;
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: -16px;
				}
			}

			&.one-row-only {

				&:before {
					display: none;
				}
			}
		}
	}

	@media screen and (min-width: $mq-xlarge) {

		.block--col {
			padding: 40px 40px 30px 30px;
		}
	}
}

/* Corporate News */

.section--corporate-news-list {
	padding: 0 20px;

	.grid--news-article {
		margin-bottom: 60px;
	}

	.block--img {
		max-width: 300px;
		width: 100%;
		height: 300px;
		position: relative;
		margin-bottom: 30px;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(2, 105, 80, 0.1);
			z-index: -1;
			right: auto !important;
			top: auto !important;
			left: 23px !important;
			bottom: -23px !important;
			//right: auto !important;
			//top: auto !important;
			//left: -30px !important;
			//bottom: -30px !important;
		}

		.uk-cover-container {
			width: 100%;
			height: 300px;
		}
	}

	.block--copy {

		h2 {
			@extend %heading-regular;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 30px;

			&.date {
				font-style: italic;
				margin-top: 5px;
			}

			&.button {
				margin-top: 30px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.uk-button {
			@extend %btn-green;
		}
	}

	@media screen and (min-width: $mq-large) {
		padding: 0 10px 0 20px;

		.grid--news-article {
			margin-bottom: 80px;
		}

		.block--img {
			margin-bottom: 0;

			&:before {
				right: auto !important;
				top: auto !important;
				left: -23px !important;
				bottom: -23px !important;
			}
		}

		.block--copy {
			padding-left: 15px;
		}
	}

	@media screen and (min-width: $mq-xlarge) {
		padding: 0 40px;

		.grid--img {
			width: 35%;
		}

		.grid--copy {
			width: 60%;
		}

		.block--copy {
			padding-left: 0;
		}
	}

	@media screen and (min-width: 1440px) {
		padding: 0;

		.grid--img {
			width: 30%;
		}

		.grid--copy {
			max-width: 700px;
		}
	}
}

.simple-text-section {

	.text-block {

		.uk-button-news {
			text-decoration: none;

			span {
				color: $c-green;
				margin: 0 0 0 -12px;
			}
		}
	}
}

// Map Locations Call to Action

.section--map-cta {

	.simple-text-section {
		margin-bottom: 30px;
	}

	.map-cta--img {

		a {
			display: block;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	@media screen and (min-width: $mq-large) {

		.simple-text-section {
			margin-bottom: 50px;
		}
	}
}