/* Fonts */

$playfair: 'Playfair Display'; // 400, 400i, 700, 700i, 900, 900i
$hk-grotesk: 'HK Grotesk'; // 300, 300i, 400, 400i, 500, 500i, 600, 600i, 700, 700i

/* Colors */

$c-white: #fff;
$white: #fff;
$c-black: #000;
$c-darker: #101010;
$c-dark: #212121;
$c-gray: #686868;
$c-gray-light: #A1A1A1;
$c-lightgray: #F9F9F9;
$c-green: #026950;
$green: #026950;

/* Media Query Widths */

$mq-xsmall: 350px;
$mq-small: 480px;
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-large: 960px;
$mq-xlarge: 1200px;