{# Home Template #}

{% extends "_layout" %}

{% set templateName = "temp--home" %}

{# Contact Scroll Variable #}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{# Main Block Content #}

{% block content %}

	{# Banner #}

	{% include '_inc/_banner' %}

	{# Content Blocks #}

	{% include '_inc/_content-blocks' %}

{% endblock %}